/*		Icon
---------------------------------------------------------------*/

.su-icon {
	display: inline-block;
	margin: 0 1em 1em 0;
	text-decoration: none !important;
}
.su-icon i {
	display: inline-block;
	background-color: #eee;
	color: #444;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	vertical-align: middle;
	text-align: center;
	padding: 15px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.su-icon.square-size i {
	width: 1em;
	height: 1em;
}
.su-icon img {
	display: inline-block;
	vertical-align: middle;
}
a.su-icon:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.su-icon-text { margin-left: 0.5em; }