html, body, h1, h2, h3, h4, h5, h6, p, span {
	font-family: "Century Gothic", Arial, sans-serif!important;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0!important;
	padding: 5px 0 10px!important;
}
h1 {
    font-size: 30px!important;
}
h2 {
    font-size: 24px!important;
}
h3 {
    font-size: 20px!important;
}
h4 {
    font-size: 18px!important;
}
h5 {
    font-size: 16px!important;
}
h6 {
    font-size: 14px!important;
}
.row {
    margin-right: 0!important;
    margin-left: 0!important;
    
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    padding-left: 0;
}
p, ul, ol, dl, blockquote, pre, address, fieldset, figure {
    margin: 0;
}
ul, ol {
    padding: 0;
    margin: 0;
}
.border {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 30px;
}

 /* Filter Colors */
.cp-color-putty {
	background-color: #d0cabe;
}

.cp-color-smokegray {
	background-color: #525252;
}

.cp-color-charcoal {
	background-color: #1A1A1A;
}
.cp-color-tropicsand {
	background-color: #CEC87E;
}
.cp-color-smokegray {
	background-color: #767C83;
}
.header-default .uk-navbar-nav {
    float: left;
    margin-left: 50px;
}
 .headertype-fixed .header-top-wrapper {
   opacity: 1;
}
img.hikashop_child_image {
    border: 1px solid #ccc;
    height: 80px;
}
.catItemShareBlock ul {
	display: block;
}
.catItemShareBlock li {
    float: left;
    list-style-type: none;
    padding: 5px;
}


.active {
	color: #fff;
	border: 3px solid #0856a1!important;
	transition: all 0.5s ease;
	font-weight: 900;
}
.checkbox+.checkbox, .radio+.radio {
    margin-top: 5px!important;
}
/*.toolbar-wrapper ul li {
	margin-left: 10px;
}*/
.toolbar-wrapper ul li a {
    font-size: 14px;
}

.tm-sidebar-b {
	padding-top:0!important;
}
.su-pg-item {
    border: 1px solid #ccc;
}
/* input[type="radio"], input[type="checkbox"] {
    margin: 0;
    margin-top: 0;
    line-height: normal;
	display: none;
	float: left;
} */
.right {
	text-align: right;
	margin-right: 10px;
}
div.vci_mobile {
    margin: 0!important;
}
li.uk-parent ul li a:hover {
    opacity: 0.5;
}
li.uk-parent ul {
    display: none;
}
.mega-dropdown-inner .row-fluid:nth-child(2) {
    background: #fff;
    margin: 0;
    padding: 0;
}
.jux-megamenu .row-fluid + .row-fluid {
    background: #fff!important;
    border: 1px solid #111;
}
li.isl-visible a:hover, li.isl-visible a:visited, li.isl-visible a:active {
    color: #111;
    text-decoration: none;
}

.expanded-top-wrapper .uk-container {
    padding-top: 9px 0;
		margin-bottom: 25px;

}
#hikashop_product_price_main .hikashop_product_price_full {
    text-align: left;
    margin: 0;
	font-weight: 900;
	font-size: 18px;
	color: #0856a1;
}
.top-b-wrapper .uk-container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.tm-headerbar.uk-clearfix {
    padding: 5px;
}
.block-button {
	padding: 20px 30px;
	text-decoration: none;
	background: #f20000;
	color: #fff;
	font-size: 18px;
	margin: 2px 0 0 10px;
	float: left;
}
.block-button:hover{
	text-decoration: none;
	background: #ff1111;
    color: #fff;
}

.radio {  
    display: inline-block!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
}


.vci_list .vci50 {
	margin-right: 0;
}
.tm-hikashop_product_characteristics tbody {
    vertical-align: top;
}
.vci_left_list {
	width: 50%;
	float: left;
}
.content-category table {
    width: 800px;
    font-size: 23px;
	border: none;
	
}
.content-category a:hover {
	color: #0856a1!important;
}
.table.table-bordered td {
    padding: 10px;
    text-align: left;
	border-bottom: 1px solid #ccc;
}
.content-category td{
    margin: 10px;
    border: none;
}
.hikashop_product_variant_subname img {
    max-height: 50px;
}
.vci_recent .hikashop_product_image {
    height: 200px;
}

.hikashop_product_list_item h3 {
    font-weight: 900;    
    background: #ddd;
    padding: 10px;
    text-align: center;
}
.vci_right_list {
	width: 50%;
	float: left;
}
.vci_right_list ul {
	font-size: 12px;
	padding-left: 0;
    margin-top: 0;
}
.vci_right_list li{
	text-align: left;
	margin: 0;
}
.vci_icon_images {
	display: block;
}

.vci_list img.hikashop_product_listing_image {
    margin: auto;
    display: block;
}

.vci_icon_images img {
    margin: 3px 1px;
}

.tm-sidebar-a-right .tm-main .tm-content {
    padding-right: 5px;
}
a.vci_button_red {
	background: #f60000!important;
	color: #fff!important;
	float: left;
	padding: 5px 10px;
	margin-top: 10px;
}

.contact-block {
    display: block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.contact-block h3 {
    color: #0856a1;
}

.bold {
    font-weight: 900;
}

.sales-rep-name {
    margin-left: 5px;

}

.contact-button {
    padding: 10px 20px;
    border: none!important;
    color: #fff!important;
    margin-top: 10px;
}

.east {
    background-color: #52c6e9!important;
}
.central {
    background-color: #74c068!important;
}
.west {
    background-color: #0856a1!important;
}
.red {
    background-color: #f20000!important;
}

.map-size {
    width: 800px;
    height: 600px;
}
a.VCImodal {
	display: block;
}
.uk-navbar-nav > li:first-child {
	display: none;
}
.uk-navbar-nav > li {
background-color: #E6E6E6; background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
 background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
 border-right: 3px solid #fff;

}
#hikashop_category_information_module_270 div.hikashop_subcontainer, .expanded-top-wrapper{
   background-color: #E6E6E6; background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
 background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}
.uk-dropdown,.uk-navbar-nav div.uk-dropdown .uk-nav-navbar .uk-nav-sub {   
    font-size: 14px;
}
li.uk-parent.uk-nav-header {
    font-size: 14px;
}
.uk-nav-header:not(:first-child) {
    margin-top: 5px;
	padding-bottom: 10px;
}
div#hikashop_product_custom_info_main {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    background: #e3e3e3;
}

.hikashop_product_custom_name {
    margin-left: 10px;
}

body .tm-product-main-block .tm-hikashop_product_characteristics table tr {
    display: inherit;
}

.hikashop_product_characteristics_table .radio {
    padding: 5px 15px;
    border: 3px solid #ccc;
    text-align: center;
    background: #fff;
    color: #0856a1;
}
.controls img {
    max-width: 75px;
    max-height: 75px;
}
a.hikashop_product_file_link {
    padding: 10px 20px;
    float: left;
}
.vci-image.hikashop_product_file_link img {
    max-width: 100px;
    margin-right: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 3px 3px 20px #ccc;
    padding: 5px;
}
.vci-related .span4 {

    border: 1px solid #ececec;
}
.vci-related li.span4:nth-child(3n+1) {
    margin-left: 0!important;
}
.tm-sidebar-a-left .tm-sidebar-a, .tm-sidebar-b-left .tm-sidebar-b {
    padding-right: 35px;
    border: none!important;
}
.vci-contact {
	padding-left: 10px;
	display: block;
	position: relative;
}
.vci-block {
	display: inline-block;
	float: left;
}
.quickview {
	display: none;
	position:absolute;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	color: #f20000;
	font-size: 16px;
	font-weight: 900;
	line-height: 150px;
	text-decoration: none;
	background: rgba(255,255,255,0.7);
	bottom: 0;
}
span.hikashop_option_price_title {
	display: block;
	margin-top: -27px;
}
span.hikashop_product_price {
	margin-top:-27px;
}
span.hikashop_product_price, .hikashop_option_price_value {
    font-size: 30px!important;    
	font-weight: 900;
	color: #378b67!important;
}
.hikashop_product_list li {
	list-style-position: outside!important;
}
.hikashop_option_price_value {
	color: #234939!important;
}
span#hikashop_product_price_with_options_main {
    background: lightgreen;
    display: block;
    padding: 0px 18px 14px 10px;
}
#vci-product-code {
	padding: 0;
}
div#vci-bar {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    background: #fff;
}
span#hikashop_product_price_with_options_main {
    position: relative;
    top: -23px;
    width: 202px;
    left: -23px;
}
span.hikashop_option_info {
    background-image: none;
}

#part-number  {    
    text-align: left;   
    font-size: 24px;
	text-transform: uppercase;
	color: #111;
    font-weight: 900;
    margin-left: -15px;   
}
#product-name {
	font-size: 18px;
	font-weight: 900;
	color: #0856a1;
	text-transform: uppercase;
    letter-spacing: -0.03em;

}
.warning {
	color: #ffffff;
	background: #f20000;
	padding: 0 5px;
}
.stick {
    position: fixed;
    top: 0px;
	z-index: 500;
    transition: all 1.5s ease;
}
#sticky-anchor {
	padding: 0;
	margin: 0;
}
.mainbody-wrapper .uk-container-center {
    padding-top: 0;

}

.vci-fixed {
	/* padding: 3px;
	position: fixed;
	background: #fff;
	z-index: 20000;*/
}

#vci-product-header {
	border-bottom: 1px solid #ccc;
	max-width: 1240px;
}
#vci-product-header, #vci-product-content {
	width: 100%;
	background: #fff;
	padding: 10px;
}

.product50 {
	width: 50%;
	float: left;
}

#vci-code {
    display: block;
    float: left;
    width: 100%;
}

body .hikashop_products .hikashop_product_list li.hikashop_product_list_item  {
    border: none;
    padding: 20px 0px;
	margin-top: 10px;
}


[class*='uk-align-'] {

    margin-bottom: 0;
}


.vci_options img {
	float: left;
	width: 100px!important;
	margin-left: 5px;
    margin-top: 5px;
    
}


a.vci-product-name {
    font-size: 16px;
    font-weight: 900;    
    color: #0856a1;
    letter-spacing: -1px;
    display: block;
}
li.row.hikashop_product_list_item > div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 7px;
    min-height: 210px;
}

.list-image {
	border: none!important;
}
a.vci_button_red.button-right {
    float: right;
    margin-top: 8px;
}
.span2 img {
    max-height: 250px!important;
}

.span2 label {
    display: inline;
    float: left;
    margin: 3px 10px;
}

.span2 a.vci_button_red {
    display: block;
    float: right;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
.vci_na {
    background: #f20000;
    padding: 3px;
    color: #fff;
	margin-top: 0px;
	font-size: 10px;
}
.sales-rep {
	width: 184px;
	font-size: 12px;
}
.sales-rep img {
	width: 60px;
	margin-right: 5px;
}
#clicked-state {
    transition: all .3s ease;
    position: relative;    
    top: -333px;
    right: -435px;
}

.cab-filter {
	background: #fff;
	display: block;
	z-index:50;
}
.cab-filter .btn {
	background: #fff;
	padding: 0;
	float: right!important;
	margin-right: 20px;
}

.cab-filter .btn a {
	background: #f20000;
	color: #fff!important;
	width: 100px;
}
.cab-filter .hikashop_filter_checkbox label {
    border: none;
    padding: 0;
    color: #fff;
    background: #0856a1;
    width: 115px;
}
.hikashop_filter_title {
    font-size: 12px!important;
    font-weight: normal;
    margin-bottom: 5px;

}

.vci_options a.hikashop_product_name_in_list {
	font-size: 12px!important;
	font-weight: normal;
	text-transform: none!important;
	letter-spacing: inherit;
}

.vci-quick-view {
	background: #e8e8e8;
	text-align: center;
	width: 100px;
	margin: 20px auto 10px;
	display: block;
}
a.VCImodal:hover {
	text-decoration: none;
	color: inherit;
}
.vci_recent img {
    max-height: 200px;
    width: auto !important;
}
.vci_recent .vci_dimensions {
	display: none;
}
.vci_option_list .vci_dimensions {
	display: none;
}
.vci_recent .vci_left_list,.vci_option_list  .vci_left_list {
	width: 100%;
}
.vci_recent .vci_right_list,.vci_option_list  .vci_right_list{
	display: none;
}
.vci_options h3{
	font-weight: 900;
	color: #111;
	text-transform: uppercase;
	padding: 10px 5px;
}

.vci_mobile div.hikashop_category_image {
    height: auto!important;
}
.vci_mobile .span4 {
    width: 31.914893617021278%!important;
    float: left!important;
	margin-bottom: 0!important;
}

.vci_mobile h1 {
    color: #000000!important;
    margin: 0;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    background: #ccc;
}
.tm-toolbar .uk-float-right .uk-panel {

    float: right;
}

.uk-sticky-placeholder .menu-wrapper.uk-active, .uk-sticky-placeholder .tm-headerbar.uk-active {
    z-index: 9999;
}

body .tm-hikashop_tabs_ul li.hikashop_tabs_li_selected {
    color: #fff!important;
    background: #0856a1!important;
    padding: 10px 20px;
    margin-top: 20px;
}
.uk-dropdown-navbar, li.uk-parent.uk-nav-header {
	cursor: default!important;
}
.vci_options .hikashop_product_code_list {
	display: none;
}
.vci_options li {
	margin-bottom: 2px!important;
	border-bottom: 1px solid #cecece!important;
}
.vci_options li, .vci_recent li {
	margin: 2px 0!important;
}

.vci_options .hikashop_product_name {
	min-height: inherit;
}

.uk-grid + .uk-grid, .uk-grid-margin, .uk-grid > * > .uk-panel + .uk-panel {
    margin-top: 0px;
}


.vci_options .hikashop_product_price {
	font-size: 1.2em!important;
	text-align: right!important;
}


.hikashop_product_name {
	min-height: 64px;

}

.hikashop_product_name a {
	font-size: 13px!important;
}
.hikashop_filter_main_div_module_243 .hikashop_filter_main {
    margin-right: 3px;
    padding: 3px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
	height: 121px;
}

.vci-cabinet {
	color: #111;
	background: #e6e6e6;
	padding-left: 70px;
}

.vci_price h3 {
	margin: 0;
}

.hikashop_filter_main_div_module_273 .btn {
    display: none;
}

.filter_values_container img {

    height: 15px;

}
a.hikashop_filter_list_selected {
    color: #333;
}
div#hikashop_product_left_part div {
    text-align: left;
}
.vci-option-image {
    position: absolute;
    width: 300px;
    overflow: hidden;
    z-index: 10000;
    display: none;
    background: #0856a1;
    border: 1px solid #111;
    padding: 10px;
    margin-left: -150px;
    margin-top: 10px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;   
}

/** NEW MENU **/

.vci-menubar .hikashop_subcategories_listing {
    /* max-width: 1278px;*/
    margin: 3px auto -3px auto;
}

.vci-menubar {   
    background: #0856a1;
    padding: 3px 0 6px;
}

#offcanvas div.uk-panel:first-child {
    background: #fff;
    margin: 0;
    padding: 10px 30px 40px;
}
.uk-offcanvas-bar {    
    background: #0856a1;
   
}
.vci-sidebar ul > li > ul {
    display: none;
    list-style: none;
    margin-left: 10px;
}

.vci-menu > li > ul {
    display: none;
    margin-top: 3px;
    margin-left: -6px;
    border: 1px solid #bbb;
    box-shadow: 5px 5px 20px rgb(29, 29, 29);
  }
 .vci-menu {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}
ul.vci-menu > li {    
    margin-right: 16px;
    text-align: center;    
    border-radius: 0;
    display: inline-block;    
}

ul.vci-menu > li > a {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    color: #fff;
    text-decoration: none;
    padding-bottom: 8px;
}

ul.vci-menu > a:hover {
    text-decoration: none;
    color: #000;
}
ul.vci-menu > li > ul {
    background: #222;
    z-index: 9999;
    width: 200px;
    position: absolute;
    padding: 0;
}

ul.vci-menu, ul.vci-menu > li > ul {
    list-style: none;
}

ul.vci-menu > li > ul > li, ul.vci-sidebar-menu li > ul > li {
    list-style: none;
    border-bottom: #ccc 1px solid;
    padding: 8px 0 8px 10px;
    text-align: left;
}
ul.vci-menu > li > ul > li:hover {
    background: #111;
}
ul.vci-menu > li > ul > li a {
    color: #fff;
    padding: 8px 0;
}

ul.vci-menu > li > ul > li a:hover {
    text-decoration: none;
    color: #fff;
}
.heading-wrapper {    
    max-width: 1278px;
    margin: 0 auto;
}

.heading-wrapper a {
    color: #111;
}

.heading-wrapper a:hover {
    color: #333;
    text-decoration: none;
}

#vci-contact {
    text-align: right;
}

.vci-contact li {
    display: inline;    
}
ul.vci-headmenu {
    list-style: none;
    text-align: right; 
    padding-top: 10px;  
}
.vci-headmenu li {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #ccc;
    line-height: 10px;
}
.vci-headmenu li:last-child {
    border-right: none;
    padding-right: 0;
}
.span12.mega-col-nav {
    background: #f5f5f5;
    padding: 0;
    margin: -6px 0;
}

ul.nav.level0.jux-nav {
    background: #f5f5f5;
    font-size: 15px;
    padding-top: 15px;
}
span.mega-caption {
    line-height: 30px;
    font-size: 14px!important;
    color: #0856a1!important;
}


.dropdown-menu a:hover {
    background: #f60000;
}
.secondary-menu-item>a {
    color: #333!important;
}
.jux-megamenu .mega > .mega-dropdown-menu {
    min-width: 250px;
    display: block;
}
.jux-megamenu .span12.mega-col-nav .mega-inner {
    padding: 3px;
}
input#search-area296, input#suggestion-area296 {
    height: 44px;
    padding: 0 30px 0 44px;
} 
#ajax-search-button296 .magnifier {
  
    height: 44px;
    width: 44px;

}
/** HEADER BAR **/


img.vci-logo {
    height: 55px;
    display: inline-block;
}
.uk-float-right {
    margin-left: -250px;
}
.vci-search {
  margin-top: 14px; 
}
#hikashop_product_F89319_page .tm-hikashop_product_characteristics, #hikashop_product_F68932A4_F63725A8_F68806A4_page .tm-hikashop_product_characteristics, #hikashop_product_F68818A6_F63725A8_F68806A4_page  .tm-hikashop_product_characteristics, #hikashop_product_F68822A0_F63725A8_F68806A4_page .tm-hikashop_product_characteristics, #hikashop_product_F68815A3_F63725A8_F68806A4_page .tm-hikashop_product_characteristics{
	width: 100%;
	max-width: 700px;
}
#hikashop_product_F68932A4_F63725A8_F68806A4_page .tm-hikashop_product_characteristics label, #hikashop_product_F68818A6_F63725A8_F68806A4_page  .tm-hikashop_product_characteristics label, #hikashop_product_F68822A0_F63725A8_F68806A4_page .tm-hikashop_product_characteristics label, #hikashop_product_F68815A3_F63725A8_F68806A4_page .tm-hikashop_product_characteristics label {
	margin-right: 40px;
}
.vci-option-image img {
	border: 1px solid #111;
}
.hikashop_option_info img:hover  + .vci-option-image {
	display: block;
	transition: all .5s ease;

}
.hikashop_product_options_table tr{
	border: 1px solid #ccc;
}
.hikashop_product_options_table td{
	padding: 3px 5px 10px !important;
	background: #e9e9e9;
}
main.tm-content {
    padding: 50px 0;
}
#hikashop_product_HDSHELVING_page #vci-code .vci50:first-child {
    display: none;
}
#hikashop_product_HDSHELVING_page #vci-code .hikashop_product_price_full {
	display: none;
}
.vci_recent .hikashop_product_code_list a {
	color: #fff!important;
	text-decoration: none!important;
	font-size: 13px!important;
}
.category-icon {
    width: 14.666%;
    float: left;
    text-align: center;
    border: 1px solid #eee;
    margin-right: 1%;
    padding: 5px 0;
}
div#tmBottomB {
    padding: 50px;
}
.category-icon img {
	max-width: 125px;
	width: 100%;
}
.pic25 {
	width: 25%;
	float: left;
	text-align: center;
	font-size: 24px;
	margin: 0;
	padding: 0;

}
.pic25 img {
	width: 100%;
	max-height: 250px;
}
.uk-nav > li > a {
    padding: 5px 0px!important;
}

.bottom-b-wrapper ul li a {
    color: #fff;
    text-align: center;
}
/* Off Canvas Menu */

a.uk-navbar-toggle {
    display: none;
}

.pwebbox_toggler {
    line-height: 24px;
    font-family: "Century Gothic";
}
  /* Category Page Listing */
.hikashop_category_image_div {
	float: left;
	position: relative;
	padding: 5px;
}

.hikashop_filter_checkbox input {
	display: none;
}
/* Product Page Listing */
.hikashop_product_price_full {
    text-align: left;
}
@media (max-width: 767px){
.layout-full-wrapper {   
    padding: 0 15px;
    background: #fff;
}
}
@media (min-width: 767px){
.uk-width-medium-3-10 {
    width: 20%;
}
.tm-heading .uk-width-1-1.uk-width-medium-1-3:first-child {
    width: 17%;
}
.uk-hidden-small.uk-width-medium-1-3 {
    width: 65%;
}
.uk-width-1-1.uk-width-medium-1-3.uk-grid-margin {
    width: 18%;
    padding: 0;
}
.juxhk-megamenu .navbar-brand {    
    display: none;
    margin-top: -60px;
}

.jux-nav > li {
    float: left;
    position: relative;
    margin: 12px 0px 0 5px;
    padding: 0;
}
.jux-nav > li > a {
    padding: 3px 7px!important;
}

ul.mega-nav.level2, ul.mega-nav.level3 {
    width: 320px;
    background: #222!important;
}

ul.mega-nav.level1, ul.mega-nav.level2, ul.mega-nav.level3 {
    background: #0857a1;
    padding: 10px 1px!important;
}
}


.portfolio li .overlay h3 {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chzn-container {
  /* max-width: 300px!important;
   min-width: 300px!important; */
}
.hikashop_characteristic_line_554

.hikashop_product_characteristics_table label img {
	max-width: 75px;
	float: left;
    display: inline-block;
    opacity: 0.9;

}

.hikashop_product_characteristics_table label img:hover {
	opacity: 1;
	transition: all 0.5s ease;
}



.hikashop_product_characteristics_table td {
    width: 100%;
	min-width: 400px!important;
}

.hikashop_product_characteristics_table input {
	display: none;
}


.hikashop_product_characteristics_table input:checked + img {
	opacity: 1;
	transition: all 0.5s ease-in;

}
span.hikashop_option_price_value {
    padding-top: 6px;
    display: block;
}

span.hikashop_product_variant_subname {
    color: #111;
    font-size: 14px!important;    
    text-align: center;
    display: block;	
}

.vci-name {
    border: 1px solid;
    padding: 10px;
    float: left;
    margin: 3px;
    background: #e3e3e3;
}
.vci-row {
	width: 100%;
	clear: both;
	display: block;
}

ul.chzn-results {
    /* background: #ccc; */
    border: 1px solid #111;
    box-shadow: 10px 10px 30px;
    /* margin-top: -60px!important; */
}
.tm-product-main-block .tm-hikashop_product_characteristics {	
	padding: 0 0 4px 8px;
	border: 1px solid #8faabf;
	background: #e3e3e3; 
}


.hikashop_tabs_ul li {
    border: 1px solid #ccc;
    width: 104px;   
    text-align: center;
	padding: 9px 0;
	display: inline-block;
	background: #f3f3f3;
}
.hikashop_tabs_li_selected {
    border-bottom: none;
	background-color: #0856a1!important;
	color: #fff;
}
.hikashop_tabs_ul li:hover {
    cursor: pointer;
}
#specs {
	padding: 5px 0 0 0;
}
.specs {
    list-style: none;
    margin-right: 3px;
    color: #fff;
    display: inline-block;
    background: #72c267;
    padding: 5px 10px;
}
.tm-hikashop_product_characteristics.row {
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 20px #ccc;
}

.tm-hikashop_product_characteristics h3 {
    background: #e3e3e3;
    padding: 10px;
    color: #0856a1;
    text-align: center;
    padding-top: 10px;
    display: block;
    line-height: 41px;
    font-weight: 900;
    font-size: 24px!important;
    margin-top: 8px!important;
    border: none!important;
}

.hikashop_product_main_image_thumb {
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
}
.char-title {
    font-weight: 900;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #0856a1;
    font-size: 16px;
}

.hikashop_product_price_main {
    height: 50px;
}
#hikashop_tabs_div {
    margin-top: 20px;
}
#sb-container {
	z-index: 9999;
}
/*.mobile-cab input {
    display: none;
}
.mobile-cab label {
	display: inline-block;
	padding: 10px 3px;

}
.mobile-cab label img {
	max-width: 64px;
	}*/
/* Action Button */

.tp-caption a {
    color: #fff;
	text-decoration: none;
}
.tp-caption a:hover {
    color: #e5e5e5;
	text-decoration: none;
	font-size: 1.1em;
}
a.action-button {
    background: #f20000;
    padding: 10px 20px;
    color: #fff;
    float: right;
}

/* Custom Solutions Portfolio */
.portfolio li .overlay {
    background: #0856a1;
}


/* Hikashop Button */


.mobile-cab .hikashop_product_characteristics_table tr {
  /* width: 100%;	*/
}
/*a.hikashop_cart_button, .hikashop_cart_input_button {
    color: #fff!important;
    width: 100%;
	max-width: 100px;
    margin: 0;
    border: none;
    border-radius: none;
    background-color: #f20000;
    background: #f20000;
}
.hikashop_products a.hikashop_cart_button, .hikashop_products a.hikashop_cart_button:hover, #hikashop_checkout_coupon a.hikashop_cart_button, #hikashop_checkout_coupon a.hikashop_cart_button:hover {
    display: block;
    width: 100%;
}
a.hikashop_cart_button:hover, a.hikashop_compare_button:hover, .hikashop_cart_input_button:hover {
    box-shadow: none;
    display: inline-block;
    outline: none;
    border: none;
    border-color: inherit;
    text-decoration: none;
    background-color: #f20000;
    background: #f20000;

}*/

body .hikashop_products .hikashop_product_image .tm-hp-product-buttons form .hikashop_product_stock {
    background: transparent;
}
/* Header */
li.tm-nav-logo-centered {
    display: none;
}

.uk-navbar-nav > li > a {
    color: #000000;
    font-size: 15px!important;
    font-family: Century Gothic;
	font-weight: 900;
}


.uk-width-1-1.uk-width-large-1-2 {
    padding-left: 33px;
}
div#tmTopC {
    margin-top: 7px;
}
.uk-dropdown-width-3 ul li:first-child {
	text-transform: uppercase;
}
.tm-search, .uk-navbar-toggle {
    line-height: 0;
}

.footer-wrapper .uk-container a {
    font-size: 16px;
    color: #fff;
    margin: 10px;
}

.header-default .tm-search, .header-default .tm-header-bar {
		margin-top: 9px;
		margin-right: 0;
}

li.uk-parent:hover {
	cursor: pointer;
}

.headertype-fixed .mainheading-wrapper {
    padding-top: 85px!important;
}

.vci-category {
	margin-top: 32px;
}

.twelve {
	font-size: 12px;

}
li.uk-parent ul li a {
	color: #fff;
}
.uk-nav-navbar .uk-nav-header {
    color: #fff;
}
.uk-dropdown {
   padding: 7px 14px;
}


/* Top A */
.top-a-wrapper .uk-container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-a-wrapper .uk-container.uk-container-center {
    margin: 0;
	max-width: 100%;
}
/* off canvas over rides */
.header-default .uk-offcanvas-bar::after, .header-style2 .uk-offcanvas-bar::after {
    height: 0;
}
.tm-offcanvas [class*="tm-icon-"]::before, .tm-offcanvas [class*="tm-icon-"]::after {
    background: #111 none repeat scroll 0 0;
    color: #111;
}
.tm-offcanvas > a .tm-icon-menu {
    background: #111 none repeat scroll 0 0;
}
.header-default .tm-offcanvas::after {
    background-color: #111;
    height: 0px;
}
.pweb-horizontal.pweb-right .pwebbox_toggler.pweb-icon .pweb-icon {
    left: 0;
}
#pwebbox129_toggler {
	border-radius: 0 0 0 10px;
}
#pwebbox259_toggler {
	border-radius: 10px 0 0 10px;
	padding: 5px;
}
#pwebbox259_container {
    padding-top: 5px;;
}
.chzn-container-single .chzn-single {
	height: 41px;
}
#filter_values_container_Sort_11_module_273 .chzn-container {
	float: left;
	width: 300px!important;
}
table.hikashop_product_options_table {

	width: 100%;
}
#hikashop_product_contact_main a {
    float: left;
    margin-right: 7px;
}
.pwebbox_toggler {
	opacity: 1.0;
	text-align: center;
}
#pwebbox259_box {
    margin-top: -20px;
}
.pwebbox_toggler:hover {
	opacity: 1.0;
	-webkit-transition: .5s;
    transition: .5s;

}
.pweb-icon {
	position: relative!important;
	top: 0!important;
	margin: 0 auto;

}
.pweb-horizontal.pweb-right .pwebbox_toggler.pweb-icon {
    padding: 6px 10px 12px;
}

div#hikashop_main_slider_hikashop_category_information_module_256 {
    width: 100%!important;
}

span.subname {
	font-size: 0.6em!important;
}

.uk-container {    
    padding: 0!important;
}

@media screen and (max-width: 1420px) {

ul.vci-menu > li {
    margin-right: 8px;
}

ul.vci-menu > li > a {
    font-size: 12px;
}

}
@media (min-width: 1220px) {
.uk-container {    
    padding: 0!important;
}

}


@media screen and (max-width: 1260px) {

    ul.vci-menu {
        text-align: center;
    }

    .uk-container {
        max-width: 100%;
    }
    #vci-contact, #vci-headmenu {
        padding: 0 20px 0 0;
    }
    ul.nav.level0.jux-nav {
        font-size: 14px;
    }
    span.mega-caption {
        line-height: 20px;
        font-size: 10px!important;        
    }
}
@media screen and (max-width: 1091px) {

ul.vci-menu > li > a {
    font-size: 10px;
}
}
@media screen and (max-width: 960px) {

.category-icon {
    width: 45%;
	margin-bottom: 5px;
}
.pweb-horizontal.pweb-right .pwebbox_toggler.pweb-icon {
    padding: 10px 0;
}

.pweb-text {
	display: none;

}
#pwebbox129_toggler, #pwebbox259_toggler, #pwebbox132_toggler {
	width: 30px;
}

.vci30, .vci70, .vci50 {
	width: 100%;
	max-width: inherit;
}

.vci30 img, .vci70 img, .vci50 img {
	display: block;
	max-width: 100%;
	margin: 30px auto;
}

.uk-align-left img {
	float: none;
}

.vci_left_list, .vci_right_list {
	text-align: center;
	width: 100%;
}

.tm-sidebar-a-right .tm-main .tm-content {
    padding-right: 5px;
}

span.hikashop_product_price {
    color: #378b67!important;
    font-size: 1em!important;
	padding: 20px 0;
	text-align: right;
}
body .hikashop_products .hikashop_product_list li.hikashop_product_list_item {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
	margin-top: 20px;
}
.uk-container {

    padding: 0 5px;
}

.vci-search {
    padding: 5px 20px;
    margin-right: 0!important;
}
/* Off Canvas Menu */

a.uk-navbar-toggle {
    margin: 10px 0;        
    border-radius: 0;    
    background: #0856a1;
    display: block;
    width: 55px;
}
}

@media screen and (max-width: 770px) {

   

}
@media screen and (max-width: 600px) {
#hikashop_main_image_div img {
	width: 100%;
	max-width: 2800px;
	padding-top: 20px;
	float: left;
}
#product-name {
    margin: 0 0 3px 0;
    width: 100%;
    font-size: 14px;
    color: #0856a1;
    text-transform: uppercase;
    padding: 0;
	line-height: 14px;

}

}
@media screen and (max-width: 350px) {
.hikashop_product_price_full {
    padding-top: 10px !important;
    height: 100px!important;
    height: 100px!important;
}
}*/
