/*member*/
.su-member-style-1 .su-member-name {
    text-transform: uppercase;
    font-size: 1.4em;
}
.su-member-style-1 .su-member-role {
    text-transform: uppercase;
}
.su-member-style-1, .su-member-icons {
    border: none !important;
}
.su-member-style-1 .su-member-desc {
    border-top: 1px solid #444;
    padding-top: 15px;
}
.su-member-style-1 .su-member-ic a .fa {
    color: #444 !important;
}
.su-member-style-1 .su-member-ic a {
    margin: 0 1em;
}


/*portfolio*/
.sup-style1 .mega-entry .mega-entry-innerwrap {
    overflow: hidden !important;
}
.sup-style1 .mega-hover {
    position: relative;
    background: none;
    opacity: 1;
    z-index: 1;
    padding: 25px;
    box-sizing: border-box;
}
.sup-style1 .mega-hovertitle, 
.sup-style1 .mega-hoverlink, 
.sup-style1 .mega-hoverview {
    opacity: 1;
}
.sup-style1 .mega-hovertitle {
    bottom: auto !important;
    left: auto;
    text-align: left;
    font-size: 18px;
    line-height: normal;
    transform: translateY(-15px);
    opacity: 0;
    font-weight: normal;
}
.sup-style1 .mega-hoversubtitle {
    display: none;
}
.sup-style1 .mega-hoverlink, 
.sup-style1 .mega-hoverview {
    bottom: 25px;
    top: auto;
    border-radius: 50% !important;
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
    opacity: 0;
}
.sup-style1 .mega-hoverlink {
    right: auto !important;
    background-color: #444 !important;
    transform: translateY(15px);
}
.sup-style1 .mega-hoverview {
    left: 0 !important;
    margin-left: 70px !important;
    background-color: #fff !important;
    transform: translateY(30px);
}
.sup-style1 span.category {
    display: block;
    font-size: 13px;
    margin-top: 8px;
    color: #eee;
}

.cbp-caption-moveRight .cbp-caption:hover .cbp-caption-activeWrap {
    -webkit-transform: translateX(77%) skewX(-13deg) !important;
    transform: translateX(77%) skewX(-13deg) !important;
    text-align: right;
}
.cbp-caption-moveRight .cbp-l-caption-alignLeft .cbp-l-caption-body {
    transform: skewX(13deg) !important;
}

.cbp-caption-overlayBottom .cbp-caption-activeWrap {
    height: 75px !important;
}

/*section*/
.tm-features .su-section {z-index: 111;}
@media only screen and (min-width: 768px) and (max-width: 960px) {
    .tm-features .su-section {margin-top: -20% !important;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .tm-features .su-section {margin-top: -25% !important;}    
}

/*contact form*/
.su-contact_form .su-form-fields {
    display: block !important;
    margin: 0 !important;
}
.su-contact_form.name-email-subject .su-form-fields .form-group {
    float: none !important;
    clear: both;
    width: 100% !important;
    margin: 0 0 15px;
}
.su-form-wrapper .submit-button {
    margin-top: 15px !important;
    text-align: right;
}
.su-form-wrapper .submit-button input {
    min-width: 25%;
    text-align: center;
    margin-right: 0 !important;
}
.su-form-wrapper .submit-button input:hover {
    color: #fff !important;
}


/*post grid*/
.su-post-grid.template-style .postImage, 
.su-post-grid.template-style .postDesc {
    display: inline-block;
    width: 50%;
    float: left;
}
.su-post-grid.template-style .postImage {
    position: relative;
}
.su-post-grid.template-style .postDesc {
    padding: 6% 30px;
    text-align: center;
}
.su-post-grid.template-style .cbp-wrapper .cbp-item:nth-child(4n+3) .postImage, 
.su-post-grid.template-style .cbp-wrapper .cbp-item:nth-child(4n+4) .postImage {float: right;}
.su-post-grid.template-style .cbp-l-grid-blog-title{margin-top: 0;}

.su-post-grid.template-style .cbp-wrapper .cbp-item .postImage:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    content: '';
    border: 14px solid transparent;
    z-index: 11;
}

.su-post-grid.template-style .cbp-wrapper .cbp-item:nth-child(4n+1) .postImage:before,
.su-post-grid.template-style .cbp-wrapper .cbp-item:nth-child(4n+2) .postImage:before {
    border-right-color: #fff;
    right: -1px;
}

.su-post-grid.template-style .cbp-wrapper .cbp-item:nth-child(4n+3) .postImage:before,
.su-post-grid.template-style .cbp-wrapper .cbp-item:nth-child(4n+4) .postImage:before {
    left: -1px;
    border-left-color: #fff;
}
.tm-sidebar-a .flickrfeed li {
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0 5px 5px 0;
}

/*carousel*/
.su-carousel-style-1 .su-carousel-slide {
    text-align: left !important;
}
.su-carousel-style-1 .su-carousel-caption .su-cmeta {
    margin-bottom: 5px;
}

.su-carousel-style-1 .su-carousel-slide-title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: normal;
}

.su-carousel-style-1 .su-carousel-image {
    margin: -20px -20px 0;
}
.su-carousel-caption {
    padding-left: 12px !important;
}

@media (max-width: 980px) {
   .su-post-grid.template-style .cbp-wrapper .cbp-item:nth-child(2n+0) .postImage {
        float: right !important;
   }
   .su-post-grid.template-style .cbp-wrapper .cbp-item:nth-child(2n+0) .postImage:before {
        border-left-color: #fff;
        left: -1px;
        border-right: 0;
   }
   .su-post-grid.template-style .cbp-wrapper .cbp-item .postImage {
        float: left !important;
   }
    .su-post-grid.template-style .cbp-wrapper .cbp-item:nth-child(2n+1) .postImage:before {
        right: -1px;
        border-right-color: #fff;
        border-left: 0;
    }
    
}

@media (max-width: 768px) {
   .su-post-grid.template-style .postImage, 
    .su-post-grid.template-style .postDesc {
        width: 100% !important;
        float: none !important;
    }
    .su-post-grid.template-style .cbp-wrapper .cbp-item .postImage:before {
        display: none !important;
    }
    .su-post-grid.template-style .postDesc {
        padding: 15px 30px 30px !important;
    }
}