body {
    font-family: "Century Gothic", Arial, sans-serif!important;
}
body section {
    padding-top: 120px;    
}
.navbar-inverse {
    background-color: #0856a1;
}
.white {
    background: #fff;
}
.header {
    line-height: 1px;
}
.navbar {
    min-height: 1px;
}
.vci-menubar .hikashop_subcategories_listing {
    max-width: 1400px;
    margin: 3px auto -3px auto;
}

.vci-menubar {
    text-align: right;
}
.vci-menu > li.hikashop_category_list_item > ul {
    display: none;
    margin-top: 4px;
    margin-left: -10px;
    border: 1px solid #bbb;
    box-shadow: 3px 3px 10px rgb(29, 29, 29. 0.5);
  }

ul.vci-menu > li {    
    text-align: center;    
    background: #ccc;
    border-radius: 0;
    display: inline-block;
    background-color: #E6E6E6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
    background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}

ul.vci-menu > li {
    padding: 12px 16px;
    line-height: 14px;
}

ul.vci-menu > li > a {
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    color: #111;
    text-decoration: none;
}

ul.vci-menu > a:hover {
    text-decoration: none;
    color: #000;
}
ul.vci-menu > li > ul {
    background: #0856a1;
    z-index: 9999;
    width: 200px;
    position: absolute;
    padding: 0;
}

ul.vci-menu, ul.vci-menu > li > ul {
    list-style: none;
}

ul.vci-menu > li > ul > li {
    list-style: none;
    border-bottom: #0a68c3 1px solid;
    padding: 8px 0 8px 10px;
    text-align: left;
}
ul.vci-menu > li > ul > li:hover {
    background: #043563
}
ul.vci-menu > li > ul > li a {
    color: #fff;
    padding: 8px 0;
}

ul.vci-menu > li > ul > li a:hover {
    text-decoration: none;
    color: #ddd;
}
.heading-wrapper {
    background: #0856a1;
    color: #fff;
    max-width: 1400px;
    margin: 0 auto;
}

.heading-wrapper a {
    color: #fff;
}

.heading-wrapper a:hover {
    color: #eee;
    text-decoration: none;
}

#vci-contact {
    text-align: right;
    padding: 8px 15px;
}

.vci-contact li {
    display: inline;    
}
ul.vci-headmenu {
    list-style: none;
    text-align: right;   
}
.vci-headmenu li {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #ccc;
    line-height: 10px;
}
.vci-headmenu li:last-child {
    border-right: none;
    padding-right: 0;
}