
.contentpane.component {
	height: auto;
}
.su-generator-clearfix:before,
.su-generator-clearfix:after {
	display: table;
	content: " ";
}
.su-generator-clearfix:after { clear: both; }
.su-generator-clear {
	height: 0;
	clear: both;
	overflow: hidden;
}
.su-generator-hidden { display: none !important; }

.su-generator-loading {
	min-height: 60px;
	background: 50% 50% url("../images/spinner.gif") no-repeat !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .su-generator-loading {
    	background: 50% 50% url("../images/spinner@2x.gif") no-repeat !important;
    	background-size: 32px 32px !important;
    }
}

.su-generator-loading * { visibility: hidden; }

.su-generator-button img {
	margin: -1px 2px 0 -5px;
	vertical-align: middle;
}
.wp-media-buttons .su-generator-button img {
	margin: -1px -1px 0 -4px;
	vertical-align: middle;
}

#su-generator-wrap { display: none; padding: 15px; background-color: #fff; }
#su-generator {
	font-family: "Open Sans", sans-serif, arial;
	-webkit-font-smoothing: subpixel-antialiased;
	position: relative;
	margin: 0 auto;
	padding: 0px;
	background: #fff;
	-webkit-transition: max-width .2s;
	-moz-transition: max-width .2s;
	transition: max-width .2s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Generator tools */
#su-generator-tools { margin-bottom: 20px; }
#su-generator-tools span {
	display: inline-block;
	width: 1px;
	height: 1em;
	margin: 0 0.5em;
	border-right: 1px dotted #555;
	vertical-align: middle;
}

/* Search box */
.su-search-wrapper {
	position: relative;
}

#su-generator-search {
  background: url("../images/search.png") no-repeat scroll 5px 50% #fff;
  border: 2px solid #D5D5D5;
  border-radius: 4px;
  font-size: 1.3em;
  line-height: 21px;
  margin-bottom: 30px;
  padding: 5px 45px;
  height: 45px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none !important;
  z-index: 1;
}
#su-generator-search:focus {
	box-shadow: none !important;
	border: 2px solid #c5c5c5;
}
.su-search-hints {
	position: absolute;
	  bottom: 10px;
	  right: 0px;
	  opacity: 0;
	  color: #888;
	  border-radius: 2px;
	  padding: 0px 5px;
	  font-size: 11px;
	  -webkit-transition: all .25s ease;
	  transition: all .25s ease;
	  z-index: 0;
	  font-style: italic;
}
.su-search-wrapper:hover .su-search-hints {
	opacity: 1;
}


/* Filter box */
#su-generator-filter {
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	color: #555555;
	line-height: 24px;
	padding: 14px 20px;
	text-align: center;
	font-size: 13px;
}
#su-generator-filter a,
#su-generator-filter strong {
	display: inline-block;
	margin: 0 1em;
	line-height: 1;
}
#su-generator-filter a {
	border-bottom: 1px dotted #CCCCCC;
	color: #000000;
	font-size: 12px;
	padding: 3px;
	text-decoration: none;
	text-transform: uppercase;
}
#su-generator-filter a:active, #su-generator-filter a:focus {
	outline: 1px dotted;
	border-bottom: none;
}
/* Dropdown choices */
#su-generator-choices {
	margin-top: 20px;
	text-align: left;
	border-bottom: 1px solid #E5E5E5;
}
#su-generator-choices > span {
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #FFFFFF;
	color: #222222;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 13px;
	height: 35px;
	line-height: 35px;
	margin: 0;
	overflow: hidden;
	padding: 0 5px 0 30px;
	position: relative;
	text-align: left;
	vertical-align: top;
	width: 20%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: all 400ms ease-out;
}
#su-generator-choices span:hover {
	background: #424242;
	color: #FFF;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
#su-generator-choices span img {
	position: absolute;
	top: 7px;
	left: 7px;
	width: 14px;
	height: 14px;
}
#su-generator-choices span i {
	color: #888888;
	display: block;
	font-size: 14px;
	height: 31px;
	left: 1px;
	line-height: 32px;
	position: absolute;
	text-align: center;
	top: 1px;
	width: 26px;
	transition: all 230ms ease-in;
}
#su-generator-choices span:hover i { color: #fff; }

/* Breadcrumbs */
#su-generator-breadcrumbs {
	background: #fefefe;
	border: 1px solid #E5E5E5;
	border-radius: 2px;
	color: #555555;
	line-height: normal;
	padding: 14px 20px;
	margin-bottom: 10px;
}
#su-generator-breadcrumbs span {
	margin-right: 1em;
	font-weight: bold;
}
#su-generator-breadcrumbs small {
	color: #bbb;
	font-weight: normal;
	font-size: 0.9em;
}


/* Attribute container */
#su-generator-settings .su-generator-field-container {
	background: #fefefe;
    border: 1px solid #e2e2e2;
    margin: 0 0 10px;
    padding: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03) inset;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03) inset;
}
@media (min-width: 768px) {
	#su-generator-settings .su-generator-field-group {
		display: table;
		width: 100%;
		margin: 0 0 10px;
		background: #fefefe;
		border: 1px solid #e2e2e2;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03) inset;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03) inset;
		table-layout: fixed;
	}
	#su-generator-settings .su-generator-field-group .su-generator-field-container {
		display: table-cell;
		width: 1%;
		margin: 0;
		border: none;
		background: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	#su-generator-settings .su-generator-field-group .su-field-type-icon {
		width: 3%;
	}

	
}

#su-generator-settings .su-generator-field-container .su-generator-field-actions .btn {
	padding: 4px 8px !important;
	font-size: 12px;
	margin: 0px;
}


/* Attribute name */
#su-generator-settings h5,
#su-generator-preview h5 {
	margin: 0 0 15px 0;
	font-size: 1.1em;
}

/* Attribute description */
.su-generator-attr-desc {
	margin-top: 10px;
	color: #aaa;
	line-height: 1.3;
	font-size: 12px;
	font-style: italic;
}
.su-generator-attr-desc b { color: #999; }

/* Small text after text field */
.su-generator-px-units {
	position: relative;
	margin-right: 15px;
}
.su-generator-px-units:before {
	position: absolute;
	right: -18px;
	bottom: 3px;
	display: block;
	width: 15px;
	color: #999;
	content: 'px';
	text-align: left;
	font-size: 0.9em;
}

/* Clickable values in attribute description */
.su-generator-attr-desc b.su-generator-set-value {
	border-bottom: 1px dotted #999;
	cursor: pointer;
}
.su-generator-attr-desc b.su-generator-set-value:hover {
	border-bottom: 1px dotted #333;
	color: #333;
}

/* Common attribute fields */
#su-generator-settings input[type="text"],
#su-generator-settings input[type="number"],
#su-generator-settings textarea,
#su-generator-settings select {
	border: 2px solid #CCCCCC;
	height: auto;
	margin: 0;
	padding: 7px 10px;
	width: 100%;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: none;
}
#su-generator-settings input[type="text"]:focus,
#su-generator-settings input[type="number"]:focus,
#su-generator-settings textarea:focus,
#su-generator-settings select:focus {
	border-color: #bbb;
}

/* Upload fields */
.su-generator-field-actions { padding-top: 10px; }

/* Icon picker */
.su-generator-icon-picker-wrapper,
.su-generator-img-picker-wrapper {
	position: relative;
}
.su-generator-icon-picker-wrapper .su-generator-field-actions,
.su-generator-img-picker-wrapper .su-generator-field-actions {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 0;
}

.su-generator-field-actions .btn i {
	margin-right: 3px;
}

.su-generator-icon-picker,
.su-generator-licon-picker {
	height: 0;
	margin: 0 -20px;
	padding: 0 20px;
	overflow: hidden;
	background: #eee;
	line-height: 24px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}
.su-generator-icon-picker.su-generator-icon-picker-visible,
.su-generator-licon-picker.su-generator-licon-picker-visible {
	height: auto;
	margin: 1em -20px 0 -20px;
	padding: 14px 20px;
	overflow: visible;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.su-generator-icon-picker input, 
.su-generator-licon-picker input { margin-bottom: 15px !important; }

.su-generator-icon-picker i {
	display: block;
	width: 24px;
	height: 24px;
	margin-left: 2px;
	float: left;
	color: #555;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	cursor: pointer;
}
.su-generator-icon-picker i:hover {
	color: #000;
	font-size: 24px;
}

.su-generator-licon-picker i {
	display: block;
	width: 32px;
	height: 32px;
	margin-left: 2px;
	float: left;
	color: #000;
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	cursor: pointer;
}

.su-generator-licon-picker i:hover {
	color: #000;
	font-size: 32px;
}

/* Shadow picker */
.su-generator-shadow-picker { }
.su-generator-shadow-picker-field {
	position: relative;
	display: inline-block;
	width: 22%;
	padding-right: 3%;
}
.su-generator-shadow-picker-field small {
	display: block;
	color: #ccc;
}
.su-generator-shadow-picker-field input { text-align: right; }
.su-generator-shadow-picker-field.su-generator-shadow-picker-color {
	width: 25%;
	padding-right: 0;
}
.su-generator-shadow-picker-field.su-generator-shadow-picker-color input { text-align: left; }
.su-generator-shadow-picker-color { position: relative; }
.su-generator-shadow-picker-color-wheel {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 9999;
	display: none;
	border: 1px solid #aaa;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 2px 5px #ccc;
	-moz-box-shadow: 0 2px 5px #ccc;
	box-shadow: 0 2px 5px #ccc;
}

/* Border picker */
.su-generator-border-picker { }
.su-generator-border-picker-field {
	position: relative;
	display: inline-block;
	width: 30%;
	padding-right: 3%;
}
.su-generator-border-picker-field small {
	display: block;
	color: #ccc;
}
.su-generator-border-picker-field input { text-align: right; }
.su-generator-border-picker-field.su-generator-border-picker-color {
	width: 34%;
	padding-right: 0;
}
.su-generator-border-picker-field.su-generator-border-picker-color input { text-align: left; }
.su-generator-border-picker-color { position: relative; }
.su-generator-border-picker-color-wheel {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 9999;
	display: none;
	border: 1px solid #aaa;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 2px 5px #ccc;
	-moz-box-shadow: 0 2px 5px #ccc;
	box-shadow: 0 2px 5px #ccc;
}

/* Range pickers */
.su-generator-range-picker { }
.su-generator-range-picker .slider {
	width: 100%;
	margin: 8px 0 0 0 !important;
	padding: 0;
	float: left;
}
.su-generator-range-picker .slider > .dragger { background: #fff !important; }
.su-generator-range-picker .slider:hover > .dragger {
	background: #fff !important;
	-webkit-box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
	-moz-box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
	box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
}
.su-generator-range-picker .slider > .dragger.dragging {
	background: #ccc !important;
	-webkit-box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
	-moz-box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
	box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
}
.su-generator-range-picker .slider > .track {
	height: 12px !important;
	border: 1px solid #ccc !important;
	background: #fff !important;
}
.su-generator-range-picker input {
	padding: 5px !important;
	margin-top: -60px !important;
	border: none !important;
	float: right;
	background: none !important;
	text-align: right;
	font-weight: 600;
	width: 70px !important;
}

/* Switches */
.su-generator-switch {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	cursor: pointer;
}
.su-generator-switch span {
	display: none;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.su-generator-switch-yes span.su-generator-yes {
	display: block;
	background: #e0ffe0;
	color: #0c0;
}
.su-generator-switch-no span.su-generator-no {
	display: block;
	background: #DBDBDB;
	color: #444;
}

/* Color pickers */
.su-generator-select-color {
	position: relative;
	display: inline-block;
	width: 100%;
}
.su-generator-select-color input[type*='text']  {
	background-color: #000;
}
.su-generator-select-color-wheel {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999;
	display: none;
	border: 1px solid #aaa;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 2px 5px #ccc;
	-moz-box-shadow: 0 2px 5px #ccc;
	box-shadow: 0 2px 5px #ccc;
}

/* Image source picker */
.su-generator-isp { margin-bottom: 15px; }
.su-generator-isp-source {
	height: 0;
	margin: 0 -20px;
	padding: 0 20px;
	overflow: hidden;
	background: #eee;
	color: #555;
	opacity: 0;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	transition: opacity .2s;
}
.su-generator-isp-source.su-generator-isp-source-open {
	height: auto;
	margin: 20px -20px 0;
	padding: 14px 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	opacity: 1;
}
.su-generator-isp-images {
	margin-top: 1em;
	overflow: auto;
}
.su-generator-isp-images span {
	position: relative;
	display: block;
	width: 84px;
	height: 84px;
	margin: 5px 5px 5px 0;
	float: left;
	border: 3px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 1px 2px #999;
	-moz-box-shadow: 0 1px 2px #999;
	box-shadow: 0 1px 2px #999;
}
.su-generator-isp-images span:hover,
.su-generator-isp-images span.ui-sortable-helper {
	-webkit-box-shadow: 0 1px 6px #777;
	-moz-box-shadow: 0 1px 6px #777;
	box-shadow: 0 1px 6px #777;
}
.su-generator-isp-images img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.su-generator-isp-images span i {
	position: absolute;
	top: -3px;
	right: -3px;
	display: none;
	width: 16px;
	height: 16px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	color: #f03;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	cursor: pointer;
}
.su-generator-isp-images span:hover i { display: block; }
.su-generator-isp-images span i:hover {
	background: #f03;
	color: #fff;
}
.su-generator-isp-categories,
.su-generator-isp-taxonomies,
.su-generator-isp-terms { margin-top: 15px; }


/* Preview box */
#su-generator-preview {
	display: none;
	margin: 0;
	padding: 1.5em 0px;
	overflow: hidden;
}
/* make some previews visible */
#su-generator-preview .su-column { outline: 1px dotted #ccc; }

/* Actions box */
.su-generator-actions {
	background: #fefefe;
    border: 1px solid #eee;
    margin: 0;
    padding: 20px;
}
.su-generator-actions > .button { margin: 0 5px; }
.su-generator-actions .button i { margin: 0 5px 0 -3px; }
.su-generator-presets { 
    position: relative;
}
@media (min-width: 768px) {
	.su-generator-presets { 
		display: inline-block;
	    float: right;
	}
}
.su-generator-presets > .btn { cursor: default; }
.su-gp-popup {
	background: #92CF76;
    border: 1px solid #92CF76;
	-webkit-border-radius: 2px;
	border-radius: 2px;
    bottom: 34px;
    display: none;
    max-width: 500px;
    min-width: 260px;
    position: absolute;
    right: 0;
}
.su-gp-head {
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 1px dotted rgba(255,255,255,0.4);
}
.su-gp-head .btn {
	display: block;
	text-align: center;
}
.su-gp-list {
	margin: 0;
}
.su-gp-list b {
	display: block;
	padding: 5px 10px;
	color: #DEFAD1;
	font-weight: normal;
	font-style: italic;
}
.su-gp-list span {
	position: relative;
	display: block;
	padding: 5px 10px;
	overflow: hidden;
	color: #F5F5F5;
	cursor: pointer;
}
.su-gp-list span:nth-child(odd) { background: rgba(0,0,0,0.08); }
.su-gp-list span:hover {
	background: rgba(0,0,0,0.05);
	color: #ffffff;
}
.su-gp-list span em {
	margin-right: 32px;
	white-space: nowrap;
	font-style: normal;
}
.su-gp-list span i {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
}
.su-gp-list span i:hover {
	background: #f03;
	color: #fff;
}

.su-generator-choice-first {
	border: 1px dotted #09f !important;
}
.sug-badge {
	font-weight: normal;
	float: right;
	position: absolute;
	line-height: 9px;
	font-size: 7px;
	color: #fff;
	padding: 2px 3px;
	border-radius: 2px;
	top: 11px;
	margin-left: 10px;
	text-transform: uppercase;
}
.sug-badge.badge-b, .sug-badge.badge-beta {
	background: #4FC1E9;
}
.sug-badge.badge-n, .sug-badge.badge-new {
	background: #92CF76;
}
.sug-badge.badge-u, .sug-badge.badge-update {
	background: #FFB42E;
}
.sug-badge.badge-r, .sug-badge.badge-remove {
	background: #FF2E2E;
}
.su-help-link {
	border: none;
	font-size: 11px;
	position: absolute;
	right: 11px;
	top: 10px;
	color: #FFFFFF;
	text-decoration: none;
	background: #92CF76;
	padding: 3px 6px;
	border-radius: 2px;
	line-height: 18px;
}
.su-help-link:hover {
	text-decoration: none;
	background-color: #71B950;
	color: #fff;
}

#su-generator .btn {
	background-image: none;
	box-shadow: none;
	border:none;
	text-shadow: none;
	padding: 7px 14px;
	border-radius: 2px;
}
#su-generator .btn.btn-small {
	padding: 4px 8px;
}

@media (min-width: 768px) and (max-width: 959px) {
	#su-generator-choices > span {
		width: 25%;
	}
}

@media (max-width: 767px) {
	#su-generator-choices > span {
		width: 33.33%;
	}
	.su-generator-insert, .su-generator-toggle-preview, .su-generator-shortcode-preview, .su-generator-presets {
		width: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 5px !important;
		display: inline-block;
	}
	.su-generator-presets .btn {
		width: 100%;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		        margin: 0;
	}
	.su-gp-popup {
		bottom: 32px;
	}

	#su-generator-wrap {
		padding: 15px 0px;
		margin-left: -10px;
		margin-right: -10px;
	}
}

@media (max-width: 480px) {
	#su-generator-choices > span {
		width: 50%;
	}
	#su-generator-filter {
		display: none !important;
	}
}

/* bug fix */
.su-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}