.su-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 0 -25px;
  padding: 0;
  list-style: none;
}
/*
 * DEPRECATED
 * Micro clearfix
 * Can't use `table` because it creates a 1px gap when it becomes a flex item, only in Webkit
 */
.su-row:before,
.su-row:after {
  content: "";
  display: block;
  overflow: hidden;
}
.su-row:after {
  clear: both;
}
/*
 * Grid cell
 * 1. Space is allocated solely based on content dimensions
 * 2. Makes row more robust so that it can be used with other block elements
 * 3. Create horizontal gutter
 * 4. DEPRECATED Using `float` to support IE9
 */
.su-row > * {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  margin: 0;
  padding-left: 25px;
  float: left;
}
/*
 * Remove margin from the last-child
 */
.su-row > * > :last-child {
  margin-bottom: 0;
}
/* Grid gutter
 ========================================================================== */
/*
 * This class is set by JavaScript and applies a vertical gutter if the columns stack or float into the next row
 * Higher specificity to override margin
 */

.su-row.margin-bottom-yes { margin-bottom: 25px !important;}
.su-row.margin-top-yes { margin-bottom: 25px !important;}

/*
 * Larger gutter for large screens
 */

/* Horizontal gutter */
.su-row:not(.su-row-preserve) {
  margin-left: -35px;
}
.su-row > * {
  padding-left: 35px;
}


/* Tablet and bigger */
@media (min-width: 768px) {
  /* Modifier: `has-divider`
   ========================================================================== */
  /*
   * Horizontal divider
   * Does not work with `su-push-*`, `su-pull-*` and not if the columns float into the next row
   */
  .has-divider:not(:empty) {
    margin-left: -25px;
    margin-right: -25px;
  }

  .has-divider > * {
    padding-left: 25px;
    padding-right: 25px;
  }
  .has-divider > [class*='su-column-']:not(.su-column-size-medium-1-1):nth-child(n+2) {
    border-left: 1px solid #dddddd;
  }
  .has-divider > [class*='su-column-']:not(.su-column-size-1-1):nth-child(n+2) {
    border-left: 1px solid #dddddd;
  }
}
/* Desktop and bigger */
@media (min-width: 960px) {
  .has-divider > [class*='su-column-large-']:not(.su-column-size-large-1-1):nth-child(n+2) {
    border-left: 1px solid #dddddd;
  }
}


/*
 * No gutter
 * Higher specificity to override large gutter
 */
.su-row.su-gutter-no {
  margin-left: 0; margin-right: 0;
}
.su-row.su-gutter-no > * {
  padding-left: 0; padding-right: 0;
  border-left: none !important;
}

/*
 * Small gutter
 * Higher specificity to override large gutter
 */
.su-row.su-gutter-small {
  margin-left: -10px;margin-right: -10px;
}
.su-row.su-gutter-small > * {
  padding-left: 10px;padding-right: 10px;
}

/*
 * large gutter
 * Higher specificity to override large gutter
 */
.su-row.su-gutter-large {
  margin-left: -40px;margin-right: -40px;
}
.su-row.su-gutter-large > * {
  padding-left: 40px;padding-right: 40px;
}

/* Sub-objects: `su-column-*`
 ========================================================================== */
[class*='su-column'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
/*
 * Widths
 */
/* Whole */
.su-column-size-1-1 {
  width: 100%;
}
/* Halves */
.su-column-size-1-2,
.su-column-size-2-4,
.su-column-size-3-6,
.su-column-size-5-10 {
  width: 50%;
}
/* Thirds */
.su-column-size-1-3,
.su-column-size-2-6 {
  width: 33.333%;
}
.su-column-size-2-3,
.su-column-size-4-6 {
  width: 66.666%;
}
/* Quarters */
.su-column-size-1-4 {
  width: 25%;
}
.su-column-size-3-4 {
  width: 75%;
}
/* Fifths */
.su-column-size-1-5,
.su-column-size-2-10 {
  width: 20%;
}
.su-column-size-2-5,
.su-column-size-4-10 {
  width: 40%;
}
.su-column-size-3-5,
.su-column-size-6-10 {
  width: 60%;
}
.su-column-size-4-5,
.su-column-size-8-10 {
  width: 80%;
}
/* Sixths */
.su-column-size-1-6 {
  width: 16.666%;
}
.su-column-size-5-6 {
  width: 83.333%;
}
/* Tenths */
.su-column-size-1-10 {
  width: 10%;
}
.su-column-size-3-10 {
  width: 30%;
}
.su-column-size-7-10 {
  width: 70%;
}
.su-column-size-9-10 {
  width: 90%;
}


/* Phone landscape and bigger */
@media (min-width: 480px) {
  /* Whole */
  .su-column-size-small-1-1 {
    width: 100%;
  }
  /* Halves */
  .su-column-size-small-1-2,
  .su-column-size-small-2-4,
  .su-column-size-small-3-6,
  .su-column-size-small-5-10 {
    width: 50%;
  }
  /* Thirds */
  .su-column-size-small-1-3,
  .su-column-size-small-2-6 {
    width: 33.333%;
  }
  .su-column-size-small-2-3,
  .su-column-size-small-4-6 {
    width: 66.666%;
  }
  /* Quarters */
  .su-column-size-small-1-4 {
    width: 25%;
  }
  .su-column-size-small-3-4 {
    width: 75%;
  }
  /* Fifths */
  .su-column-size-small-1-5,
  .su-column-size-small-2-10 {
    width: 20%;
  }
  .su-column-size-small-2-5,
  .su-column-size-small-4-10 {
    width: 40%;
  }
  .su-column-size-small-3-5,
  .su-column-size-small-6-10 {
    width: 60%;
  }
  .su-column-size-small-4-5,
  .su-column-size-small-8-10 {
    width: 80%;
  }
  /* Sixths */
  .su-column-size-small-1-6 {
    width: 16.666%;
  }
  .su-column-size-small-5-6 {
    width: 83.333%;
  }
  /* Tenths */
  .su-column-size-small-1-10 {
    width: 10%;
  }
  .su-column-size-small-3-10 {
    width: 30%;
  }
  .su-column-size-small-7-10 {
    width: 70%;
  }
  .su-column-size-small-9-10 {
    width: 90%;
  }
}
/* Tablet and bigger */
@media (min-width: 768px) {
  /* Whole */
  .su-column-size-medium-1-1 {
    width: 100%;
  }
  /* Halves */
  .su-column-size-medium-1-2,
  .su-column-size-medium-2-4,
  .su-column-size-medium-3-6,
  .su-column-size-medium-5-10 {
    width: 50%;
  }
  /* Thirds */
  .su-column-size-medium-1-3,
  .su-column-size-medium-2-6 {
    width: 33.333%;
  }
  .su-column-size-medium-2-3,
  .su-column-size-medium-4-6 {
    width: 66.666%;
  }
  /* Quarters */
  .su-column-size-medium-1-4 {
    width: 25%;
  }
  .su-column-size-medium-3-4 {
    width: 75%;
  }
  /* Fifths */
  .su-column-size-medium-1-5,
  .su-column-size-medium-2-10 {
    width: 20%;
  }
  .su-column-size-medium-2-5,
  .su-column-size-medium-4-10 {
    width: 40%;
  }
  .su-column-size-medium-3-5,
  .su-column-size-medium-6-10 {
    width: 60%;
  }
  .su-column-size-medium-4-5,
  .su-column-size-medium-8-10 {
    width: 80%;
  }
  /* Sixths */
  .su-column-size-medium-1-6 {
    width: 16.666%;
  }
  .su-column-size-medium-5-6 {
    width: 83.333%;
  }
  /* Tenths */
  .su-column-size-medium-1-10 {
    width: 10%;
  }
  .su-column-size-medium-3-10 {
    width: 30%;
  }
  .su-column-size-medium-7-10 {
    width: 70%;
  }
  .su-column-size-medium-9-10 {
    width: 90%;
  }
}
/* Desktop and bigger */
@media (min-width: 960px) {
  /* Whole */
  .su-column-size-large-1-1 {
    width: 100%;
  }
  /* Halves */
  .su-column-size-large-1-2,
  .su-column-size-large-2-4,
  .su-column-size-large-3-6,
  .su-column-size-large-5-10 {
    width: 50%;
  }
  /* Thirds */
  .su-column-size-large-1-3,
  .su-column-size-large-2-6 {
    width: 33.333%;
  }
  .su-column-size-large-2-3,
  .su-column-size-large-4-6 {
    width: 66.666%;
  }
  /* Quarters */
  .su-column-size-large-1-4 {
    width: 25%;
  }
  .su-column-size-large-3-4 {
    width: 75%;
  }
  /* Fifths */
  .su-column-size-large-1-5,
  .su-column-size-large-2-10 {
    width: 20%;
  }
  .su-column-size-large-2-5,
  .su-column-size-large-4-10 {
    width: 40%;
  }
  .su-column-size-large-3-5,
  .su-column-size-large-6-10 {
    width: 60%;
  }
  .su-column-size-large-4-5,
  .su-column-size-large-8-10 {
    width: 80%;
  }
  /* Sixths */
  .su-column-size-large-1-6 {
    width: 16.666%;
  }
  .su-column-size-large-5-6 {
    width: 83.333%;
  }
  /* Tenths */
  .su-column-size-large-1-10 {
    width: 10%;
  }
  .su-column-size-large-3-10 {
    width: 30%;
  }
  .su-column-size-large-7-10 {
    width: 70%;
  }
  .su-column-size-large-9-10 {
    width: 90%;
  }
}


/* Match panels in rows
 ========================================================================== */
.su-row-match > * {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/*
 * 1. Behave like a block element
 */
.su-row-match > * > * {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  /* 1 */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* Tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {
  .su-row [class*='su-column-size-medium-']:not(.su-column-size-medium-1-1) {
  	margin-bottom: 25px;
  }
}
/* Phone landscape and smaller*/
@media (max-width: 767px) {
  .su-row [class*='su-column-size-']:nth-child(n+2) {
  	margin-top: 25px;
  }
  .su-row [class*='su-column-size-'][class*='su-column-size-medium-']:not(.su-column-size-medium-1-1):nth-child(1) {
    margin-top: 25px;
  }
  .su-row.margin-bottom-yes {
    margin-bottom: 0 !important;
  }
}

.su-column-centered .su-column-inner {
  text-align: center;
}


/* style fix for internal shortcode */
.su-row .su-column > .su-column-inner > *:first-child,
.su-row .su-column > .su-column-inner > .su-animate > *:first-child { margin-top: 0; }

.su-row .su-column > .su-column-inner > *:last-child,
.su-row .su-column > .su-column-inner > .su-animate > *:last-child { margin-bottom: 0; }
.su-row .su-column > .su-column-inner > .su-icon-list:last-child .icon_list_item { padding-bottom: 0;}
.su-row .su-column > .su-column-inner > .su-animate:last-child > .su-icon-list .icon_list_item { padding-bottom: 0;}
