@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

@global-link-color: #0856a1;
@global-link-hover-color: #e8e8e8;
@global-primary-background: #0856a1;
@global-primary-gradient-bottom: #0856a1;
@global-primary-gradient-top: #0b70d2;
@theme_toolbar-background-color: #0856a1;
@theme_toolbar-color: #eeeeee;
@theme_footer-background-color: #0856a1;
@global-success-background: #72c367;
@nav-padding-vertical: 5px;
@navbar-background: rgb(255, 255, 255);
@navbar-nav-font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
@text-primary-color: #0856a1;
@nav-header-text-transform: none;
@navbar-nav-active-background: rgba(255, 255, 255, 0.99);
@base-body-font-family: 'Noto Sans';
@navbar-nav-color: #000000;
@navbar-nav-active-color: #0856a1;
@nav-padding-horizontal: 20px;
@theme_top_a-background-color: #ffffff;
@theme_top_a-color: #ffffff;
@theme_top_a-title-color: #ebebeb;
@theme_top_b-background-color: #0856a1;
@theme_top_b-color: #f7f7f7;
@theme_features-color: #666666;
@theme_top_c-background-color: #72c267;
@theme_top_c-color: #eeeeee;
@theme_top_c-title-color: #ffffff;
@base-heading-font-family: 'Noto Sans';
@theme_drawer-background-color: rgba(8, 86, 161, 0.51);
@theme_footer-color: #cecece;
@navbar-nav-hover-background: rgb(255, 255, 255);
@progress-bar-color: #fff;
@theme_header-background-color: #ffffff;
@alert-color: #0856a1;
@offcanvas-panel-margin: 500px 0 0 0;
@offcanvas-panel-color: #0856a1;
@offcanvas-bar-background: rgba(117, 162, 205, 0.98);
@offcanvas-panel-link-color: #f1f1f1;
@navbar-toggle-color: #ffffff;
@navbar-nav-padding-horizontal: 20px;
@utility-container-large-max-width: 1280px;
@breadcrumb-divider: "•";
@dropdown-navbar-background: #0856a1;
@dropdown-navbar-animation: uk-fade;
@theme_toolbar-link-hover-color: #ddd;
@nav-header-padding-vertical: 0;
@nav-header-font-weight: normal;
@navbar-nav-font-size: 18pt;
@navbar-padding: 0;
@navbar-nav-onclick-background: #ffffff;
@nav-navbar-color: #ffffff;
@nav-navbar-hover-background: rgba(255, 255, 255, 0);
@nav-navbar-hover-color: rgba(255, 255, 255, 0.67);