// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@import "uikit/uikit.less";
@import "mixins/mixins.less";
@import "hikashop.less";
@import "joomla.less";

//global veriable
@Theme_global_padding: 35px;
@global-background-attachment: fixed;
@global-heading-font-weight: 400;

// Header position
@theme_header-background-color: #fff;

// navbar position
@navbar-padding: 25px 0;

// drawer position 
@theme_drawer-background-color: #26272A;
@theme_drawer-color: #96a3b1;
@theme_drawer-header-color: #c1cad3;

// toolbar position
@theme_toolbar-background-color: #fff;
@theme_toolbar-color:            #666;
@theme_toolbar-link-color:       @global-link-color;
@theme_toolbar-link-hover-color: @global-link-color;

// Page Heading position
@theme_heading-background-color: #f5f5f5;

@theme_menu-background-color: #fff;

// features
@theme_features-background-color: #fff;
@theme_features-color: #666;
@theme_features-title-color: #444;

// top a 
@theme_top_a-background-color: #f2f2f2;
@theme_top_a-color: #666;
@theme_top_a-title-color: #444;

// top b
@theme_top_b-background-color: #FF2B42;
@theme_top_b-color: #fff;
@theme_top_b-title-color: #fff;

// top c
@theme_top_c-background-color: #fff;
@theme_top_c-color: #666;
@theme_top_c-title-color: #444;

// top d
@theme_top_d-background-color: #f9f9f9;
@theme_top_d-color: #666;
@theme_top_d-title-color: #444;

// expanded_top
@theme_expanded_top-background-color: #f5f5f5;
@theme_expanded_top-color: #666;
@theme_expanded_top-title-color: #444;

// fullwidth_top
@theme_fullwidth_top-background-color: #fff;
@theme_fullwidth_top-color: #666;
@theme_fullwidth_top-title-color: #444;

// fullwidth_bottom
@theme_fullwidth_bottom-background-color: #fff;
@theme_fullwidth_bottom-color: #666;
@theme_fullwidth_bottom-title-color: #444;

// expanded_bottom
@theme_expanded_bottom-background-color: #fff;
@theme_expanded_bottom-color: #666;
@theme_expanded_bottom-title-color: #444;

// mainbody 
@theme_mainbody-background-color: #fff;


// bottom a
@theme_bottom_a-background-color: #fff;
@theme_bottom_a-color: #666;
@theme_bottom_a-title-color: #444;

// bottom b
@theme_bottom_b-background-color: #151515;
@theme_bottom_b-color: #666666;
@theme_bottom_b-title-color: #ffffff;
@theme_bottom_b-title-font-size: 18px;
@theme_bottom_b-link-color: #636363;
@theme_bottom_b-link-hover-color: #7a7a7a;

// footer position
@theme_footer-background-color: #151515;
@theme_footer-color:            #A3A3A3;
@theme_footer-link-color:       #666666;
@theme_footer-link-hover-color: #777777;
@theme_footer-divider-color: rgba(108, 95, 95, 0.78);

html { overflow-y: scroll; }


/* Toolbar style */ 
.toolbar-wrapper {
    background: @theme_toolbar-background-color;
    color: @theme_toolbar-color;
    position: relative;
    z-index: 10;
    box-shadow: inset 0px -1px rgba(0,0,0,0.05);
    .tm-toolbar {
        margin: 10px 0;
        .uk-float-left {
            .mod-languages {
                &:before {
                    position: absolute;
                    content: '';
                    display: inline-block;
                    background-color: rgba(red(@theme_toolbar-color), green(@theme_toolbar-color), blue(@theme_toolbar-color), 0.2);
                    height: 10px;
                    width: 1px;
                    left: -10px;
                    top: 6px;
                }
            }
        }
    }
    ul {
        margin-bottom: 0;
        li {
            &:before {
                border-left-color: rgba(red(@theme_toolbar-color), green(@theme_toolbar-color), blue(@theme_toolbar-color), 0.2) !important;                
            }
            a {
                color: @theme_toolbar-link-color;
                font-size: 12px;
                &:hover {
                    color: @theme_toolbar-link-hover-color;
                }
            }
        }
    }
    .uk-subnav>*>* {
        color: lighten(@theme_toolbar-color, 5%);
    }
    .mod-languages {
        a.uk-button {
            background: none !important;
            border: 0 !important;
            min-height: 20px;
            line-height: 20px;
            color: inherit;
            padding-left: 4px;
            font-size: 12px;
            text-transform: uppercase;
        }
        .uk-dropdown {
            margin-top: 12px;
            background: @dropdown-navbar-background;
            padding: 10px 25px;
            ul {
                li {
                    border-bottom: 1px solid #515151;
                    a {
                        background: none !important;
                        text-transform: uppercase;
                        color: @nav-navbar-color;
                        &:hover {
                            color: @nav-navbar-hover-color;
                        }
                        > img {
                            margin-right: 3px;
                        }
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
    .chzn-container .chzn-results {padding: 10px 0;}
    .chzn-single {
        background: transparent !important;
        color: inherit;
        border: none !important;
        padding: 0 10px;
        line-height: 22px;
        font-size: 12px;
        > span {font-weight: normal;}
    }
    .chzn-drop {min-width: 120px;top: 34px;background: @dropdown-navbar-background;border: none !important;
        ul {
            li:nth-child(n+2) {
                border-top: 1px solid #515151;
            }
            li {
                margin-right: 15px !important;
                margin-left: 15px !important;
                padding: 12px 0 !important;
                color: @nav-navbar-color;
                a:hover {
                    color: @nav-navbar-hover-color;
                }
            }
            li.active-result {&:hover {background: transparent !important; }}
            li.highlighted {background: transparent !important;}
        }
    }    
}

.tm-search {
    .uk-navbar-content {
        padding-left: 0;
        padding-right: 0;
    }
}
.tm-search,
.uk-navbar-toggle {
    height: @navbar-nav-height - 10;
    line-height: @navbar-nav-height - 10;
}
.tm-search, 
.tm-header-bar,
.tm-offcanvas {
    margin: @navbar-padding;
}

.layout-full-wrapper {
    position: relative;
    overflow: hidden;
}

/* Drawer style */

.drawer-wrapper {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1005;
}

#tm-drawer {
    background: @theme_drawer-background-color;
    color: @theme_drawer-color;
    display: none;
    height: auto;
    overflow: hidden;
    padding: 35px 10px;
    position: relative;
    z-index: 3;
    h3.uk-panel-title {
     color: @theme_drawer-header-color;
    }
}
.drawer_toggle {
    border-color: rgba(0, 0, 0, 0) @theme_drawer-background-color rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 40px 40px 0;
    bottom: -40px;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
    z-index: 500;
    color: #fff;
    &:hover {
        color: #fff;
    }

    span {
        position: absolute;
        top: 7px;
        right: -33px;
        font-size: 10px;
    }
}


// Logo style 

.tm-logo-large, .tm-logo-small {
    a {
        text-decoration: none;
        h1 {
            color: @global-link-color;
        }
        &:hover h1 {
            color: @global-link-hover-color;
        }
    }
}
.tm-logo-small h1 {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  display: inline-block;
  letter-spacing: normal;
  text-transform: uppercase;
}

/*
 * Logo small
 * Remove whitespace caused by vertical centering to prevent logo wrapping into the next line
 */

.tm-logo-small { letter-spacing: -0.31em; }

.has-infocard {
    #infocard {
        border-radius: 0;
    }
}



/*
 * Toolbar
 */

.tm-toolbar .uk-float-left .uk-panel {
    margin: 0 @global-grid-gutter 0 0;
    float: left;
}

.tm-toolbar .uk-float-right .uk-panel {
    margin: 0 0 0 @global-grid-gutter;
    float: right;
}



/*
 * Headerbar
 */

.drawer-wrapper {
     position: fixed !important;
 }

.headertype-default {
    .header-top-wrapper {
        position: relative;
        z-index: 999;
    }
}

.headertype-fixed {
    .header-top-wrapper {
        position: fixed !important;
        max-width: 100%;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.tm-headerbar {
    background-color: @theme_header-background-color;
    // border-bottom: 1px solid darken(@theme_header-background-color, 8%);
    // padding: @navbar-padding;
}

.tm-headerbar .uk-panel {
    max-width: 300px;
    margin-right: 0;
    float: right;
}

.tm-logo {
    margin: @navbar-padding;
    display: block;
}


/* Dynamic Header design
 ========================================================================== */
.header-default {
    &.headertype-sticky {
        .tm-headerbar {
            z-index: 1000;
            position: relative;
        }
        .tm-headerbar.uk-active {
            .tm-offcanvas, 
            .tm-search, 
            .tm-header-bar,
            .tm-logo {
                margin-top: 15px !important;
                margin-bottom: 15px !important;
            }
        }
    }
    .uk-navbar-nav {
        float: right;
    }
    .tm-search, .tm-header-bar {
        margin-right: 30px;
        margin-left: 0;
    }
    .tm-offcanvas{
        //position: relative;
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: @global-link-color;
            position: absolute;
            transform: translateX(-60px) skewX(-25deg);
            top: 0;
        }
        .uk-navbar-toggle {
            position: relative;
            z-index: 10;
        }
    }
        
    .menu-wrapper {
        //margin-top: -@navbar-nav-height;
        //z-index: 1000;
        position: relative;
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,0.1);

        &:before {

        }

        .uk-navbar-nav {
            float: none;
            display: inline-flex;
        }
    }


    &.headertype-fixed {
        .tm-header-squeezed {
            padding: 10px 0;
            .uk-dropdown-navbar {
                margin-top: 11px;
            }
        }
    }
}

// style 2
.header-style2 {
    &.headertype-sticky {
        .tm-headerbar {
            z-index: 1000;
            position: relative;
        }
    }
    .tm-offcanvas {
        a {
            position: relative;
        }
        .tm-icon-menu {
            background: #444;
        }
        [class*='tm-icon-'] {
            &:before, &:after {
                background: #444;
            }
        }
    }
    .tm-navbar-full {
        z-index: 1000;
        &:before {
            content: '';
            width: 100%;
            height: @navbar-nav-height;
            position: absolute;
            right: 30px;
            background-color: darken(@theme_header-background-color, 3%);
            -webkit-transform: skew(-25deg);
            transform: skew(-25deg);
            top: 0;
        }
        &:after {
            content: '';
            width: 8%;
            height: @navbar-nav-height;
            position: absolute;
            left: 100%;
            top: 0;
            background-color: @global-link-color;
            -webkit-transform: skew(-25deg);
            margin-left: -30px;
        }
    }
    .uk-navbar-toggle {
        color: @global-color;
        &:hover {
            color: darken(@global-color, 10%);
        }
    }
    &.navbar-default .uk-navbar-nav>li:first-child>a {
        padding-left: 0;
    }
    .tm-offcanvas {
        margin: 25px 0;
    }
    &.headertype-fixed {
        .tm-header-squeezed {
            padding: 10px 0;
            .uk-dropdown-navbar {
                margin-top: 11px;
            }
        }
    }
    .menu-wrapper {
        position: relative;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
        z-index: 100;
        &:before {
            content: '';
            width: 50%;
            height: @navbar-nav-height;
            position: absolute;
            left: 0px;
            background-color: darken(@theme_header-background-color, 3%);
            top: 0;
        }
        &:after {
            content: '';
            width: 50%;
            height: @navbar-nav-height;
            position: absolute;
            right: 0;
            top: 0;
            background-color: @global-link-color;
        }
    }
    .uk-dropdown-search {
        margin-left: -9px;
        top: 41px;
    }
}

// style 3
.header-style3 {
    .tm-navbar-center {
        position: relative;
        display: table;
        width: 100%;
        height: 100%; /* Firefox Only */
        .tm-nav {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            .tm-nav-wrapper {
                display: inline-block;
                vertical-align: top;
                > .uk-navbar-nav > li { text-align: left; }
            }
        }
        .tm-logo-large {
            line-height: @navbar-nav-height;
            margin: 0 15px;
            .tm-logo {
                float: none;
                margin: 0;
            }
        }
    }
    .tm-search,
    .uk-navbar-toggle {
        height: @navbar-nav-height;
        line-height: @navbar-nav-height;
    }
    &.headertype-fixed {
        .tm-header-squeezed {
            padding: 10px 0;
            .uk-dropdown-navbar {
                margin-top: 11px;
            }
        }
    }
    .tm-search {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        margin: 0;
        background: @global-color;
        padding: 0 @navbar-nav-height - 43;
        .uk-search-field {
            height: @navbar-nav-height;
            width: 31px;
        }
        .uk-search:before, input.uk-search-field:active {color: #fff;}
        .uk-search-field:focus, .uk-search.uk-active .uk-search-field {width: 270px;}
        input.uk-search-field:focus {
            color: #fff;
            &::-webkit-input-placeholder {
                color: #fff;
            }
            &:-moz-placeholder {
                color: #fff;
            }
            &::-moz-placeholder {
                color: #fff;
            }
            &:-ms-input-placeholder {
                color: #fff;
            }
        }
        .uk-dropdown-search {
            margin-left: -15px;
        }
    }
    .uk-navbar-toggle {
        position: absolute;
        background-color: @global-link-color;
        width: @navbar-nav-height;
        left: 0;
        top: 0;
        &:after {
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            position: absolute;
            top: 0;
            color: #fff;
        }
    }
}

// header style4
.header-style4 {
    .tm-headerbar {
        z-index: 1000;
        position: relative;
    }
    .logo-container {
        float: left;
    }
    .header-bar-wrapper {
        .tm-header-bar {
            margin: 0 60px 0 0;
            position: relative;
            &:before {
                content: '';
                width: 500%;
                height: @navbar-nav-height;
                position: absolute;
                right: -10px;
                background-color: darken(@theme_header-background-color, 5%);
                top: 0;
                z-index: -1;
            }
            &:after {
                content: '';
                width: 500%;
                height: @navbar-nav-height;
                position: absolute;
                left: 100%;
                top: 0;
                background-color: darken(@global-link-color, 5%);
                z-index: -1;
                margin-left: 10px;
            }
            .tm-search { 
                margin: 0 -50px 0 0;
                .uk-navbar-content {
                    background-color: darken(@global-link-color, 5%);
                    .uk-search-field:focus, .uk-search.uk-active .uk-search-field {
                        width: 288px;
                    }
                    input.uk-search-field {
                        &:focus {
                            &::-webkit-input-placeholder {
                               color: #fff;
                            }

                            &:-moz-placeholder { /* Firefox 18- */
                               color: #fff;  
                            }

                            &::-moz-placeholder {  /* Firefox 19+ */
                               color: #fff;  
                            }

                            &:-ms-input-placeholder {  
                               color: #fff;  
                            }
                        }
                    }
                    input.uk-search-field, .uk-search:before {
                        color: @navbar-toggle-color;
                    }
                    .uk-search.uk-loading:after {
                        background-color: @navbar-toggle-color;
                        top: 15px;
                    }
                    .uk-dropdown-search {
                        margin-top: 19px;
                        margin-left: -3px;
                        margin-right: auto;
                    }
                }
            }
            .uk-panel {
                display: inline-block;
                .uk-list {
                    margin: 0;
                    li {
                    display: inline-block;
                    line-height: @navbar-nav-height;
                    margin-right: 10px;
                    }
                }
            }
        }
    }
    .uk-dropdown-navbar {
        margin-top: 25px;
    }
    .tm-offcanvas{
        //position: relative;
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: @global-link-color;
            position: absolute;
            -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
            top: 0;
        }
        .uk-navbar-toggle {
            position: relative;
            z-index: 10;
        }
    }
    &.navbar-style2 .uk-navbar-nav>li>a {
        padding: 0 12px;
    }
    .menu-wrapper{
        .uk-navbar {
            padding: @navbar-padding;
            margin-right: 10px;
            .uk-navbar-nav>li>a {
                height: @navbar-nav-height - 10;
                line-height: @navbar-nav-height - 10;
            }
        }
    }
    &.headertype-fixed {
        .tm-header-squeezed {
            padding: 10px 0;
            .uk-dropdown-navbar {
                margin-top: 11px;
            }
        }
    }
}

.uk-sticky-placeholder {
    .menu-wrapper, .tm-headerbar {
        &.uk-active {
            z-index: 1000;
            box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
        }
        
    } 
}


.headertype-sticky {
    .drawer-wrapper {
        position: fixed !important;
    }
}

.headertype-fixed {
    .drawer-wrapper {
        position: fixed !important;
    }
    .header-top-wrapper {
        position: fixed !important;
        max-width: 100%;
        z-index: 999;
        opacity: 0.9;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .drawer-wrapper {
        position: fixed !important;
    }
    .tm-headerbar {
        .transition(padding .25s cubic-bezier(0, 0, 0, 1));
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
    }
    .mainheading-wrapper {
        padding-top: 139px;
    }
}


.heading-wrapper {
    background-color: @theme_heading-background-color;
    border-bottom: 1px solid darken(@theme_header-background-color, 8%);
    .heading-back-button {
		i {
			display: none;
		}
    }
}

.slider-wrapper {
    position: relative;
    .tp-bullets {
        z-index: 51 !important;
    }
    .tparrows.round {
        background-image: none;
        border: 2px solid #fff;
        border-radius: 50%;
        height: 55px;
        line-height: 55px;
        width: 55px;
        text-align: center;
        &:after {
            position: absolute;
            top: 48%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            font-family: FontAwesome;
            color: #fff;
            font-size: 35px;
            line-height: 35px;
        }
        &.tp-leftarrow {
            &::after {
                content: "\f104";
                left: 47%;
            }
        }
        &.tp-rightarrow {
            &::after {
                content: "\f105";
                left: 53%;
            }
        }
    }
}

.largeHeading, .mediumHeading, .smallHeading {
    font-family: @base-heading-font-family;
    h1, h2, h3 {
        font-family: @base-heading-font-family;
        .global-link-color * {
            color: @global-link-color;
        }
    }
    &.global-link-color * {
        color: @global-link-color;
    }
}

.global-link-color * {
    color: @global-link-color !important;
}

.breadcrumbs-wrapper {
    padding: 15px 0 14px;
    background-color: @theme_header-background-color;
    border-top: 1px solid darken(@theme_header-background-color, 8%);
    .uk-breadcrumb {
        margin-bottom: 0;
        color: #999;
        >li, >li>a, >li>span {
          text-transform: uppercase;
          font-size: 12px;
        }
        li:nth-child(1) {
            margin-right: 8px;
            font-weight: bold;
            color: #666;
        }
        li:nth-child(n+2):before {
            content: "\f105";
            font-family: FontAwesome;
            margin: 0 8px;
            font-size: 14px;
            line-height: 12px;
        }
    }
}
.xlarge-heading {
    font-size: 120px;
    line-height: 120px;
}

/* menu style */
.menu-wrapper {
    background-color: @theme_menu-background-color;
    .uk-container {
        position: relative;
        .tm-navbar-full {
            position: relative;
        }
    }
}

/* features style */
.features-wrapper {
    background-color: @theme_features-background-color;
    color: @theme_features-color;
    .slider-position {
        display: block;
        height: 50px;
        position: relative;
        z-index: -1;
    }
    .uk-container {
        padding-top: @Theme_global_padding;
        padding-bottom: @Theme_global_padding;
        .uk-panel-title, h1, h2, h3, h4, h5, h6 {
            color: @theme_features-title-color;
        }
    }
}

/* top a style */
.top-a-wrapper {
    background-color: @theme_top_a-background-color;
    color: @theme_top_a-color;
    .uk-container {
        padding-top: @Theme_global_padding;
        padding-bottom: @Theme_global_padding;
        .uk-panel-title, h1, h2, h3, h4, h5, h6 {
            color: @theme_top_a-title-color;
        }
    }
}



/* top b style */
.top-b-wrapper {
    background-color: @theme_top_b-background-color;
    color: @theme_top_b-color;
    .uk-container {
        padding-top: @Theme_global_padding;
        padding-bottom: @Theme_global_padding;
        .uk-panel-title, h1, h2, h3, h4, h5, h6 {
            color: @theme_top_b-title-color;
        }
    }
}

/* top c style */
.top-c-wrapper {
    background-color: @theme_top_c-background-color;
    color: @theme_top_c-color;
    .uk-container {
        padding-top: @Theme_global_padding;
        padding-bottom: @Theme_global_padding;
        .uk-panel-title, h1, h2, h3, h4, h5, h6 {
            color: @theme_top_c-title-color;
        }
    }
}

/* top d style */
.top-d-wrapper {
    background-color: @theme_top_d-background-color;
    color: @theme_top_d-color;
    .uk-container {
        padding-top: @Theme_global_padding;
        padding-bottom: @Theme_global_padding;
        .uk-panel-title, h1, h2, h3, h4, h5, h6 {
            color: @theme_top_d-title-color;
        }
    }
}

/* expanded-top style */
.expanded-top-wrapper {
    background-color: @theme_expanded_top-background-color;
    color: @theme_expanded_top-color;
    .uk-container {
        padding-top: @Theme_global_padding;
        padding-bottom: @Theme_global_padding;
        .uk-panel-title, h1, h2, h3, h4, h5, h6 {
            color: @theme_expanded_top-title-color;
        }
    }
}


/* expanded-bottom style */
.expanded-bottom-wrapper {
    background-color: @theme_expanded_bottom-background-color;
    color: @theme_expanded_bottom-color;
    .uk-container {
        padding-top: @Theme_global_padding;
        padding-bottom: @Theme_global_padding;
        .uk-panel-title, h1, h2, h3, h4, h5, h6 {
            color: @theme_expanded_bottom-title-color;
        }
    }
}

/* fullwidth-top style */
.fullwidth-top-wrapper {
    background-color: @theme_fullwidth_top-background-color;
    color: @theme_fullwidth_top-color;
    position: relative;
    .uk-container-center {
        // padding-top: @Theme_global_padding;
        // padding-bottom: @Theme_global_padding;
        .uk-panel-title, h1, h2, h3, h4, h5, h6 {
            color: @theme_fullwidth_top-title-color;
        }
    }
}


/* fullwidth-bottom style */
.fullwidth-bottom-wrapper {
    background-color: @theme_fullwidth_bottom-background-color;
    color: @theme_fullwidth_bottom-color;
    position: relative;
    .uk-container-center {
        // padding-top: @Theme_global_padding;
        // padding-bottom: @Theme_global_padding;
        .uk-panel-title, h1, h2, h3, h4, h5, h6 {
            color: @theme_fullwidth_bottom-title-color;
        }
    }
}


.mainbody-wrapper {
    background-color: @theme_mainbody-background-color;
    .uk-container-center {
        padding-top: @Theme_global_padding;
        padding-bottom: @Theme_global_padding;
    }
}

body[class*="tm-sidebar"] {
    .mainbody-wrapper {
        .uk-container {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .tm-main .tm-content {
        padding-top: @Theme_global_padding;
        padding-bottom: @Theme_global_padding;
    }
    aside[class*="tm-sidebar"] {
       border-left: 1px solid darken(@theme_mainbody-background-color, 8%);
       border-right: 1px solid darken(@theme_mainbody-background-color, 8%);
       padding-top: @Theme_global_padding;
       padding-bottom: @Theme_global_padding;
       //background-color: darken(@theme_mainbody-background-color, 2%);
       // &:not(.uk-panel-box) {
       //     padding-right: @Theme_global_padding;
       // } 
    }
}

.tm-padding-no {
    .uk-container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.tm-padding-large {
    .uk-container {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }
}

.tm-sidebar-a-left .tm-sidebar-a, .tm-sidebar-b-left .tm-sidebar-b {
    padding-right: @Theme_global_padding;
}




.tm-sidebar-a-right {
    .tm-main .tm-content {
        padding-right: @Theme_global_padding;
    }
}

.tm-sidebar-a-left {
    .tm-sidebar-a {
        border-left: none !important;
    }
}

.tm-sidebar-a-right {
    .tm-sidebar-a {
        border-right: none !important;
    }
}

.tm-sidebar-a-left.tm-sidebar-b-left, .tm-sidebar-a-right.tm-sidebar-b-left {
    .tm-sidebar-b {
        border-left: none !important;
    }
}

.tm-sidebar-b-right {
    .tm-sidebar-b {
        border-right: none !important;
    }
    .tm-main .tm-content {
        padding-right: @Theme_global_padding;
    }
}




/* bottom a style */
.bottom-a-wrapper {
    background-color: @theme_bottom_a-background-color;
    color: @theme_bottom_a-color;
    .uk-container {
        padding-top: @Theme_global_padding;
        padding-bottom: @Theme_global_padding;
        .uk-panel-title, h1, h2, h3, h4, h5, h6 {
            color: @theme_bottom_a-title-color;
        }
    }
    .su-icon-list {
        margin-top: -35px!important;
        margin-bottom: -35px !important;
        &:hover {
            .icon_list_item {
                background: rgba(255, 255, 255, 0.12);
            }
        }
        .icon_list_item {
            .transition();
            padding: 35px 30px !important;
            .icon_list_wrapper {}
            .icon_description {
                text-align: left;
                h3 {
                    font-weight: normal;
                    font-size: 22px;
                    color: #FFFFFF;
                    margin-bottom: 0px;
                }
            }
        }
    }
    .su-column {
        .su-icon-list {
            border-left: 1px solid lighten(@theme_bottom_a-background-color, 10%) !important;
        }
        &:last-child {
            .su-icon-list {
                border-right: 1px solid lighten(@theme_bottom_a-background-color, 10%) !important;
            }           
        }
    }
    
}


/* bottom b style */
.bottom-b-wrapper {
    background-color: @theme_bottom_b-background-color;
    color: @theme_bottom_b-color;
    .uk-container {
        padding-top: @Theme_global_padding;
        padding-bottom: @Theme_global_padding;
        .uk-panel-title, h3 {
            color: @theme_bottom_b-title-color;
            font-size: @theme_bottom_b-title-font-size;
            margin-bottom: 30px;
        }
    }
    [class*='uk-width-'] {
        border-color: lighten(@theme_bottom_b-background-color, 10%) !important;
    }
    ul {
        li:nth-child(n+2) {
            border-top: 1px solid rgba(red(@theme_bottom_b-color), green(@theme_bottom_b-color), blue(@theme_bottom_b-color), .15) ;
        }
        li {
            a {
                color: @theme_bottom_b-link-color;
                text-decoration: none;
                padding-left: 0px;
                &:hover {
                    color: @theme_bottom_b-link-hover-color;
                }
            }
            &:first-child {
                a {
                    padding-top: 0;
                }
            }
        }
        &.flickrfeed {
            img {
                width: 48px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .latest-blog-post.k2ItemsBlock ul li {
        padding: 10px 0;
        &:nth-child(n+2) {
            margin-top: 0;
        }
        .item-meta {
            margin-bottom: 0;
        }
    }
    .title1 .uk-panel-title:after {
        background: #fff;
        bottom: -12px;
    }
    .uk-nav-side > li > a:hover, .uk-nav-side > li > a:focus {
        background: none;
        color: @theme_bottom_b-link-hover-color;
    }
    
    // working scedule
    .table_working_hours {
        width:100%;
        tr {
            border:0;
            border-bottom:1px dashed rgba(255, 255, 255, 0.13);
            td {
                color:#fff;
            }
            td.day_label {
                text-align:left;
                padding:9px 0;
            }
            td.day_label:first-letter {
                text-transform:uppercase;
            }
            td.day_value.closed span {
                display: inline-block;
                padding: 1px 5px;
                background-color: #f13e3e;
                color: #fff;
                border-radius: 2px;
                font-size: 11px;
            }
        }
        tr:last-child {
            border-bottom:0;
        }
        tr td.day_value {
            padding-left:3px;
            text-align:right;
        }
        tr.opened:hover td {
            color: @global-link-color;
        }
        tr.closed:hover td.day_label {
            color:#f13e3e;
        }
    }
    // contact us
    ul.contact-us {
        padding-left: 0;
        list-style-type: none;
        li {
            padding-top: 10px;
            padding-bottom: 10px;
            i {
                font-size: 18px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}
/*
 * Footer
 */
.footer-wrapper {
    background-color: @theme_footer-background-color;
    border-top: 1px solid darken(@theme_footer-background-color, 10%); 
    position: relative;
    overflow: hidden;
    .uk-container {
        padding-top: @Theme_global_padding;
        padding-bottom: @Theme_global_padding;
        color: @theme_footer-color;
        a {
            font-size: @global-font-size - 1;
            color: @theme_footer-link-color;
            &:hover {
                color: @theme_footer-link-hover-color;
            }

        }
        .footer-r {
            text-align: right;
            .su-icon {
                i {
                    .transition();
                }
                &:hover {
                    .fa-facebook {
                        border: 1px solid #29378F !important;
                    }
                    .fa-twitter {
                        border: 1px solid #25A8E0 !important;
                    }
                    .fa-google-plus {
                        border: 1px solid #D4462E !important;
                    }
                }
            }
            .uk-nav {
                li {
                    display: inline-block;
                    margin-left: 12px;
                }
            }
        }
        .copyright {
            text-align: left;
            font-size: @global-font-size - 1;
            margin-bottom: 0;
            span {
                color: @theme_footer-link-color;
            }
        }
    }
   
}


//  Drawer Style

#tm-drawer {
    form {
        &.uk-form {
            input[type="text"], input[type="password"] {
                background: transparent;
                height: 45px;
                padding-left: 15px;
                border: 1px solid rgba(255, 255, 255, 0.1);
            }

            button.uk-button.uk-button-primary {
                padding: 10px 30px;
                font-size: 16px;
                line-height: 20px;
            }

            ul {
                li {
                    display: inline-block;
                    border-left: 1px solid rgba(255, 255, 255, 0.1);
                    padding-left: 10px;
                    padding-right: 8px;
                    line-height: 12px;
                    text-transform: uppercase;
                    font-size: 11px;
                    &:nth-child(2){
                        display: none;
                    }
                    &:first-child{
                        border-left: none;
                        padding-left: 0;        
                    }
                }
            }
            
        }
    }
}

.uk-contrast {
    .readon.border {
        border-color: #fff;
        &:before {
            background-color: rgb(255, 255, 255);
        }
        &:after {
            color: #444;
        }
        &:hover {
            color: #444;
            background-color: rgba(255, 255, 255, 0.92);
        }
    }
}
.section-divider {
    .uk-position-absolute {
        right: -100px;
        float: right;
        bottom: 0;
    }
}
.su-section.section-divider {
    background-color: @global-color;
}

ul.tm-pricing-head {
    text-align: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        padding: 10px !important;
        margin: 0 !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05)
    }
}

/* Button style */
body {
    .readon {
        border: none;
        .textColor(@global-link-color);
        background: @global-link-color;
        .transition();
        padding: 8px 55px 8px 15px;
        text-align: left;
        text-decoration: none !important;
        text-transform: uppercase;
        display: inline-block;
        border: 2px solid @global-link-color;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            width: 55px;
            height: 100%;
            background-color: #BB1E2E;
            position: absolute;
            right: -13px;
            top: 0;
            -webkit-transform: skewX(25deg);
            transform: skewX(25deg);
            background-color: rgba(0, 0, 0, 0.1);
        }
        &:after {
            font-family: FontAwesome;
            content: "\f178";
            position: absolute;
            right: 10px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        &:hover {
            .textColor(@global-link-hover-color);
            background: @global-link-hover-color;
            border-color: @global-link-hover-color;        
        }
        &.white {
            color: #fff;
            &:hover {
               .textColor(@global-link-hover-color);
                background: @global-link-hover-color; 
            }
        }
        &.black {
            color: #333;
            &:hover {
               .textColor(@global-link-hover-color);
                background: #444444 !important; 
            }
            &.border {
                border-color: #444;
            }
        }
        &.large {
            padding: 15px 65px 15px 20px;
            min-width: 80px;
            display: inline-block;
            font-size: 14px;
            line-height: 16px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 5px;
            
        }
        &.small {
            padding: 8px 50px 8px 12px;
            min-width: 80px;
            display: inline-block;
            font-size: 11px;
            line-height: 13px;
            text-transform: uppercase;
            margin-bottom: 5px;
            
        }
        &.radius {
            .borderRadius(4px);
        }
        &.capsule {
            .borderRadius(100px);
        }
        &.border {
            color: #444;
            background-color: transparent;
            &:hover {
                .textColor(@global-link-color);
                background-color: @global-link-hover-color;
            }
        }
        &.primary {
            background-color: @global-primary-background;
            &.border {
                padding: 11px 16px;          
                background-color: transparent;
                border: 2px solid @global-primary-background;
            }
            &:hover {
                border-color: @button-primary-hover-background;
                background-color: @button-primary-hover-background;
                .textColor(@global-primary-background);
            }
        }
        &.success {
            background-color: @global-success-background;
            border: 2px solid @global-success-background;
            &.border { 
                padding: 11px 16px;           
                background-color: transparent;
            }
            &:hover {
                border-color: @button-success-hover-background;
                background-color: @button-success-hover-background;
                .textColor(@global-success-background);
            }
        }
        &.danger {
            background-color: @global-danger-background;
            border: 2px solid @global-danger-background;
            &.border {
                padding: 11px 16px;           
                background-color: transparent;
                
            }
            &:hover {
                border-color: @button-danger-hover-background;
                background-color: @button-danger-hover-background;
                .textColor(@global-danger-background);
            }
        }
        &.white {
            color: #fff;
        }
        &.black {
            color: #444;
        }
    }
    .su-button {
        &.template-style {
            border: none;
            .textColor(@global-link-color);
            background: @global-link-color;
            .transition();
        }
    }
} 

// populer design
.brand-logo {
    .transition();
    opacity: 0.5;
    display: inline-block;
    padding: 20px;
    &:hover {
        opacity: 0.8;
    }
    &.border {
        border: 1px solid rgba(0,0,0,0.05);
    }
    &.rounded {
        .borderRadius();
    }
    &.center {
        text-align: center;
        display: block;
    }
}

.home-promo {
    min-height: 486px;
    overflow: hidden;
    margin-bottom: -35px;
    div[class*="position-absolute"] {
        bottom: 0;
    }
}
div.itemAuthorBlock, div.userBlock {
    border-color: @global-link-color; 
}

// global class
.white-color {
    color: #fff !important;
}

// module variation title style

// title2, title3, title4 style
.title2 {
    .uk-panel-title{
        border-bottom: 2px solid lighten(@global-color, 60%);
        span.uk-title-text {
            border-bottom: 2px solid @global-link-color;
            padding-bottom: 15px;
            display: inline-block;
            margin-bottom: -2px;
        }
    }
}

.title3 {
    .uk-panel-title{
        border-bottom: 3px solid lighten(@global-color, 60%);
        span.uk-title-text {
            border-bottom: 3px solid @global-link-color;
            padding-bottom: 15px;
            display: inline-block;
            margin-bottom: -3px;
        }
    }
}

.title4 {
    .uk-panel-title {
        &:after {
            content: '';
            position: relative;
            display: block;
            margin-top: 15px;
            width: 100%;
            height: 5px;
            background: @global-link-color;
        }
    }
}

.title5 {
    .uk-panel-title {
        &:after {
            content: '';
            position: relative;
            display: block;
            margin-top: 15px;
            width: 100%;
            height: 5px;
            background: lighten(@global-color, 50%);
        }
    }
}

.title6 {
        h3.uk-panel-title{
        overflow: hidden;
        text-align: center;
        margin: 15px 0;
        .uk-title-text  {   
            position: relative; 
            padding: 0 10px;
            &:before {
                content: '';
                position: absolute;
                left: 100%;
                top: 50%;
                width: 1200px;
                height: 8px;
                margin-top: -4px;
                background-image: url("../images/divider.png");
            }
            &:after {
                content: '';
                position: absolute;
                right: 100%;
                top: 50%;
                width: 1200px;
                height: 8px;
                margin-top: -4px;
                background-image: url("../images/divider.png");
            }
        }       
    }
}

.title7 {
    .uk-panel-title{
        width: 100%;
        span.uk-title-text {
            .textColor(@global-color);
            background: lighten(@global-color, 10%);                        
            border-left: 10px solid @global-link-color;
            display: block;
            padding: 5px 10px;
        }
    }
}
.title8 {
    .uk-panel-title{
        width: 100%;
        span.uk-title-text {
            position: relative;
            .textColor(@global-color);
            background: lighten(@global-color, 10%);                        
            border-left: 10px solid @global-link-color;
            border-right: 10px solid @global-link-color;
            display: block;
            padding: 5px 10px;
            &:after {
                content: '';
                height: 10px;
                width: 10px;
                background: @global-link-color;
                -webkit-transform: rotate(45deg);
                display: block;
                position: absolute;
                left: -8px;
                overflow: hidden;
                top: 12px;
            }
            &:before {
                content: '';
                height: 10px;
                width: 10px;
                background: @global-link-color;
                -webkit-transform: rotate(45deg);
                display: block;
                position: absolute;
                right: -8px;
                overflow: hidden;
                top: 12px;
            }
        }
    }
}

.title9 {
    h3.uk-panel-title {
        overflow: hidden;
        span.uk-title-text {
            position: relative;
            padding-right: 10px;
            &:after {
                content: '';
                border-bottom: 1px dashed @global-link-color;
                position: absolute;
                margin-top: -1px;
                width: 100%;
                top: 50%;
                left: 100%;
            }
        }
    }
}


// Module Variation Box Style
.box1, .box2, .box3, .box4, .box-shadow, .box-bevel, .box5, .box6 { padding: 20px;}

.box1 {
    border: 1px solid lighten(@global-color, 63%);
    background-color: @theme_mainbody-background-color;
    .box1 {
        border: none;
        padding: 0;
    }
}
.box2 {
    border: 2px solid @global-link-color;
    background-color: @theme_mainbody-background-color;
    .box2 {
        border: none;
        padding: 0;
    }
}
.box3 {
    border: 3px solid @global-link-color;
    .box3 {
        border: none;
        padding: 0;
    }
}
.box4 {
    background: @global-link-color;
    .borderRadius(3px);
    .textColor(@global-link-color);
    .box4 {
        padding: 0;
    }
    .uk-panel-title {
        .textColor(@global-link-color) !important;
    }
    a {
       .textColor(@global-link-color);
    }

    &.title4 {
        .uk-panel-title {
            &:after {
                background: darken(@global-link-color, 10%);
            }
        }
    }
    &.title1 {    
        .uk-panel-title{      
            span.uk-title-text {
                //border-bottom-color: darken(@global-link-color, 10%);
            }
        }
    }
    &.title2 {    
        .uk-panel-title{      
            span.uk-title-text {
                border-bottom-color: darken(@global-link-color, 10%);
            }
        }
    }
    &.title3 {    
        .uk-panel-title{      
            span.uk-title-text {
                border-bottom-color: darken(@global-link-color, 10%);
            }
        }
    }
    &.title7 {    
        .uk-panel-title{      
            span.uk-title-text {
                border-color: darken(@global-link-color, 10%);
            }
        }
    }
    &.title8 {    
        .uk-panel-title{      
            span.uk-title-text {
               border: none;
            }
        }
    }
}
.box5 {
    border: 4px solid @global-link-color;
    .boxShadow(4px 4px 0 rgba(0, 0, 0, 0.1));
    .box5 {
        border: none;
        padding: 0;
        box-shadow: none;
    }
}
.box6 {
    border: 4px dashed @global-link-color;
    .box6 {
        border: none;
        padding: 0;
    }
}
.box-shadow {

    .borderRadius();    
    .boxShadow(~"0 3px 5px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08)");
    .box-shadow {
        .borderRadius(0);    
        .boxShadow(none);
        padding: 0;
    }
}


.box-bevel {
    .borderRadius();     
    .boxShadow(~"0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 0 1px rgba(255, 255, 255, 0.08)");
    .box-bevel {
        box-shadow: none;
        padding: 0;
    }
}

body #sbox-btn-close {
  right: -10px;
  top: -10px;
  background: #FFFFFF;
  border-radius: 2px;
}
body #sbox-btn-close:after {
  content: "\f00d";
  position: absolute;
  top: 5px;
  left: 50%;
  font-family: FontAwesome;
  margin-left: -5px;
}


// k2 dynamic style
div.k2LoginBlock input.button {
  background: @global-link-color;
  border: 2px solid @global-link-color;
  &:hover {background: @global-link-hover-color;}
}
table.calendar tr td.calendarTodayLinked, 
table.calendar tr td.calendarDateLinked a {
    background-color: @form-focus-background;
}
table.calendar tr td.calendarToday, 
table.calendar tr td.calendarTodayLinked a:hover,
table.calendar tr td.calendarDateLinked a:hover {
    background-color: @global-link-hover-color;
}
.KirionBPost .blogPostItem:before, 
.sup-style1 .mega-entry .mega-entry-innerwrap:before {background-color: @global-link-color;}
.sup-style1 .mega-hoverview {color: @global-link-color !important;}
.sup-style1 .mega-hovertitle {
    font-family: @base-heading-font-family;
}
div.catItemBlog .catItemToolbar i, 
div.itemToolbar i[class*="uk-icon"] {color: @global-link-color;}

// newsletter design
.acymailing_module {
    form {
        max-width: 550px;
        margin: 0 auto !important;
    }
    .fieldacyemail {
        width: 88%;
        margin: 0;
        float: left;
        .inputbox {
            .boxSizing();
            height: 50px;
            padding: 0 20px;
            background: transparent;
            color: @theme_bottom_b-link-color;
            text-decoration: underline;
            border-width: 1px 0 1px 1px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.3);
            &:focus {
                color: #fff;
            }
        }
        
    }
    .acysubbuttons {
        text-align: left;
        float: right;
        width: 12%;
        margin: 0;
        position: relative;
        input[type="submit"] {
            height: 50px;
            width: 100%;
            box-sizing: border-box;
            text-indent: -2000px;
            border: none;
            outline: none;
            background: none !important;
            border: 1px solid rgba(255, 255, 255, 0.3);
        }
        background: transparent;
        .transition();
        &:hover {
            background: lighten(@theme_bottom_b-background-color, 6%);                    
        }
        &:after {
            position: absolute;
            left: 50%;
            top: 50%;
            content: "\f003";
            font-family: FontAwesome;
            font-size: 18px;
            margin-top: -11px;
            margin-left: -8px;
            cursor: pointer;
            color: #B1B1B1;
        }
    }
    .acymailing_finaltext {
        clear: both;
    }
}

/* Very large screen */

@media (min-width: 1440px) {
    .layout-boxed {
        background-attachment: fixed;
        .layout-boxed-wrapper {
            max-width: @utility-container-large-max-width + 200;
            margin: 0 auto;
            position: relative;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
            overflow: hidden;
        }
        .uk-container {
          max-width: @utility-container-large-max-width + 200;
          padding-left: @utility-container-large-padding-horizontal + 65;
          padding-right: @utility-container-large-padding-horizontal + 65;
        }
        .header-top-wrapper {
            max-width: @utility-container-large-max-width + 200;
        }
    }
}

/* Only large screens */
@media (max-width: @breakpoint-xlarge) {

    .layout-boxed {
        background-attachment: fixed;
        .layout-boxed-wrapper {
            max-width: @utility-container-large-max-width;
            margin: 0 auto;
            position: relative;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
            overflow: hidden;
        }
        .header-top-wrapper {
            max-width: @utility-container-large-max-width;
        }
    }
}

/* Only phones */
@media (max-width: @breakpoint-small-max) {

    .tm-navbar {
        margin: 0 -@utility-container-padding-horizontal;
        border-width: 0 0 1px 0;
    }

    .header-style3 {
        .tm-navbar {
            margin: 0;
        }
        .tm-logo-small {
            float: left;
            width: 100%;
        }
    }
    .tm-logo-small:hover { text-decoration: none; };

    .tm-navbar:not(.uk-navbar-attached) { border-radius: 0; }
}

/*
 * Middle
 */

.tm-main > :nth-child(n+2) { margin-top: @global-grid-gutter; }

.tm-content > :last-child { margin-bottom: 0; }

/*
 * Footer
 */

.tm-footer {
    position: relative;
    //text-align: center;
}

.tm-footer .uk-panel + .uk-panel { margin-top: @global-grid-gutter;}

/*
 * To-top scroller
 */

.tm-totop-scroller {
    display: block;
    position: absolute;
    bottom: -30px;
    right: -50px;
    z-index: 1000;
    width: 120px;
    height: 79px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    -webkit-transition: all .5s cubic-bezier(0, 0, 0, 1);
    transition: all .5s cubic-bezier(0, 0, 0, 1);
    text-decoration: none !important;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: @global-z-index;
    color: #ffffff !important;
    background-color: @global-link-color;
    &:hover {
        background-color: @global-link-color;
    }
}

.tm-totop-scroller:after {
    content: "\f077";
    font-family: "FontAwesome";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;  
}

.totop-hidden {
    right: -60px;
    opacity: 0;
}

// module variation title style
.title1 {
    .uk-panel-title{
        position: relative;
        background-color: @global-link-color;
        color: #fff;
        padding: 8px 12px 8px 20px;
        display: inline-block;
        &:after {
            position: absolute;
            content: '';
            right: -18px;
            top: 0;
            border-top: 40px solid;
            border-left: 0 solid transparent;
            border-right: 18px solid transparent;
            border-top-color: @global-link-color;
        }
        .uk-title-text {
            font-weight: 300;
            .tfw {
                font-weight: 700;
            }
        }
    }
    &.uk-panel-box {
        .uk-panel-title{
            margin-left: -20px;
        }
    }
}




/*module position page  design*/
.table {
    margin-bottom: 20px !important;
}
.table.table-bordered th {
    padding: 15px 0;
    background-color: #F2F2F2;
    text-align: center;
}
.table.table-bordered th h4 {
    margin-bottom: 0;
}
.table.table-bordered td {
    padding: 10px 0;
    text-align: center;
}
.table-bordered thead:first-child tr:first-child > th:first-child {
    border-left: none;
    width: 50%;
}

/* Blog
 ========================================================================== */

/*
 * Leading article
 * Joomla only
 */

.tm-leading-article .uk-article:last-child {
    padding-bottom: @article-margin-top;
    border-bottom: 1px solid @base-hr-border;
}


/* Error
 ========================================================================== */

.tm-error-icon { font-size: 250px; }

.tm-error-headline { font-size: 100px; }


/* Offline
 ========================================================================== */

.tm-offline { width: 300px; }


/* Socialbuttons
 ========================================================================== */

 .tm-socialbuttons {

     line-height: 1;

     > div {
         margin-right: 10px;
         float: left;
     }
}


.tp-bannertimer {
    z-index: 99;
    height: 1px !important;
}

////////////////////////
// shortcode override //
////////////////////////

.su-button-style-border {
    color: @global-link-color !important;
    border-color: @global-link-color !important;
    transition: background .25s ease-out;
    &:hover {
        background-color: @global-link-color !important;
        color: #fff !important;
    }
}

.su-counter-number {
    font-family: @base-heading-font-family;
    font-weight: bold;
}

.cbp-filter-item {
    font-family: @base-heading-font-family !important;
}

.su-heading-style-default {
    &.su-heading-align-left {
        .su-heading-inner {
            border-left: 4px solid rgba(red(@global-color), green(@global-color), blue(@global-color), 0.3);
            padding-left: 15px;
        }
    }
    
}
div[class*='su-heading-style-'] {
    .su-heading-inner {
        font-weight: bold;
    }
    .su-subh {
        color: @global-link-color;
        display: block;
        font-weight: normal;
        font-size: 32px;
        line-height: 32px;
    }
}

.su-heading-style-1 .su-heading-inner:before {
    background-color: @global-link-color;
}

.tm-header-bar {
    .icon_list_item {
        padding-bottom: 0;
    }
    .su-icon-list .icon_list_item .icon_description h3 {
        margin-bottom: 0;
    }
    .su-icon-list.su-icon-align-title .icon_list_item .icon_description_text {
        font-weight: bold;
    }
    .su-icon-list.su-icon-align-title .icon_list_icon {
        margin-right: 5px;
        margin-top: 2px;
    }
}

.su-panel p:last-child {
    margin-bottom: 0;
}

//su-list su-list-style-default
.su-list.su-list-style-default ul li i {
    color: @global-link-color;
}

.has-divider > [class*='su-column-']:not(.su-column-size-medium-1-1):nth-child(n+2) {
    border-color: @global-border;
}

.su-fancy-text .su-ft-wrap {
    font-weight: bold;
}
.su-fancy-text.su-fteffect6 .su-ft-wrap::after {
    background-color: @global-link-color;
}
.su-icon-list .icon_list_item .icon_description h3 {
    font-weight: normal;
}
.call-to-action.global-link-background {
    background-color: @global-link-color !important;
}

.su-section.global-link-background {
    background-color: @global-link-color !important;
}

.su-spoiler-title {
    font-weight: normal;
    font-size: 1em !important;
    padding: 12px 10px 12px 35px;
}

// progress bar 

.su-progress-bar.su-progress-bar-style-1 {
    .su-pb-fill {
        background-color: @global-link-color;
    }
}

.su-progress-bar-style-3 .su-pb-text {
    font-family: @base-heading-font-family;
    font-weight: normal;
    font-size: 16px;
}

.su-testimonial-style-3.su-testimonial-has-photo .su-testimonial-photo img {.borderRadius(2px);}
.su-testimonial-style-3 .su-testimonial-text {
    font-family: Georgia, serif;
}

// member

.su-member-style-1{
    &:hover {
        .su-member-desc {
            border-top-color: @global-link-color;
        }
        .su-member-name {
            color: @global-link-color !important;
        }
    }
    .su-member-ic a:hover .fa {
        color: @global-link-color !important;
    }
    .su-member-name {
        font-family: @base-heading-font-family;
        font-weight: bold;
    }
}


.su-member-style-5 .su-member-icons {
  background-color: @global-link-color !important;
}
.su-member-style-5 .su-member-icons svg path {
  fill: @global-link-color !important;
}

// showcase shortcode override
.cbp-l-filters-alignRight 
.cbp-filter-item.cbp-filter-item-active,
.cbp-l-filters-alignRight .cbp-filter-counter {
    background: @global-link-color;
    border-color: @global-link-color;
}
.cbp-l-filters-alignRight .cbp-filter-counter:before {
    border-top-color: @global-link-color; 
}
.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
    color: @global-link-color;
    border-color: @global-link-color;
}
.cbp-l-filters-work .cbp-filter-item.cbp-filter-item-active, 
.cbp-l-filters-work .cbp-filter-item:hover, 
.cbp-l-filters-alignLeft .cbp-filter-item.cbp-filter-item-active,
.cbp-l-filters-alignLeft .cbp-filter-item:hover,
.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active,
.cbp-l-filters-button .cbp-filter-item:hover, 
.cbp-l-filters-button .cbp-filter-counter,
.cbp-popup-singlePage .cbp-popup-navigation-wrap,
.cbp-caption-moveRight .cbp-caption-activeWrap {
    background-color: @global-link-color;
}
.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active,
.cbp-l-filters-button .cbp-filter-item:hover {
    border-color: @global-link-color;
}
.cbp-l-filters-button .cbp-filter-counter:before {
    border-top-color: @global-link-color;
}
.cbp-caption-opacity .cbp-caption:hover {
    border-color: @global-link-color;
}
.cbp-popup-singlePage-counter {
    color: #fff;
}
.cbp-caption-moveRight .cbp-l-caption-desc {
    color: rgba(255, 255, 255, 0.3);
}
.cbp-popup-singlePage .cbp-popup-close,
.cbp-popup-singlePage .cbp-popup-prev,
.cbp-popup-singlePage .cbp-popup-next {
    background-image: url("../images/shortcodes/cbp-sprite.png");
}
.cbp-l-caption-title {
    font-family: @base-heading-font-family;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter {
    background-color: darken(@global-link-hover-color, 10%); 
}
.cbp-l-filters-buttonCenter .cbp-filter-counter:before {
    border-top-color: darken(@global-link-hover-color, 10%); 
}

.cbp-l-filters-alignCenter .cbp-filter-item {
  color: #575757;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.cbp-l-filters-alignCenter .cbp-filter-item.cbp-filter-item-active {
  color: #000000;
}

body .cbp-l-filters-list .cbp-filter-item {
    border-color: @global-link-color; 
    &.cbp-filter-item-active {background-color: @global-link-color;}
}

// switcher 
.su-switcher-style-4 .cbp-filter-item:hover, 
.su-switcher-style-4 .cbp-filter-item:focus {
    color: @global-link-hover-color;
}
.su-switcher-style-4 {
    .cbp-filter-item {
        &.cbp-filter-item-active {
            background-color: @global-link-color;
            &:hover {
                color: #fff;
            }
        }
    i[class^="li-"], i[class*=" li-"] {
        font-size: 16px;
        margin-right: 5px;
    }
    }
}


// pricing table
.su-pricing-style-3 .su-plan-options ul li {
    border-top-color: rgba(221, 221, 221, 0.1);
}

// row column 

.tm-top-b {
    .has-divider > [class*='su-column-']:not(.su-column-size-medium-1-1):nth-child(n+2) {
        border-left-style: dashed;
    }
}

.su-testimonial-style-4 .su-testimonial-text {
    border-bottom-color: @global-link-color;
}
.su-testimonial-style-4 .su-testimonial-text:before {
    border-top-color: @global-link-color;
}

// 3rd party style 

.grayscale:not(:hover) .su-member-photo img {
  -webkit-filter: grayscale(100%);
  filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='gray'><feColorMatrix in='SourceGraphic' type='saturate' values='0' /></filter></svg>#gray");
  filter:grayscale(100%);
}

.pace-active .pace-activity:before {
    border-color: @global-link-color rgba(0,0,0,0) rgba(0,0,0,0);
}
.pace.pace-active .pace-progress:before {
    font-family: @base-heading-font-family;
}

// rev slider

.largeHeading2, .largeHeading2 h1 {
    color: @global-link-color;
}




/* Only large screens */
@media (min-width: 960px) {
    .header-default, .header-style2 {
        .tm-header-wrapper {
            .logo-container {
                float: left;
            }
        }
    }
    .su-tmstyle3 {
        &.su-content-slider .owl-nav [class*='owl-'],
        &.su-content-slider .owl-nav [class*='owl-']:hover {
            background: none;
            font-size: 36px;
        }
        .owl-controls .owl-nav .owl-next {
            right: -120px;
            padding: 0 0 40px 90px;
        }
        .owl-controls .owl-nav .owl-prev {
            left: -120px;
            padding: 0 90px 40px 0;
        }
    }
    .header-style2 {
        &.headertype-sticky {
            .tm-headerbar.uk-active {
                .tm-offcanvas, 
                .tm-search, 
                .tm-header-bar,
                .tm-logo {
                    margin-top: 15px !important;
                    margin-bottom: 15px !important;
                }
            }
        }
    }
    //  Section Divider
    .section-divider:after, 
    .section-divider:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        z-index: 0;
    }
    .section-divider:after {
        left: 0;
        background: @global-color;
    }
    .section-divider:before {
        right: 0;
        background: @global-link-color;
    }
}
@media (max-width: 960px) {
    .header-default, .header-style2 {
        .tm-offcanvas {
            margin: 0;
        }
        .uk-offcanvas-bar {
            &:after {
                height: @navbar-nav-height + @global-grid-gutter;
            }
        }
    }
    .uk-offcanvas .uk-panel:first-child {
        margin: 10px 30px 40px;
    }
    .tm-logo {
        margin: 0;
    }
    .header-style4 {
        .tm-offcanvas {
            margin: 0;
            
        }
        .tm-headerbar {
            padding: 0;
        }
    }
    .tm-search,
    .uk-navbar-toggle {
        height: @navbar-nav-height;
        line-height: @navbar-nav-height;
    }
}


/* Only large screens */
@media (min-width: 768px) {
    .header-default {
        &.headertype-sticky {
            .tm-headerbar.uk-active {
                .tm-offcanvas, 
                .tm-search, 
                .tm-header-bar,
                .tm-logo {
                    margin-top: 15px !important;
                    margin-bottom: 15px !important;
                }
            }
        }
    }
}

/* small size only */
@media (max-width: 768px) {
    /* bottom a style */
    .bottom-a-wrapper {
        .su-icon-list {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
        .su-column {
            .su-icon-list {
                border-left: none !important;
                border-bottom: 1px solid lighten(@theme_bottom_a-background-color, 10%) !important;
                margin-top: -25px !important;
            }
            &:last-child {
                .su-icon-list {
                    border-right: none !important;
                }           
            }
        }
        
    }
    .footer-wrapper {
        .uk-container {
            .footer-r {
                text-align: center;
                .uk-nav li:first-child {
                    margin-left: 0;
                }
            }
            .footer-l {
                text-align: center;
                .copyright {
                    text-align: center;
                }
            }
        }
    }
    .tm-totop-scroller {display: none;}
    .section-divider {
        .su-row {
            .su-column {
                margin: 0 !important; 
            }
        }
        .su-row.su-gutter-large > * {
            padding: 0 !important;
        }
        .su-row.su-gutter-large {
            margin: 0 !important;
        }
        > .su-section-content {
            > .su-row {
                > .su-column-size-medium-1-2 {
                    &:first-child {
                        > .su-column-inner {
                            background-color: @global-color;
                            padding: 0 25px;
                        }
                    }
                    &:last-child {
                        > .su-column-inner {
                            background-color: @global-link-color;
                            padding: 0 25px;
                        }
                    }
                }
            }
        }
    }
    ul.tm-pricing-head {
        text-align: center;
    }
    .xlarge-heading {
        font-size: 24px;
        line-height: 24px;
        text-align: center;
    }
}

.tm-offcanvas {
    .uk-navbar-toggle:after {display: none;}
    > a {
        &:hover > .tm-icon-menu:before {
            -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
        }
        &:hover > .tm-icon-menu:after {
            -webkit-transform: translateY(0) rotate(-90deg);
            transform: translateY(0) rotate(-90deg);
        }
        .tm-icon-menu {
            background: #fff;
            &:before {
                -webkit-transform: translateY(-250%);
                transform: translateY(-250%);
            }
            &:after {
                -webkit-transform: translateY(250%);
                transform: translateY(250%);
            }
        }
    }
    [class*='tm-icon-'] {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 2px;
        transform: translateX(-50%) translateY(-50%);
        &:before, &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;
            -webkit-transition: all 0.2s cubic-bezier(0, 0.99, 0.2, 1);
            transition: all 0.2s cubic-bezier(0, 0.99, 0.2, 1);
        }
    }
}

@media only screen and (min-width: 960px) and (max-width: 1219px) {
    .layout-boxed {
        .layout-boxed-wrapper,
        .header-top-wrapper {
            max-width: 960px;
        }
    }
    .tm-header-wrapper {
        .logo-container {
            float: left;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1219px) {
    .uk-navbar-nav>li>a {
        padding: 0 15px;
    }
}