// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Dropdown
//
// ========================================================================


// Variables
// ========================================================================

@dropdown-z-index:                              @global-z-index + 20;
@dropdown-color:                                @global-color;
@dropdown-divider-border:                       @global-border;
@dropdown-navbar-margin:						0px;
@dropdown-navbar-color:                         @global-color;
@dropdown-navbar-background:					#222;
@dropdown-width:								260px;
@dropdown-padding:								25px;									

// Component
// ========================================================================

.hook-dropdown() {}


// Modifier: `uk-dropdown-navbar`
// ========================================================================

.hook-dropdown-navbar() {
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}


// Miscellaneous
// ========================================================================

.hook-dropdown-misc() {

	@media (min-width: 768px) {
	    .uk-dropdown:not(.uk-dropdown-stack)>.uk-dropdown-grid>[class*='uk-width-']:nth-child(n+2) {
	      border-left: 1px solid lighten(@dropdown-navbar-background, 7%);
	    }
	    .uk-dropdown-width-5:not(.uk-dropdown-stack) {
	    	width: @utility-container-large-max-width - @global-grid-gutter-large *2;
	    }
	}
}