// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Nav
//
// ========================================================================


// Variables
// ========================================================================

@nav-header-padding-vertical:                   10px;
@nav-header-padding-horizontal:                 0px;
@nav-header-font-size:                          round((@global-font-size * 0.85)); // 12px / 14px
@nav-header-margin-top:                         @global-margin;

@nav-divider-margin-horizontal:                 @nav-padding-horizontal;

@nav-subtitle-font-size:                        round((@global-font-size * 0.85)); // 12px / 14px
@nav-subtitle-line-height:                      round((@nav-subtitle-font-size * 1.46)); // 18px / 20px

@nav-sub-padding-left:                          @nav-padding-horizontal;

@nav-parent-icon-width:                         @global-line-height;

@nav-side-color:                                @global-color;
@nav-side-hover-color:                          @global-color;
@nav-side-active-background:                    @global-primary-background;
@nav-side-active-color:                         @global-contrast-color;
@nav-side-header-color:                         @global-color;
@nav-side-divider-border:                       @global-border;
@nav-side-nested-color:                         @global-link-color;
@nav-side-nested-hover-color:                   @global-link-hover-color;

@nav-dropdown-color:                            @global-color;
@nav-dropdown-hover-background:                 @global-primary-background;
@nav-dropdown-hover-color:                      @global-contrast-color;
@nav-dropdown-header-color:                     @global-muted-color;
@nav-dropdown-divider-border:                   @global-border;
@nav-dropdown-nested-color:                     @global-link-color;
@nav-dropdown-nested-hover-color:               @global-link-hover-color;

@nav-navbar-color:                              #d5d5d5;
@nav-navbar-hover-background:                   transparent;
@nav-navbar-hover-color:                        #ffffff;
@nav-navbar-header-color:                       @global-muted-color;
@nav-navbar-divider-border:                     @global-border;
@nav-navbar-nested-color:                       @global-link-color;
@nav-navbar-nested-hover-color:                 @global-link-hover-color;

@nav-offcanvas-color:                           @offcanvas-panel-link-color;
@nav-offcanvas-hover-background:                lighten(@offcanvas-bar-background, 5%);
@nav-offcanvas-hover-color:                     @offcanvas-panel-link-hover-color;
@nav-offcanvas-active-background:               darken(@offcanvas-bar-background, 10%);
@nav-offcanvas-active-color:                    @offcanvas-panel-link-hover-color;
@nav-offcanvas-header-color:                    @offcanvas-panel-color;
@nav-offcanvas-divider-border:                  darken(@offcanvas-bar-background, 10%);
@nav-offcanvas-nested-color:                    @offcanvas-panel-link-color;
@nav-offcanvas-nested-hover-color:              @offcanvas-panel-link-hover-color;


// Sub-object: `uk-nav-header`
// ========================================================================

.hook-nav-header() {}


// Sub-object: `uk-nav-divider`
// ========================================================================

.hook-nav-divider() {}


// Sub-object: `uk-nav-sub`
// ========================================================================

.hook-nav-sub() {}


// Modifier: `uk-nav-parent-icon`
// ========================================================================

.hook-nav-parent-icon() {}


// Modifier `uk-nav-side`
// ========================================================================

//
// Items
//

.hook-nav-side() {}

// Hover
.hook-nav-side-hover() {}

// Active
.hook-nav-side-active() {}

//
// Sub-object: `uk-nav-header`
//

.hook-nav-side-header() {}

//
// Sub-object: `uk-nav-divider`
//

.hook-nav-side-divider() {}


// Modifier `uk-nav-dropdown`
// ========================================================================

//
// Items
//

.hook-nav-dropdown() {
}

// Hover
.hook-nav-dropdown-hover() {}

//
// Sub-object: `uk-nav-header`
//

.hook-nav-dropdown-header() {}

//
// Sub-object: `uk-nav-divider`
//

.hook-nav-dropdown-divider() {}


// Modifier `uk-nav-navbar`
// ========================================================================

//
// Items
//

.hook-nav-navbar() {}

// Hover
.hook-nav-navbar-hover() {}

//
// Sub-object: `uk-nav-header`
//

.hook-nav-navbar-header() {}

//
// Sub-object: `uk-nav-divider`
//

.hook-nav-navbar-divider() {}


// Modifier `uk-nav-offcanvas`
// ========================================================================

.hook-nav-offcanvas-link() {}

.hook-nav-offcanvas-link-hover() {}

//
// Items
//

.hook-nav-offcanvas() {
}

// Hover
.hook-nav-offcanvas-hover() {}

// Active
.hook-nav-offcanvas-active() {}

//
// Sub-object: `uk-nav-header`
//

.hook-nav-offcanvas-header() {}

//
// Sub-object: `uk-nav-divider`
//

.hook-nav-offcanvas-divider() {}


// Miscellaneous
// ========================================================================

.hook-nav-misc() {
	aside[class*="tm-sidebar"] {
		.uk-nav-side {
			> li {
				border-bottom: 1px solid lighten(@nav-side-divider-border, 5%);
				&:last-child {
					border: none;
				}
				> a {
					padding-right: 15px;
					background: none !important;
				}
				&.uk-active {
					> a {
						background: transparent;
						color: @global-color;
					}
				}
				&.uk-open {
					border-bottom: 1px solid lighten(@nav-side-divider-border, 5%);
					.uk-nav-sub {
						.uk-parent {
							ul > {
								font-size: 13px;
							}
						}
					}
				} 
			}
			.uk-nav-sub {
				border-top: 1px solid lighten(@nav-side-divider-border, 5%);
				padding: 15px 0;
			}
		}
	}
}