// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Navbar
//
// ========================================================================


// Variables
// ========================================================================
@navbar-background: 							transparent;
@navbar-color:                                  @global-color;
@navbar-link-color:                             @global-link-color;
@navbar-link-hover-color:                       @global-link-hover-color;

@navbar-nav-line-height:                        @navbar-nav-height;
@navbar-nav-color:                              #888;
@navbar-nav-font-size:                          @global-font-size;
@navbar-nav-hover-color:                        @global-color;
@navbar-nav-onclick-color:                      @global-color;
@navbar-nav-active-color:                       #444;
@navbar-nav-hover-background: 					rgba(0, 0, 0, 0.05);

@navbar-brand-font-size:                        round((@global-font-size * 1.28)); // 18px / 20px
@navbar-brand-color:                            @global-color;
@navbar-brand-hover-color:                      @global-color;

@navbar-toggle-font-size:                       round((@global-font-size * 1.28)); // 18px / 20px
@navbar-toggle-color:                           #f5f5f5;
@navbar-toggle-hover-color:                     #ffffff;
@navbar-nav-padding-horizontal:					25px;

// Component
// ========================================================================

.hook-navbar() {

}


// Sub-object: `uk-navbar-nav`
// ========================================================================

.hook-navbar-nav() {}

// Hover
.hook-navbar-nav-hover() {}

// OnClick
.hook-navbar-nav-onclick() {}

// Active
.hook-navbar-nav-active() {}


// Sub-object: `uk-navbar-content`
// ========================================================================

.hook-navbar-content() {}


// Miscellaneous
// ========================================================================

.hook-navbar-misc() {
	.uk-navbar-center {
		max-width: 70%;
	}
	.navbar-default {
		.uk-dropdown-navbar.uk-dropdown-bottom {
			margin-left: -12px;
		}
		.uk-dropdown-navbar.uk-dropdown-up { margin-bottom: 15px;}
		.uk-navbar-nav {
			> li {
				position: relative;
				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0px;
					height: 100%;
					width: 1px;
					background-color: rgba(0,0,0,0.1);
					transform: skew(-25deg);
				}
				> a {
					background: transparent;
					text-transform: uppercase;
					position: relative;
				}
				&:hover {
					a {
					}
				}
				&:first-child {
					&::after {
						display: none;
					}
				}
			}
			> li.uk-active {
				a:after {
				}
			}
		}
	}

	// Navbar style 2
	.navbar-style2 {
		.uk-navbar-nav {
			> li {
				> a {
					background: transparent;
					text-transform: uppercase;
					position: relative;
					&:after {
						position: absolute;
						bottom: -1px;
						left: 50%;
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
						content: '';
						background: @global-link-color;
						height: 1px;
						width: 0px;
						.transition(all .5s cubic-bezier(0.06, 0.68, 0.57, 1.07));
					}
				}
				&:hover {
					a {
						&::after {
							width: 100%;
						}
					}
				}
			}
			> li.uk-active {
				a:after {
					width: 100%;
				}
			}
			div.uk-dropdown {
				&:before {
					display: none;
				}
			}

		}	
	}
	.uk-navbar-nav {
		div.uk-dropdown {
			.uk-nav-navbar {
				> li:not(.uk-parent) {
					border-bottom: 1px solid lighten(@dropdown-navbar-background, 7%);
				}
				> li:last-child {
					border-bottom: none;
				}
				.uk-nav-sub {
					border-top: 1px solid lighten(@dropdown-navbar-background, 7%);
					font-size: @dropdown-font-size - .1;
				}
				> li {
					text-align: left;
					> a[class*="badge-"] {
						&:before {
							top: 12px;
						}
					}
				}
			}
			.uk-nav-navbar {
				margin: 0px;
			}
		}
		> li.uk-active {
			.uk-nav-navbar {
				> li.uk-active {
					> a {
						color: @nav-navbar-hover-color;
					}
				}
			}
		}
		> li.uk-parent {
			.uk-nav-navbar {
				> li.uk-parent {
					> a {
						font-weight: 700;
					}
					&.uk-active {
						.uk-nav-sub {
							> li.uk-active {
								> a {
									font-weight: 700;
								}
							}
						}
					}
				}
			}
		}
		li {
			a[class*="badge-"] {
				position: relative;
				&:before {
					position: absolute;
					right: 0;
					text-transform: uppercase;
					font-size: @dropdown-font-size - .4;
					padding: 4px 5px;
					border-radius: 2px;
					text-align: center;
					line-height: @dropdown-font-size - .4;
					color: #fff;
				}
			}
			a.badge-new {
				&:before {
					content: "new";
					background-color: #8dd538;							
				}
			}
			a.badge-hot {
				&:before {
					content: "hot";
					background-color: #f14b51;							
				}
			}
			a.badge-populer {
				&:before {
					content: "populer";
					background-color: #f39c12;							
				}
			}
		}
	}

	// Navbar style 3
	.navbar-style3 {
		//.uk-dropdown-navbar {margin-top: 28px;}
		.uk-navbar-nav {
			> li {
				margin-right: 0;
				&:last-child {margin-right: 0; > a {border-right: 1px solid @navbar-nav-hover-background;}}
				> a {
					background: transparent;
					text-transform: uppercase;
					position: relative;
					-webkit-transform: translateZ(0);
					transform: translateZ(0);
					border-left: 1px solid @navbar-nav-hover-background;
					overflow: hidden;
					font-size: @navbar-nav-font-size;
					padding: 0 @navbar-nav-padding-horizontal;
					&:before {
						content: "";
						position: absolute;
						z-index: -1;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						-webkit-transform-origin: 0 50%;
						transform-origin: 0 50%;
						background: @navbar-nav-hover-background;
						.transform(scaleX(0));
						.transition(transform 0.3s ease-out);
					}
					&:hover {
						&::before {
							.transform(scaleX(1));
						}
					}
				}
			}
			> li.uk-active {
				a {
					//margin-right: 1px;
					&:before {
						.transform(scaleX(1));
					}
				}
			}
		}
	}

	// Navbar style 4
	.navbar-style4 {
		.uk-navbar-nav {
			> li {
				&:last-child {margin-right: 0;}
				&.uk-parent {
					&:after {
					    content: "\f107";
					    position: absolute;
					    font-family: FontAwesome;
					    right: 8px;
					    top: 50%;
					    .transform(translateY(-50%));
					}
				}
				> a {
					background: transparent;
					text-transform: uppercase;
					position: relative;
					&:before {
						
					}
					&:hover {
						&::before {
							
						}
					}
				}
			}
		}
		&.header-style2 .uk-navbar-nav>li:first-child>a {
			padding-left: 0;
		}
	}
	// Navbar style 5
	.navbar-style5 {
		.uk-navbar-nav {
			> li {
				&:last-child {margin-right: 0;}
				> a {
					background: transparent;
					text-transform: uppercase;
					position: relative;
					&::before, 
					&::after {
					  display: inline-block;
					  opacity: 0;
					  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
					  transition: transform 0.3s, opacity 0.2s;
					}
					&:before {
						  content: '[';
						  -webkit-transform: translateX(20px);
						  transform: translateX(20px);
						  position: absolute;
					}
					&:after {
						  content: ']';
						  -webkit-transform: translateX(-20px);
						  transform: translateX(-20px);
						  position: absolute;
					}
					&:hover {
						&::before {
						  opacity: 1;
						  -webkit-transform: translateX(-10px);
						  transform: translateX(-10px);
						  color: @global-link-color;
						}
						&::after {
						  opacity: 1;
						  -webkit-transform: translateX(5px);
						  transform: translateX(5px);
						  color: @global-link-color;
						}
					}
					&:focus::before {
					  opacity: 1;
					  -webkit-transform: translateX(-10px);
					  transform: translateX(-10px);
					}
					&:focus::after {
					  opacity: 1;
					  -webkit-transform: translateX(5px);
					  transform: translateX(5px);
					}
				}
			}
		}
	}
	body .uk-dropdown-navbar .uk-form-row button[type*='submit'] {width: 100%;}
	body .uk-dropdown-navbar input[type="text"],
	body .uk-dropdown-navbar input[type="password"] {background: rgba(255,255,255,0.05);border-color: rgba(255,255,255,0.08);}
	body .uk-dropdown-navbar .uk-form ul > li > a {font-size: 11px;}
	body .uk-dropdown-navbar .uk-form ul > li {line-height: 14px;margin-top: 5px;}
	body .uk-dropdown-navbar ul.uk-list li a:before {content: "\f1db";font-family: FontAwesome;display: inline-block;left: 0;top: -1px;margin-right: 5px;font-size: 8px;position: relative;}
	body .uk-dropdown-navbar .uk-form label {color: #aaa;}
}