// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Off-canvas
//
// ========================================================================


// Variables
// ========================================================================

@offcanvas-z-index:                             @global-z-index;
@offcanvas-bar-width: 							300px;
@offcanvas-search-icon-color:					#fff;
@offcanvas-search-color:						#fff;

// Component
// ========================================================================

.hook-offcanvas() {
	.uk-panel:first-child {
		margin-bottom: 50px;
	}

}


// Sub-object `uk-offcanvas-bar`
// ========================================================================

.hook-offcanvas-bar() {
    &:after {
        content: "";
        width: 100%;
        height: @navbar-nav-height + @global-grid-gutter*2 - 10;
        background-color: @global-link-color;
        position: absolute;
        top: 0;
    }
    .uk-nav-offcanvas {
    	padding: 0 35px;
    	> li > a {
    		padding: 5px 0;
    	}
    	.uk-nav-sub {
    		//border-top: 1px solid #414141;
    		//padding: 0;
    	}
    	ul.uk-nav-sub {
    		font-size: @dropdown-font-size - .1;
    		> li:not(.uk-parent) {
    			font-size: @dropdown-font-size - .1;
    			> a {
    				padding: 5px 0;
    			}
    		}
    		> li.uk-parent {
    			> a {
    			}
    			> ul {
    				font-size: @dropdown-font-size - .1;
    				> li {
    				}
    			}
    		}
    	}
    	li {
    		//border-bottom: 1px solid #414141;
    		a {
    			background: none !important;
    			padding-top: 10px;
    			padding-bottom: 10px;
    		}
    		&.uk-active {
    			> a {
    				color: #fff;
    				font-weight: 700;
    			}
    		}
    		&:last-child {
    			border-bottom: none;
    		}
    	}
    }	
    form.uk-search {
    	border-bottom: 1px solid lighten(@global-link-color, 10%);
    	margin: 0 !important;
    	z-index: 10;
    	input.uk-search-field {
    		padding-bottom: 10px;
    		padding-top: 10px;
    		margin-top: 0px;
    		padding-left: 40px;
    		background: none;
    		&::-webkit-input-placeholder {
    		    color: #fff;
    		}
    		&:-moz-placeholder {
    		    color: #fff;
    		}
    		&::-moz-placeholder {
    		    color: #fff;
    		}
    		&:-ms-input-placeholder {
    		    color: #fff;
    		}
    	}
    	&:before {
    		top: 12px;
    		left: 0px;
    	}
    	input.uk-search-field:-webkit-autofill {
    		background: #fff !important;
    	}
    }
}


// Panel in offcanvas
// ========================================================================

.hook-offcanvas-panel() {
	margin: 20px 30px;
}


// Miscellaneous
// ========================================================================

.hook-offcanvas-misc() {
}