// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Text
//

@global-color:                                  #444;
@global-muted-color:                            #999;

@global-link-color:                             #FF2B42;
@global-link-hover-color:                       #F5001D;

@global-contrast-color:                         #fff;

@global-font-size:                              14px;
@global-line-height:                            20px;

@base-body-font-family: 						'Open Sans';
@base-heading-font-family: 						'Raleway';
@base-heading-font-weight: 						300;
@article-title-font-weight: 					300;

//
// Backgrounds & Borders
//

@global-background:                             #fff;
@global-border:                                 #ddd;
@global-border-radius:                          3px;
@global-border-width:							2px;

@global-primary-background:                     #FF2B42;
@global-success-background:                     #8cc14c;
@global-warning-background:                     #faa732;
@global-danger-background:                      #da314b;

@global-primary-gradient-top: 					#5cc0ea;
@global-primary-gradient-bottom: 				#4cacd7;

@base-selection-background: 					#FF2B42;

//
// Spacings
//

@global-margin:                                 20px;
@global-margin-large:                           30px;
@global-grid-gutter:                            25px;
@global-grid-gutter-large:                      35px;

//
// Controls
//

@global-height:                                 30px;
@global-height-mini:                            20px;
@global-height-small:                           25px;
@global-height-large:                           40px;

//
// Z-index
//

@global-z-index:                                1000;

// form
//

@form-focus-border: 							@global-link-color;
@form-focus-background: 						rgba(red(@global-link-color), green(@global-link-color), blue(@global-link-color), 0.04);


@panel-box-primary-background: 					#eefaff;
@panel-box-primary-color: 						#699eb3;
@panel-box-primary-title-color: 				#3484a4;

@nav-padding-horizontal: 						0;
@nav-side-active-box-shadow: 					rgba(0,69,109,0.25);
@nav-dropdown-hover-box-shadow: 				rgba(0,69,109,0.25);
@nav-navbar-hover-box-shadow: 					rgba(0,69,109,0.25);
@nav-search-active-box-shadow: 					rgba(0,69,109,0.25);
@nav-padding-vertical: 							10px;


@button-primary-hover-background: 				#F5001D;
@button-primary-active-background: 				#F5001D;

@icon-button-hover-color: 						@global-link-hover-color;

@badge-font-size: 								11px;
@badge-font-weight: 							normal;
@thumbnail-background: 							#fff;

@utility-heading-large-font-size: 				round(@global-font-size * 3.71);
@utility-heading-large-line-height: 			round(@utility-heading-large-font-size * 1.23);


@navbar-nav-height: 							55px;
@navbar-nav-font-family: 						'Open Sans';
@navbar-nav-font-weight: 						400;

@dropdown-animation: 							uk-fade;
@dropdown-search-navbar-margin-right: 			0;
@dropdown-navbar-animation: 					uk-slide-bottom-fixed;