@import 'https://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300|Lobster';

@base-body-font-family: 'Open Sans';
@base-heading-font-family: 'Lobster';
@base-heading-font-weight: 400;

@global-link-color: #ffb400;
@global-link-hover-color: #ffa800;
@theme_toolbar-link-color: #ffb400;
@theme_toolbar-color: #7c7979;
@theme_toolbar-link-hover-color: #e82650;
@base-selection-background: #ffb400;
@global-primary-background: #ffb400;
@dropdown-navbar-margin:	6px;
@dropdown-navbar-background:	#fff;
@nav-navbar-color:           #666;
@nav-navbar-hover-color:     #000;
// top b
@theme_top_b-background-color: #ffb400;
@theme_top_b-color: #fff;
@theme_top_b-title-color: #fff;

@theme_top_d-background-color: #fff;
@theme_top_d-color: #666;
@theme_top_d-title-color: #444;