@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300';
@import 'https://fonts.googleapis.com/css?family=Oxygen';

@base-body-font-family: 'Open Sans';
@base-heading-font-family: 'Oxygen';
@base-heading-font-weight: 400;
@global-link-color: #234c67;
@global-link-hover-color: #72a9b5;
@theme_toolbar-link-color: #3498db;
@theme_toolbar-color: #7c7979;
@theme_toolbar-link-hover-color: #e82650;
@base-selection-background: #3498db;
@global-primary-background: #285e82;
@theme_top_a-background-color: #fff;
@theme_top_a-color: #666;
@theme_top_a-title-color: #444;
@theme_top_b-background-color: #fcfcfc;
@theme_top_b-color: #666;
@theme_top_b-title-color: #444;
@theme_bottom_a-background-color: #46718d;
@theme_bottom_a-color: #ffffff;
@theme_bottom_a-title-color: #fff;
@theme_fullwidth_top-background-color: #444;
@theme_fullwidth_top-color: #fff;
@theme_fullwidth_top-title-color: #fff;
@global-primary-gradient-top: #2b7899;
@global-primary-gradient-bottom: #2f6076;
@global-success-background: #91cc91;
@theme_drawer-background-color: #434f73;
@button-primary-hover-background: #335b7c;
@button-primary-active-background: #335b7c;
@nav-padding-vertical: 3px;
@nav-header-padding-vertical: 5px;
@navbar-nav-height: 30px;
@navbar-nav-color: #335b7c;
@offcanvas-bar-background: #88cd81;