@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300|Oswald: 300,400,700';

@base-body-font-family: 'Open Sans';
@base-heading-font-family: 'Oswald';
@base-heading-font-weight: 400;
@global-link-color: #1abc9c;
@global-link-hover-color: #149077;
@theme_toolbar-link-color: #1abc9c;
@theme_toolbar-color: #7c7979;
@theme_toolbar-link-hover-color: #e82650;
@base-selection-background: #1abc9c;
@global-primary-background: #1abc9c;

@theme_top_a-background-color: #fff;
@theme_top_a-color: #666;
@theme_top_a-title-color: #444;

@theme_top_b-background-color: #1abc9c;
@theme_top_b-color: #444;
@theme_top_b-title-color: #444;

@theme_expanded_top-background-color: #ffffff;
@theme_expanded_bottom-background-color: #1abc9c;
@theme_expanded_bottom-color: #fff;
@theme_expanded_bottom-title-color: #fff;
.tm-expanded-bottom a {color: #fff;opacity: 0.8;}
