@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300';
@import 'https://fonts.googleapis.com/css?family=Arvo';

@base-body-font-family: 'Open Sans';
@base-heading-font-family: 'Arvo';
@base-heading-font-weight: 400;
@global-link-color: #E8263A;
@global-link-hover-color: #ED5464;
@theme_toolbar-link-color: #E8263A;
@theme_toolbar-color: #7c7979;
@theme_toolbar-link-hover-color: #e82650;
@base-selection-background: #E8263A;
@global-primary-background: #E8263A;
@theme_footer-background-color: #151515;