
.su-progress-pie {
  position: relative;
  display: inline-block;
  text-align: center;
}

.su-progress-pie canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.su-pp-align-none { margin: 0 0 1.5em 0; }
.su-pp-align-left {
	margin: 0 1em 1.5em 0;
	float: left;
}
.su-pp-align-right {
	margin: 0 0 1.5em 1em;
	float: right;
}
.su-pp-align-center {
	margin: 1.5em auto;
	clear: both;
}
.su-progress-pie > div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	text-align: center;
}
.su-pp-text {
	display: inline-block;
}
.su-pp-before,
.su-pp-after {
	display: inline-block;
	margin: 0 0.1em;
	vertical-align: middle;
}


