/*===============================
 time:1539824956
================================================================================*/
#juxhk_mm_349 .jux-megamenu.animate .mega > .mega-dropdown-menu,
#juxhk_mm_349 .jux-megamenu.animate.slide .mega>.mega-dropdown-menu>div{transition-duration:300ms;-webkit-transition-duration:300ms;-ms-transition-duration:300ms;-o-transition-duration:300ms}#juxhk_mm_349{background-color:#fff;border-width:none;border-style:;border-color:}#juxhk_mm_349 .jux-megamenu .dropdown-menu{background-color:#fffff;border-width:none;border-style:;border-color:;box-shadow:;-moz-box-shadow:;-webkit-box-shadow:;-o-box-shadow:;-ms-box-shadow: }#juxhk_mm_349 .jux-nav>li>a{border-width:none;border-style:;border-color:;color:#111}#juxhk_mm_349 .jux-nav .dropdown-toggle
.caret{border-top-color:#111;border-bottom-color:#111}#juxhk_mm_349 .jux-nav > li > a:hover,
#juxhk_mm_349 .jux-nav > li > a:focus,
#juxhk_mm_349 .jux-nav > li.current > a,
#juxhk_mm_349 .jux-nav > li.active > a,
#juxhk_mm_349 .jux-nav>li:hover>a{background:#fffff;color:#0856a1}#juxhk_mm_349 .jux-nav .dropdown-toggle:hover
.caret{border-top-color:#0856a1;border-bottom-color:#0856a1}@media (max-width: 767px){#juxhk_mm_349 .jux-nav > li.mega > a:after,
#juxhk_mm_349.jux-vertical.jux-right .jux-nav > li.mega > a:after,
.jux-vertical.jux-left .jux-nav>li.mega>a:after{border-color:#111 transparent !important}#juxhk_mm_349 .jux-nav > li.mega:hover > a:after,
#juxhk_mm_349.jux-vertical.jux-right .jux-nav > li.mega:hover > a:after,
#juxhk_mm_349.jux-vertical.jux-left .jux-nav>li.mega:hover>a:after{border-color:#0856a1 transparent !important}}#juxhk_mm_349 .jux-megamenu .dropdown-menu
a{border-width:none;border-style:;border-color:;color:#fff}#juxhk_mm_349 .jux-megamenu .dropdown-menu li > a:hover,
#juxhk_mm_349 .jux-megamenu .dropdown-menu li > a:focus,
#juxhk_mm_349 .dropdown-menu li > a:hover,
#juxhk_mm_349 .dropdown-menu li.current > a,
#juxhk_mm_349 .dropdown-menu li.active > a,
#juxhk_mm_349 .dropdown-menu li > a:focus,
#juxhk_mm_349 .dropdown-submenu:hover>a{background:#fffff;color:#fff}#juxhk_mm_349 .jux-megamenu .dropdown-submenu>a:after{border-color:#fff}#juxhk_mm_349 .jux-megamenu .dropdown-submenu:hover>a:after{border-color:#fff}@media (max-width: 767px){#juxhk_mm_349 .jux-megamenu .dropdown-submenu > a:after,
#juxhk_mm_349 .jux-megamenu .mega-group>a:after{border-color:#fff transparent !important}#juxhk_mm_349 .jux-megamenu .dropdown-submenu:hover > a:after,
#juxhk_mm_349 .jux-megamenu .mega-group:hover>a:after{border-color:#fff transparent !important}}