/*===============================
 time:1421652576
================================================================================*/
#juxhk_mm_191 .jux-megamenu.animate .mega > .mega-dropdown-menu,
#juxhk_mm_191 .jux-megamenu.animate.slide .mega>.mega-dropdown-menu>div{transition-duration:400ms;-webkit-transition-duration:400ms;-ms-transition-duration:400ms;-o-transition-duration:400ms}#juxhk_mm_191{background:#c54bdb;background:-moz-linear-gradient(top, #c54bdb, #2e2e2e 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#c54bdb), color-stop(100%,#2e2e2e));background:-webkit-linear-gradient(top, #c54bdb 0%,#2e2e2e 100%);background:-o-linear-gradient(top, #c54bdb 0%,#2e2e2e 100%);background:linear-gradient(to bottom,  #c54bdb 0%,#2e2e2e 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c54bdb', endColorstr='#2e2e2e', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border-width:1;border-style:none;border-color:#947a99;margin:7px
7px;padding:9px
9px;border-radius:0px 0px 0px 0px;-moz-border-radius:0px 0px 0px 0px;-o-border-radius:0px 0px 0px 0px;-webkit-border-radius:0px 0px 0px 0px;-ms-border-radius:0px 0px 0px 0px}#juxhk_mm_191 .jux-megamenu .dropdown-menu{background-color:#fff;border-width:2px;border-style:solid;border-color:#947a99;margin:7px;border-radius:0px 0px 0px 0px;-moz-border-radius:0px 0px 0px 0px;-o-border-radius:0px 0px 0px 0px;-webkit-border-radius:0px 0px 0px 0px;-ms-border-radius:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00);-moz-box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00);-webkit-box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00);-o-box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00);-ms-box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00) }#juxhk_mm_191 .jux-nav>li>a{border-width:0px;border-style:none;border-color:#6d9cc7;padding:7px
12px 7px 12px;color:#d0deed}#juxhk_mm_191 .jux-nav .dropdown-toggle
.caret{border-top-color:#d0deed;border-bottom-color:#d0deed}#juxhk_mm_191 .jux-nav > li > a:hover,
#juxhk_mm_191 .jux-nav > li > a:focus,
#juxhk_mm_191 .jux-nav > li.current > a,
#juxhk_mm_191 .jux-nav > li.active > a,
#juxhk_mm_191 .jux-nav>li:hover>a{background:#a31536;color:#fff}#juxhk_mm_191 .jux-nav .dropdown-toggle:hover
.caret{border-top-color:#fff;border-bottom-color:#fff}#juxhk_mm_191.jux-vertical.jux-right .jux-nav>li.mega>a:after{border-color:transparent #d0deed}#juxhk_mm_191.jux-vertical.jux-left .jux-nav>li.mega>a:after{border-color:transparent transparent transparent #d0deed}#juxhk_mm_191.jux-vertical.jux-right .jux-nav>li.mega:hover>a:after{border-color:transparent #fff}#juxhk_mm_191.jux-vertical.jux-left .jux-nav>li.mega:hover>a:after{border-color:transparent transparent transparent #fff}@media (max-width: 767px){#juxhk_mm_191 .jux-nav > li.mega > a:after,
#juxhk_mm_191.jux-vertical.jux-right .jux-nav > li.mega > a:after,
.jux-vertical.jux-left .jux-nav>li.mega>a:after{border-color:#d0deed transparent !important}#juxhk_mm_191 .jux-nav > li.mega:hover > a:after,
#juxhk_mm_191.jux-vertical.jux-right .jux-nav > li.mega:hover > a:after,
#juxhk_mm_191.jux-vertical.jux-left .jux-nav>li.mega:hover>a:after{border-color:#fff transparent !important}}#juxhk_mm_191 .jux-megamenu .dropdown-menu
a{border-width:0px;border-style:none;border-color:#a8ccf0;color:#08414f}#juxhk_mm_191 .jux-megamenu .dropdown-menu li > a:hover,
#juxhk_mm_191 .jux-megamenu .dropdown-menu li > a:focus,
#juxhk_mm_191 .dropdown-menu li > a:hover,
#juxhk_mm_191 .dropdown-menu li.current > a,
#juxhk_mm_191 .dropdown-menu li.active > a,
#juxhk_mm_191 .dropdown-menu li > a:focus,
#juxhk_mm_191 .dropdown-submenu:hover>a{background:#a31536;color:#fff}#juxhk_mm_191 .jux-megamenu .dropdown-submenu>a:after{border-color:#08414f}#juxhk_mm_191 .jux-megamenu .dropdown-submenu:hover>a:after{border-color:#fff}@media (max-width: 767px){#juxhk_mm_191 .jux-megamenu .dropdown-submenu > a:after,
#juxhk_mm_191 .jux-megamenu .mega-group>a:after{border-color:#08414f transparent !important}#juxhk_mm_191 .jux-megamenu .dropdown-submenu:hover > a:after,
#juxhk_mm_191 .jux-megamenu .mega-group:hover>a:after{border-color:#fff transparent !important}}