/*===============================
 time:1421738062
================================================================================*/
#juxhk_mm_190 .jux-megamenu.animate .mega > .mega-dropdown-menu,
#juxhk_mm_190 .jux-megamenu.animate.slide .mega>.mega-dropdown-menu>div{transition-duration:400ms;-webkit-transition-duration:400ms;-ms-transition-duration:400ms;-o-transition-duration:400ms}#juxhk_mm_190{background-color:#d9ed76;border-width:1;border-style:none;border-color:#d9ed76;margin:7px
7px;padding:9px
9px}#juxhk_mm_190 .jux-megamenu .dropdown-menu{background-color:#fff;border-width:2px;border-style:solid;border-color:#d9ed76;margin:7px;border-radius:0px 0px 0px 0px;-moz-border-radius:0px 0px 0px 0px;-o-border-radius:0px 0px 0px 0px;-webkit-border-radius:0px 0px 0px 0px;-ms-border-radius:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00);-moz-box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00);-webkit-box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00);-o-box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00);-ms-box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00) }#juxhk_mm_190 .jux-nav>li>a{border-width:0px;border-style:none;border-color:#6d9cc7;padding:7px
12px 7px 12px;color:#393d39}#juxhk_mm_190 .jux-nav .dropdown-toggle
.caret{border-top-color:#393d39;border-bottom-color:#393d39}#juxhk_mm_190 .jux-nav > li > a:hover,
#juxhk_mm_190 .jux-nav > li > a:focus,
#juxhk_mm_190 .jux-nav > li.current > a,
#juxhk_mm_190 .jux-nav > li.active > a,
#juxhk_mm_190 .jux-nav>li:hover>a{background:#fff;color:#2d41d6}#juxhk_mm_190 .jux-nav .dropdown-toggle:hover
.caret{border-top-color:#2d41d6;border-bottom-color:#2d41d6}@media (max-width: 767px){#juxhk_mm_190 .jux-nav > li.mega > a:after,
#juxhk_mm_190.jux-vertical.jux-right .jux-nav > li.mega > a:after,
.jux-vertical.jux-left .jux-nav>li.mega>a:after{border-color:#393d39 transparent !important}#juxhk_mm_190 .jux-nav > li.mega:hover > a:after,
#juxhk_mm_190.jux-vertical.jux-right .jux-nav > li.mega:hover > a:after,
#juxhk_mm_190.jux-vertical.jux-left .jux-nav>li.mega:hover>a:after{border-color:#2d41d6 transparent !important}}#juxhk_mm_190 .jux-megamenu .dropdown-menu
a{border-width:0px;border-style:none;border-color:#a8ccf0;color:#4b4b4d}#juxhk_mm_190 .jux-megamenu .dropdown-menu li > a:hover,
#juxhk_mm_190 .jux-megamenu .dropdown-menu li > a:focus,
#juxhk_mm_190 .dropdown-menu li > a:hover,
#juxhk_mm_190 .dropdown-menu li.current > a,
#juxhk_mm_190 .dropdown-menu li.active > a,
#juxhk_mm_190 .dropdown-menu li > a:focus,
#juxhk_mm_190 .dropdown-submenu:hover>a{background:#fff;color:#2d41d6}#juxhk_mm_190 .jux-megamenu .dropdown-submenu>a:after{border-color:#4b4b4d}#juxhk_mm_190 .jux-megamenu .dropdown-submenu:hover>a:after{border-color:#2d41d6}@media (max-width: 767px){#juxhk_mm_190 .jux-megamenu .dropdown-submenu > a:after,
#juxhk_mm_190 .jux-megamenu .mega-group>a:after{border-color:#4b4b4d transparent !important}#juxhk_mm_190 .jux-megamenu .dropdown-submenu:hover > a:after,
#juxhk_mm_190 .jux-megamenu .mega-group:hover>a:after{border-color:#2d41d6 transparent !important}}