/*===============================
 time:1421742082
================================================================================*/
#juxhk_mm_137 .jux-megamenu.animate .mega > .mega-dropdown-menu,
#juxhk_mm_137 .jux-megamenu.animate.slide .mega>.mega-dropdown-menu>div{transition-duration:400ms;-webkit-transition-duration:400ms;-ms-transition-duration:400ms;-o-transition-duration:400ms}#juxhk_mm_137{background:#299e2f;background:-moz-linear-gradient(top, #299e2f, #7cc481 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#299e2f), color-stop(100%,#7cc481));background:-webkit-linear-gradient(top, #299e2f 0%,#7cc481 100%);background:-o-linear-gradient(top, #299e2f 0%,#7cc481 100%);background:linear-gradient(to bottom,  #299e2f 0%,#7cc481 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#299e2f', endColorstr='#7cc481', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border-width:1;border-style:none;border-color:#c1d6eb;margin:7px
7px;padding:9px
9px;border-radius:0px 0px 0px 0px;-moz-border-radius:0px 0px 0px 0px;-o-border-radius:0px 0px 0px 0px;-webkit-border-radius:0px 0px 0px 0px;-ms-border-radius:0px 0px 0px 0px}#juxhk_mm_137 .jux-megamenu .dropdown-menu{background-color:#fff;border-width:2px;border-style:solid;border-color:#7cc481;margin:7px;border-radius:0px 0px 0px 0px;-moz-border-radius:0px 0px 0px 0px;-o-border-radius:0px 0px 0px 0px;-webkit-border-radius:0px 0px 0px 0px;-ms-border-radius:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00);-moz-box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00);-webkit-box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00);-o-box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00);-ms-box-shadow:0px 0px 0px 0px rgba(136,186,235,1.00) }#juxhk_mm_137 .jux-nav>li>a{border-width:0px;border-style:none;border-color:#7cc481;padding:7px
12px 7px 12px;color:#e6e3e3}#juxhk_mm_137 .jux-nav .dropdown-toggle
.caret{border-top-color:#e6e3e3;border-bottom-color:#e6e3e3}#juxhk_mm_137 .jux-nav > li > a:hover,
#juxhk_mm_137 .jux-nav > li > a:focus,
#juxhk_mm_137 .jux-nav > li.current > a,
#juxhk_mm_137 .jux-nav > li.active > a,
#juxhk_mm_137 .jux-nav>li:hover>a{background:#a31536;color:#fff}#juxhk_mm_137 .jux-nav .dropdown-toggle:hover
.caret{border-top-color:#fff;border-bottom-color:#fff}@media (max-width: 767px){#juxhk_mm_137 .jux-nav > li.mega > a:after,
#juxhk_mm_137.jux-vertical.jux-right .jux-nav > li.mega > a:after,
.jux-vertical.jux-left .jux-nav>li.mega>a:after{border-color:#e6e3e3 transparent !important}#juxhk_mm_137 .jux-nav > li.mega:hover > a:after,
#juxhk_mm_137.jux-vertical.jux-right .jux-nav > li.mega:hover > a:after,
#juxhk_mm_137.jux-vertical.jux-left .jux-nav>li.mega:hover>a:after{border-color:#fff transparent !important}}#juxhk_mm_137 .jux-megamenu .dropdown-menu
a{border-width:0px;border-style:none;border-color:#7cc481;color:#08414f}#juxhk_mm_137 .jux-megamenu .dropdown-menu li > a:hover,
#juxhk_mm_137 .jux-megamenu .dropdown-menu li > a:focus,
#juxhk_mm_137 .dropdown-menu li > a:hover,
#juxhk_mm_137 .dropdown-menu li.current > a,
#juxhk_mm_137 .dropdown-menu li.active > a,
#juxhk_mm_137 .dropdown-menu li > a:focus,
#juxhk_mm_137 .dropdown-submenu:hover>a{background:#a31536;color:#fff}#juxhk_mm_137 .jux-megamenu .dropdown-submenu>a:after{border-color:#08414f}#juxhk_mm_137 .jux-megamenu .dropdown-submenu:hover>a:after{border-color:#fff}@media (max-width: 767px){#juxhk_mm_137 .jux-megamenu .dropdown-submenu > a:after,
#juxhk_mm_137 .jux-megamenu .mega-group>a:after{border-color:#08414f transparent !important}#juxhk_mm_137 .jux-megamenu .dropdown-submenu:hover > a:after,
#juxhk_mm_137 .jux-megamenu .mega-group:hover>a:after{border-color:#fff transparent !important}}