/*===============================
 time:1539050009
================================================================================*/
#juxhk_mm_348 .jux-megamenu.animate .mega.open > .mega-dropdown-menu,
#juxhk_mm_348 .jux-megamenu.animate .mega:hover > .mega-dropdown-menu,
#juxhk_mm_348 .jux-megamenu.animate .mega.animating.open>.mega-dropdown-menu{transition-delay:50ms;-webkit-transition-delay:50ms;-ms-transition-delay:50ms;-o-transition-delay:50ms}#juxhk_mm_348 .jux-megamenu.animate .mega > .mega-dropdown-menu,
#juxhk_mm_348 .jux-megamenu.animate.slide .mega>.mega-dropdown-menu>div{transition-duration:400ms;-webkit-transition-duration:400ms;-ms-transition-duration:400ms;-o-transition-duration:400ms}#juxhk_mm_348{background-color:#fff;border-width:none;border-style:;border-color:}#juxhk_mm_348 .jux-megamenu .dropdown-menu{background-color:#0856a1;border-width:1px;border-style:solid;border-color:#ccc;border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;-o-border-radius:0 0 0 0;-webkit-border-radius:0 0 0 0;-ms-border-radius:0 0 0 0;box-shadow:0 0 5 20 rgba(51,51,51,1.00);-moz-box-shadow:0 0 5 20 rgba(51,51,51,1.00);-webkit-box-shadow:0 0 5 20 rgba(51,51,51,1.00);-o-box-shadow:0 0 5 20 rgba(51,51,51,1.00);-ms-box-shadow:0 0 5 20 rgba(51,51,51,1.00) }#juxhk_mm_348 .jux-nav>li>a{border-width:none;border-style:;border-color:;color:#111}#juxhk_mm_348 .jux-nav .dropdown-toggle
.caret{border-top-color:#111;border-bottom-color:#111}#juxhk_mm_348 .jux-nav > li > a:hover,
#juxhk_mm_348 .jux-nav > li > a:focus,
#juxhk_mm_348 .jux-nav > li.current > a,
#juxhk_mm_348 .jux-nav > li.active > a,
#juxhk_mm_348 .jux-nav>li:hover>a{background:#fffff;color:#0856a1}#juxhk_mm_348 .jux-nav .dropdown-toggle:hover
.caret{border-top-color:#0856a1;border-bottom-color:#0856a1}@media (max-width: 767px){#juxhk_mm_348 .jux-nav > li.mega > a:after,
#juxhk_mm_348.jux-vertical.jux-right .jux-nav > li.mega > a:after,
.jux-vertical.jux-left .jux-nav>li.mega>a:after{border-color:#111 transparent !important}#juxhk_mm_348 .jux-nav > li.mega:hover > a:after,
#juxhk_mm_348.jux-vertical.jux-right .jux-nav > li.mega:hover > a:after,
#juxhk_mm_348.jux-vertical.jux-left .jux-nav>li.mega:hover>a:after{border-color:#0856a1 transparent !important}}#juxhk_mm_348 .jux-megamenu .dropdown-menu
a{border-width:none;border-style:;border-color:;color:#fff}#juxhk_mm_348 .jux-megamenu .dropdown-menu li > a:hover,
#juxhk_mm_348 .jux-megamenu .dropdown-menu li > a:focus,
#juxhk_mm_348 .dropdown-menu li > a:hover,
#juxhk_mm_348 .dropdown-menu li.current > a,
#juxhk_mm_348 .dropdown-menu li.active > a,
#juxhk_mm_348 .dropdown-menu li > a:focus,
#juxhk_mm_348 .dropdown-submenu:hover>a{background:#fffff;color:#eee}#juxhk_mm_348 .jux-megamenu .dropdown-submenu>a:after{border-color:#fff}#juxhk_mm_348 .jux-megamenu .dropdown-submenu:hover>a:after{border-color:#eee}@media (max-width: 767px){#juxhk_mm_348 .jux-megamenu .dropdown-submenu > a:after,
#juxhk_mm_348 .jux-megamenu .mega-group>a:after{border-color:#fff transparent !important}#juxhk_mm_348 .jux-megamenu .dropdown-submenu:hover > a:after,
#juxhk_mm_348 .jux-megamenu .mega-group:hover>a:after{border-color:#eee transparent !important}}