.su-contact_form .su-input-box input, .su-contact_form .su-input-box textarea {
	width: 100%;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	padding: 5px 10px;
}

.su-input-box input {
	height: 40px !important;
}


.su-form-wrapper .submit-button {
	margin-top: 10px;
}
.su-form-wrapper .submit-button input {
	margin-right: 10px;
	padding: 8px 16px;
	outline: none;
}

.su-contact_form .form-group {
	margin-left: 1%;
	width: 100%;
}

.su-contact_form .su-form-fields {
	position: relative;
	display: flex;
	margin-left: -1%;
	margin-bottom: 10px;
}
.su-contact_form .su-form-common-field .form-group {
	margin-left: 0;
}

.su-contact_form.name-email-subject .su-form-fields .form-group {
	width: 33.33%;
	float: left;
}


.su-contact_form.email-subject .su-form-fields .form-group {
	width: 50%;
	float: left;
}
.su-contact_form.email .su-form-fields .form-group {
	width: 100%;
}

.su-contact_form form {
	margin: 0 !important;
}

.su-contact_form .su-note {
	display: none;
}


/*Mobile Modes*/
@media (max-width: 767px) {
	.su-contact_form .su-form-fields {display: block;}
	.su-contact_form.name-email-subject .su-form-fields .form-group ,
	.su-contact_form.email-subject .su-form-fields .form-group,
	.su-contact_form.name-email .su-form-fields .form-group {
		width: 100%;
		margin-bottom: 15px;
	}
}
