@import 'https://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300|Oxygen:400,300,700);';

@base-body-font-family: 'Open Sans';
@base-heading-font-family: 'Oxygen';
@base-heading-font-weight: 400;

@global-link-color: #3498db;
@global-link-hover-color: #13BBE2;
@theme_toolbar-link-color: #3498db;
@theme_toolbar-color: #7c7979;
@theme_toolbar-link-hover-color: #e82650;
@base-selection-background: #3498db;
@global-primary-background: #3498db;

// top b
@theme_top_a-background-color: #fff;
@theme_top_a-color: #666;
@theme_top_a-title-color: #444;

// top b
@theme_top_b-background-color: #fcfcfc;
@theme_top_b-color: #666;
@theme_top_b-title-color: #444;

// bottom a
@theme_bottom_a-background-color: #3498db;
@theme_bottom_a-color: #fff;
@theme_bottom_a-title-color: #fff;

// fullwidth_top
@theme_fullwidth_top-background-color: #444;
@theme_fullwidth_top-color: #fff;
@theme_fullwidth_top-title-color: #fff;