@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Dosis:300,400,700';

@base-body-font-family: 'Roboto Condensed';
@base-heading-font-family: 'Dosis';
@navbar-nav-font-family: 'Roboto Condensed';
@base-heading-font-weight: 400;

@global-font-size: 16px;
@global-line-height: 22px;
@global-font-weight: 300;

@global-link-color: #23c6ec;
@global-link-hover-color: #13BBE2;
@theme_toolbar-link-color: #23c6ec;
@theme_toolbar-color: #7c7979;
@theme_toolbar-link-hover-color: #e82650;
@base-selection-background: #23c6ec;
@global-primary-background: #23c6ec;

// top a 
@theme_top_a-background-color: #444;
@theme_top_a-color: #ffffff;
@theme_top_a-title-color: #ffffff;

// top b
@theme_top_b-background-color: #fff;
@theme_top_b-color: #666;
@theme_top_b-title-color: #444;

// top c
@theme_top_c-background-color: #f2f2f2;
@theme_top_c-color: #666;
@theme_top_c-title-color: #444;

// top d
@theme_top_d-background-color: #fff;

// expanded_top
@theme_expanded_top-background-color: #f8f8f8;
@theme_fullwidth_top-title-color: #ffffff;

// fullwidth_bottom
@theme_fullwidth_bottom-background-color: #f2f2f2;