<span style='color: #000' title='Frames'>  1249</span><span style='color: #009' title='Memory'>  58112.00 KB</span><span style='color: #900' title='Time'>   1967.46 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />