body{background-color:#3c3c3c} 
h1 { font-weight:bold; font-size:14px;color:#3c3c3c !important;margin:0px; } 
h2 {  color:#009900 !important; font-size:14px; font-weight:bold; margin-top:20px; border-bottom:1px solid #d6d6d6; padding-bottom:4px; } 
h3 { color:#7e7e7e !important; font-size:14px; font-weight:bold; margin:20px 0px 0px 0px; border-bottom:1px solid #d6d6d6; padding-bottom:0px 0px 4px 0px; } 
h4 {  color:#006600 !important; font-size:12px; font-weight:bold; margin:0px; padding:0px; } 
a {  cursor:pointer; color:#006600; text-decoration:none; border:none; } 
.acymailing_unsub {color:#dddddd; text-decoration:none; font-size:11px; text-align:center; padding-top:10px} 
.acymailing_readmore {cursor:pointer; color:#ffffff; background-color:#006600; padding:3px 5px;} 
.acymailing_online {color:#dddddd; text-decoration:none; font-size:11px; text-align:center; padding-bottom:10px} 
a img{ border:0px; text-decoration:none;} 
table, div, p{
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#575757;
}
.intro{
	font-weight:bold;
	font-size:12px;}

.acyfooter a{
	color:#575757;}

@media (min-width: 10px){
	table[class=w600], td[class=w600]  { width:320px !important; }
	table[class=w540], td[class=w540]  { width:260px !important; }
	td[class=w30] { width:30px !important; }
	.w600 img{max-width:320px; height:auto !important}
	.w540 img{max-width:260px; height:auto !important}
}

@media (min-width: 480px){
	table[class=w600], td[class=w600]  { width:480px !important; }
	table[class=w540], td[class=w540]  { width:420px !important; }
	td[class=w30] { width:30px !important; }
	.w600 img{max-width:480px; height:auto !important}
	.w540 img{max-width:420px; height:auto !important}
}

@media (min-width:600px){
	table[class=w600], td[class=w600]  { width:600px !important; }
	table[class=w540], td[class=w540]  { width:540px !important; }
	td[class=w30] { width:30px !important; }
	.w600 img{max-width:600px; height:auto !important}
	.w540 img{max-width:540px; height:auto !important}
}
