body{background-color:#FFFFFF;} 
h1 { font-family:'Century Gothic', sans-serif; font-size:24px;   margin:5px 0px;  padding:0px;   font-weight:bold;   color:#0856a1 !important; } 
h2 { font-family:'Century Gothic', sans-serif; font-size:18px; font-weight:bold; color:#0955a1 !important; text-transform:uppercase; margin:5px 0px; padding:0px; } 
h3 { font-family:'Century Gothic', sans-serif;color:#060606 !important; font-weight:bold; font-size:16px; margin:0px; margin-bottom:10px; padding:0px; } 
h4 { font-family:'Century Gothic', sans-serif;font-size:14px;font-weight:bold; } 
h5 { font-family:'Century Gothic', sans-serif; } 
h6 { font-family:'Century Gothic', sans-serif; } 
a { font-family:'Century Gothic';cursor:pointer;   color:#0955a1;   text-decoration:underline;   border:none; } 
.acymailing_unsub {font-family:'Century Gothic';color:#cecece !important;   cursor:pointer;} 
.acymailing_content {color:#000;font-family:'Century Gothic';} 
.acymailing_readmore {cursor:pointer; font-weight:bold; color:#0955a1; text-decoration:underline} 
.acymailing_online {color:#cecece !important;   cursor:pointer;} 
a img{ border:0px; text-decoration:none;} 
body {
	font-family:"Century Gothic", sans-serif;
        color: #000;
}
table, div , td{
	font-family:"Century Gothic", sans-serif;
	font-size:14px;
        color: #111;
}

p{margin:0px; padding:0px}
.links a{color:#0856a1; text-decoration:none}


/*responsive template*/

@media (max-width:480px){
.w600{ width:320px !important;}
.w530{ width:280px !important;}
.w34{ width:20px !important;}
.w600 img {max-width:320px; height:auto !important}
.w530 img {max-width:280px; height:auto !important}
        }

@media (min-width: 480px) and (max-width: 600px){
.w600{width:480px !important;}
.w530{width:420px !important;}
.w34{ width:30px !important;}
.w600 img {max-width:480px; height:auto !important}
.w530 img {max-width:420px; height:auto !important}
        }

@media (min-width:600px){
.w600{ width:600px !important;}
.w530{ width:530px !important;}
.w34{ width:34px !important;}
.w600 img {max-width:600px; height:auto !important}
.w530 img {max-width:530px; height:auto !important}
}



