body{background-color:#fff;} 
h1 { font-size:24px;   font-weight:bold;   margin:0px;   text-transform:uppercase;   padding:0px; } 
h2 { font-size:16px; font-weight:bold; color:#444444 !important; margin:0px; margin-bottom:10px; padding:0px; padding-bottom:4px; border-bottom:2px solid #444 } 
h3 { color:#444444 !important; font-weight:normal; letter-spacing:2px; font-size:18px; margin:0px; padding:0px; padding-bottom:8px } 
a { cursor:pointer;    color:#0856a1;   text-decoration:none;   border:none;text-decoration:underline; } 
.acymailing_unsub {color:#858585 !important;   cursor:pointer;   background-color:#eae8e9;   padding:2px 5px;} 
.acymailing_readmore {cursor:pointer; font-weight:bold; color:#fff; background-color:#0856a1; padding:3px 6px;} 
.acymailing_online {color:#858585 !important;   cursor:pointer;   background-color:#eae8e9;   padding:2px 5px;} 
a img{ border:0px; text-decoration:none;} 
body{}        
a img{ border:0px; text-decoration:none;} 
body {
	
	color:#676767;
}
table, div, td, td{
	font-family:Century Gothic, Helvetica, sans-serif;
	font-size:14px;
}

p{margin:0px; padding:0px}
.black{color:#444; font-weight:bold;}
.grey{color:#676767; font-weight:bold; font-size:14px}
.news_menu a{color:#fff}

/*responsive template*/

@media (max-width:480px){
.w600 { width:320px !important; }
.w560 { width:300px !important; }
.w20 { width:10px !important; }
.w600 img {max-width:320px !important; height:auto !important;}
.w560 img {max-width:300px !important; height:auto !important;}
}

@media (min-width: 480px) and (max-width: 600px){
.w600 { width:480px !important; }
.w560 { width:460px !important; }
.w20 { width:10px !important; }
.w600 img {max-width:480px !important; height:auto !important;}
.w560 img {max-width:480px !important; height:auto !important;}
}

@media (min-width:600px){
.w600 { width:600px !important; }
.w560 { width:560px !important; }
.w20 { width:20px !important; }
.w600 img {max-width:600px !important;  height:auto !important;}
.w560 img {max-width:560px !important;  height:auto !important;}
}



