body{background-color:#DDDDDD} 
h1 { color:#454545 !important; font-size:24px; font-weight:bold; margin:0px; } 
h2 {  color:#009900 !important; font-size:18px; font-weight:bold; margin:0px; margin-bottom:10px; padding-bottom:4px; border-bottom: 1px solid #d6d6d6; } 
h3 {  color:#3366ff !important; font-weight:bold; font-size:18px; margin:10px 0px; } 
h4 {  color:#006600 !important; font-weight:bold; margin:0px; padding:0px } 
a {  cursor:pointer; color:#3366ff; text-decoration:none; border:none; } 
.acymailing_unsub {color:#dddddd; text-decoration:none; font-size:13px; text-align:center; font-family:Times New Roman, Times, serif; padding-top:10px} 
.acymailing_readmore {cursor:pointer; color:#ffffff; background-color:#009900; border-top:1px solid #9d0000; border-bottom:1px solid #9d0000; padding:3px 5px; font-size:13px;} 
.acymailing_online {color:#dddddd; text-decoration:none; font-size:13px; margin:10px; text-align:center; font-family:Times New Roman, Times, serif; padding-bottom:10px;} 
a img{ border:0px; text-decoration:none;} 
.acyfooter a{
	color:#333;
}
.dark{
	color:#111;
	font-weight:bold;
}

div,table,p, body{font-family:"Century Gothic", sans-serif;font-size:13px;color:#575757;}



@media (min-width:10px){
	table[class=w600], td[class=w600] { width:320px !important; }
	table[class=w540], td[class=w540] { width:260px !important; }
	td[class=w30] { width:30px !important; }
	.w600 img {max-width:320px; height:auto !important; }
	.w540 img {max-width:260px; height:auto !important; }
}

@media (min-width: 480px){
	table[class=w600], td[class=w600] { width:480px !important; }
	table[class=w540], td[class=w540] { width:420px !important; }
	td[class=w30] { width:30px !important; }
	.w600 img {max-width:480px; height:auto !important; }
	.w540 img {max-width:420px; height:auto !important; }
}

@media (min-width:600px){
	table[class=w600], td[class=w600] { width:600px !important; }
	table[class=w540], td[class=w540] { width:540px !important; }
	td[class=w30] { width:30px !important; }
	.w600 img     {max-width:600px; height:auto !important; }
	.w540 img {max-width:540px; height:auto !important; }
}
