body{background-color:#eee;} 
h1 { font-family:'Century Gothic'!important;color:#0856a1!important;font-size:20px;font-weight:bold; } 
h2 { font-family:'Century Gothic'!important;color:#0856a1 !important;font-size:18px; } 
h3 { font-family:'Century Gothic'!important;font-size:16px;font-weight:bold; } 
h4 { font-family:'Century Gothic'!important;font-size:14px;font-style:italic;font-weight:bold;text-decoration:underline; } 
h5 { font-family:'Century Gothic'!important; } 
h6 { font-family:'Century Gothic'!important; } 
a { color: #0856a1; text-decoration: underline;font-family:'Century Gothic'!important; } 
.acymailing_unsub {color: #cecece;font-size: 10px;font-family:'Century Gothic'!important;} 
.acymailing_content {font-family:'Century Gothic'!important;} 
.acymailing_title {font-family:'Century Gothic'!important;} 
.acymailing_readmore {background:#f20000;color:#fff;padding:10px;font-family:'Century Gothic'!important;} 
a img{ border:0px; text-decoration:none;} 
table,div {
font-family:"Century Gothic";
font-size: 12px;}

.light {
color: #728FBD;
font-size: 10px;
text-align: center;
}

a img {
padding: 2px 5px;
}