body{background-color:#FFFFFF} 
ul { list-style-type: bullet } 
li { font-size: 12pt; margin-bottom: 5px; } 
a img{ border:0px; text-decoration:none;} 
table, div, p {
	font-family:Century Gothic, Helvetica, sans-serif;
	font-size:14px;
}
p{margin:0px; padding:0px}

.special h2{font-size:24px;
	margin:0px;
	margin-bottom:15px;
	padding:0px;
	font-weight:bold;
	color:#01bbe5 !important;
	text-transform:none;
	border:none}

.links a{color:#ababab}

a, a:hover, a, a {
  color: #ccc;
}

h1, h2, h3, h4, h5 {
    margin: 0;
	padding: 0;
}

.gradient {
  background: #c7002c;

}
.w30 {
  background-color: #fff;
}

@media (min-width:10px){
	table[class=w600], td[class=w600] { width:320px !important;}
	table[class=w540], td[class=w540] { width:260px !important;}
	td[class=w30] { width:30px !important;}
	.w600 img {max-width:320px; height:auto !important}
	.w540 img {max-width:260px; height:auto !important}
}

@media (min-width: 480px){
	table[class=w600], td[class=w600] { width:480px !important;}
	table[class=w540], td[class=w540] { width:420px !important;}
	td[class=w30] { width:30px !important;}
	.w600 img {max-width:480px; height:auto !important}
	.w540 img {max-width:420px; height:auto !important}
}

@media (min-width:600px){
	table[class=w600], td[class=w600] { width:600px !important;}
	table[class=w540], td[class=w540] { width:540px !important;}
	td[class=w30] { width:30px !important;}
	.w600 img {max-width:600px; height:auto !important}
	.w540 img {max-width:540px; height:auto !important}
}