h1 { margin-top: 5px;color: #0856a1; font-size: 22px; text-transform: uppercase } 
.acymailing_content {color:#000;font-family:Century Gothic; font-size: 12px;} 
a img{ border:0px; text-decoration:none;} 
body, table, tr, td, div , td{
  font-family: "Century Gothic";
  color: #111;
  font-size: 12px;
}

.button a {
  background-color: #f20000;
  padding: 5px 10px;
  color: #fff;
  display: block;
  float: right;
  text-decoration: none;
  margin: 10px 0 0 0;
}