h1 { font-size:20px; } 
h2 { font-size:18px; } 
h3 { font-size:16px; } 
h4 { font-size:14px;font-weight:bold; } 
h5 { font-size:14px;text-decoration:underline; } 
h6 { font-size:12px;font-weight:bold; } 
a { color:#0856a1; } 
.acymailing_unsub {color:#ccc;} 
a img{ border:0px; text-decoration:none;} 
body {
  font-family: "Century Gothic";
}

table {
  max-width: 600px;
  margin: 0 auto;
}

p.small-black {
  letter-spacing: -1px;
  color: #000;
  display: block;
  margin: 0;
  padding: 0;
}

p.large-blue {
  color: #0856a1;
  letter-spacing: -2px;
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.right {
  text-align: right;
}