body{background-color:#a4ddec;} 
h1 { color:#71aebc; font-weight:normal; font-size:28px; margin:0 0 15px; padding:0px;  line-height:42px; letter-spacing:-2px; text-transform:uppercase; } 
h2 { color:#aa595c; font-weight:bold; font-size:14px; text-transform:uppercase; margin:0 0 10px; padding:0px; } 
h3 { color: #aa595c; font-size: 14px; font-weight: bold; margin: 0px; padding: 0; } 
a { cursor:pointer;   color:#df8a5e;   text-decoration:none;   border:none; } 
.acymailing_unsub {color:#4f8696 !important;   text-decoration:underline;   cursor:pointer;} 
.acymailing_content {color:#7e7e7e;} 
.acymailing_readmore {cursor:pointer; font-weight:bold; color:#bc4e4f;} 
.acymailing_online {color:#4f8696 !important;   text-decoration:underline;   cursor:pointer;} 
a img{ border:0px; text-decoration:none;} 


body {
	
	color:#7e7e7e;
}
table, div {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}











.acymailing_forward {
	color:#4f8696 !important;
	text-decoration:underline;
	cursor:pointer;
}





.menulinks a{color:#4f8696;}

p{margin:0px; padding:0px}



/*responsive template*/

@media (max-width:480px){
.w600 { width:340px !important;}
.w520 { width:290px !important;}
.w40 { width:15px !important;}
.w600 img {max-width:340px !important; height:auto !important;}
.w520 img {max-width:290px !important; height:auto !important;}
}

@media (min-width: 480px) and (max-width: 600px){
.w600 { width:480px !important;}
.w520 { width:440px !important;}
.w40 { width:40px !important;}
.w600 img {max-width:480px !important; height:auto !important;}
.w520 img {max-width:440px !important; height:auto !important;}
        }

@media (min-width:600px){
.w600 { width:600px !important;}
.w520 { width:520px !important;}
.w40 { width:40px !important;}
.w600 img {max-width:600px !important; height:auto !important;}
.w520 img {max-width:520px !important; height:auto !important;}
}



