body {font-family: "Century Gothic"; font-size: 16px;}
label {margin-right: 10px;}
input {padding: 0px 8px; text-align: right; margin-right: 10px; float: right;}
div {display: block;}
#wrapper {margin:0 auto; width: 100%; max-width: 800px;  padding: 10px 15px!important;}
#header	{padding-bottom: 10px;}
#menu {height: 30px; color: #fff; }
#menu ul {list-style-type: none; margin-left:-40px;}
#menu ul li {float: left; width: 20%; border-right: 1px solid #ccc; text-align: center; background-color: #0856a1; }
#menu a, #menu a:hover, #menu a:active {color: #fff; text-decoration: none; padding: 5px 10px;line-height: 30px;}
.right {float: right; clear: both;}
#orderNumber {margin-left: 0;}
#orderHeader {margin-top: 10px;}
#content .row {padding: 5px 0;}
#orderContentHeader {background-color: #333; color: #fff; font-weight: 700;}
.row .sub, .row .main {margin-left: 0; margin-right: 0;}
.main {background-color: #bbb; color: #333;}
.currency {text-align:right;}
.currency::before {content:"$";}
.sub input {width: 85px;}
.ttlprice {font-weight: 900; font-size: 20px; color: #72c958; border: none; width: 100px!important;}
input.ttlprice::before {content:"$";}
.ttlpaid {color: #000;}
.sum, .price {border: none; text-align: right;}
input.price {width: 25px; padding: 0;};
#signature {border-bottom: 1px solid #111;}
.button {background: #0856a1; padding: 5px 10px; color: #fff; float: right; margin-bottom: 20px;}


@media print {
 @page 
    {
        size: auto;   /* auto is the initial value */
        margin: 5mm;  /* this affects the margin in the printer settings */
    }
.noprint {display: none}
input {border: none;text-align:left;}
.underline {border-bottom: 1px solid #000;}
.row .main{border-top: 1px #ccc solid;}
.sub input {border-top: none; border-bottom: 1px solid #111; border-left: none; border-right: none; width: 70px;}
}

@media screen and (max-width: 900px) {
.sub input {width: 50px;}

}
