body {
  font-family:"Century Gothic";
  font-size: 14px;  
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
th {
  border: 1px solid #fff;
  padding: 1px;
}
p {
  font-size: 14px;
}
#pricebook {
  float:left;
  width:100%;
  
}
ul.button {
  padding: 0;
}
li {
list-style-type: none;
font-size: 12px;

}

li:hover, .active {
background: #4273dd;
color: #fff;
transition:all 0.5s ease;
cursor: pointer;
padding-left: 5px;

}

.gray.active {
color: #111;
background: #4273dd;	
}

#catHead li {
list-style-type: inherit;
border: none;
margin: 0;
padding: 0;
font-size: 12px;
text-align: left;
}

#catHead li:hover, .active {

}


.category_header h1 {
  width: 100%;
  color: #eee;
  text-align: center;
  padding: 10px 0px;
  font-size: 32px;
  text-transform: uppercase;
  
}
.main_heading h1 {  
  color: #111;
  background: #ddd;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  
}
.center {
	
	text-align: center;
	
}

.right {
	
	text-align: right;
	padding-right: 30px;
}

th:hover {
  cursor: pointer;
}
.main_heading  h1:hover {
  background: #747474;
  transition:all 0.5s ease
}
.category_header {
  background: #4273dd;
  padding: 0;
  margin: 1px;
  color: #fff;
  
}

.category_dealer_net {
  background: #83a3e9;
  color: #111;
  text-align: center;
  border: 1px solid #fff;
}

#pricing  {
  border:1px solid #ccc;
  font-size: 13px;
 
  
  }
  
table {
  border-collapse: collapse;
  float: left;
  width: 100%;
}

th h1 {
  text-align: left;
  
}

table tr {
  border: 1px solid #111;
}

table thead tr {
  border: none;
}

td {
  border: 1px solid #ccc;
}

div#sidebar-left {
  float: left;
  width: 19%;
  padding: 0 3px;
}
div#sidebar-right {
  float: right;
  width:80%;
}
.small_cell {
  max-width: 60px!important;
  min-width: 60px!important;
  
}

#page-header {
  border-bottom: 1px solid #ccc;
  float: left;
  height: 80px;
  width: 100%;
}

#page-header img {
  float: left;
  margin: 0 10% 0 0;
  
}
.listbutton {
  background: #0d559f;
}

.listbutton a {
  color: #fff;
  text-align: center;	
}

.listbutton h1 {
  font-size: 14px;	
}
.listheader {
  background: #0955a1;
  color: #fff;  
  font-size: 12px;
  text-align: center;
  padding: 3px 0;
  }

.listsubheader {
  
  margin-left: 5px;
}

.gray {
 
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0;
  margin-top: 2px;
  border-bottom: 1px solid #bbb;
  	
}
li.sublist {
  border: none!important;
  margin-left: 20px;  	
}

li.sublist:hover {
  background: #95B9F0;  	
}

li.listheader:hover, li.listsubheader:hover {
  background: #828282;  
}

@media print {
  tr,td,th {page-break-inside:avoid; border: 1px solid #000!important; background:transparent;}
  thead {display: table-header-group}
  .NoPrint {visibility:hidden; display:none;}
  div#sidebar-right {width:100%!important;}
  a {color:#000000;}
  body {color: #000;}
}

#actionBar {
  width: 100%;
  float: left;
  padding: 5px;
  
}

#catHead img {
 display: none;
}

#catHead p, #catHead h1 {
  margin: 0;
}

.top10 {
  font-weight: 900;
  text-transform: impact;
  background: #ddd;
}

