
/*		Common class for clickable panels
---------------------------------------------------------------*/

.su-panel-clickable {
	cursor: pointer;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	transition: opacity .2s;
}
.su-panel-clickable:hover {
	opacity: 0.75;
	filter: alpha(opacity=75);
}

/*		Panel
---------------------------------------------------------------*/

.su-panel {
	position: relative;
	width: 100%;
	background: inherit;
	color: inherit;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin-bottom: 25px;
	border: 1px solid #dddddd;
}
.su-panel-content { padding: 1em 1.5em; position: relative; z-index: 1; }

.su-panel-has-icon {overflow: hidden;}

.su-panel.sup-align-right .su-panel-content {
	text-align: right;
}
.su-panel.sup-align-center .su-panel-content {
	text-align: center;
}

i.su-panel-icon {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
	font-size: 10em;
	transform: translateX(25%) translateY(25%);
	color: rgba(0,0,0,0.1);
}
img.su-panel-image {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
}


/* child element style fix */

.su-panel .su-panel-content > h1, 
.su-panel .su-panel-content > h2, 
.su-panel .su-panel-content > h3, 
.su-panel .su-panel-content > h4, 
.su-panel .su-panel-content > h5, 
.su-panel .su-panel-content > h6 {
	margin-top: 10px;
}
.su-panel .su-icon-list .icon_list_item { padding-bottom: 0;}
.su-panel .su-icon-list.su-icon-align-top .icon_list_item { padding-top: 15px;}

.su-panel .su-panel-content .su-icon { margin-bottom: 0; }

.su-panel .social-like {
	display: inline-block;
}
.su-panel .social-like:last-child .sl_button {
	margin-right: 0;
}
.su-panel .social-like .sl_button {
	float: none;
}
.su-panel .su-panel-content .su-gmap:last-child {
	margin-bottom: 0;
}