An order has been placed via Valley Craft E-Commerce. Please reference the order below.

<div style="font-family:Arial, Helvetica, sans-serif; font-size: 12px!important; width:725px;>
<table width="700" cellpadding="1px">
  <tr>
    <td height="115" colspan="6"><img src="http://www.valleycraft.com/stage/images/Valley-Craft-Logo-2.png" alt="Valley Craft Industries - Go to our home page" width="244" height="70" /></td>
  </tr>
  <tr>
    <td>DATE</td>
    <td> <?php echo date("m-d-Y",$data->cart->order_created) ?></td>
    <td colspan="4" rowspan="2"> </td>
  </tr>
  <tr>
    <td>ORDER#</td>
    <td> <?php echo '<a href="'.$order_url.'">'. $url.'</a>'; ?></td>
  </tr>
  <tr>

    <td>BILLING ADDRESS</td>
    <td>{VAR:BILLING_ADDRESS}</td>
    <td>SHIP TO ADDRESS</td>
    <td colspan="3">{VAR:SHIPPING_ADDRESS}</td>
  </tr>
</table>

<table width="700" border="1" cellpadding="1px">
  <tr>
    <td>PAYMENT METHOD</td>
    <td>SHIPPING METHOD</td>
    <td>SHIPPING TERMS</td>
    <td>SPECIAL INSTRUCTIONS/COMMENTS</td>
  </tr>
  <tr>
    <td>
    <!--{IF:PAYMENT}-->
    {VAR:PAYMENT}
    <!--{ENDIF:PAYMENT}-->
    <!--{IF:CREDIT_CARD}-->
    {TXT:CUSTOMER_PAID_WITH_CREDIT_CARD}<br />
    
    <!--{IF:CREDIT_CARD_OWNER}-->
        {TXT:CREDIT_CARD_OWNER} : {VAR:CREDIT_CARD_OWNER}<br />
      <!--{ENDIF:CREDIT_CARD_OWNER}-->
        
    {TXT:END_OF_CREDIT_CARD_NUMBER} : {VAR:END_OF_CREDIT_CARD_NUMBER}<br />
        
    <!--{IF:CARD_VALIDATION_CODE}-->
        {TXT:CARD_VALIDATION_CODE} : {VAR:CARD_VALIDATION_CODE}<br />
    <!--{ENDIF:CARD_VALIDATION_CODE}-->
      
        {TXT:CREDITCARD_WARNING}
  <!--{ENDIF:CREDIT_CARD}-->    
    </td>
    <td>
  <!--{IF:SHIPPING}-->
  {TXT:HIKASHOP_SHIPPING_METHOD} : {VAR:SHIPPING}
  <!--{ENDIF:SHIPPING}-->
    </td>
    <td><?php echo $data->order_shipping_eta; ?></td>
    <td>{VAR:ORDER_SUMMARY}</td>
  </tr>
</table>

<table width="700" border="1" cellpadding="1px">
  <tr>
    <td>PRODUCT #</td>
    <td>DESCRIPTION</td>
    <td>QTY</td>
    <td>UNIT PRICE</td>
    <td>LINE TOTAL</td>
  </tr>
  <!--{START:PRODUCT_LINE}-->
  <tr>
    <td>{LINEVAR:PRODUCT_CODE}</td>
    <td>{LINEVAR:PRODUCT_NAME}</td>
    <td>{LINEVAR:PRODUCT_QUANTIY}</td>
    <td>{LINEVAR:PRODUCT_PRICE}</td>
    <td>{LINEVAR:PRODUCT_TOTAL}</td>
  </tr>
  <!--{END:PRODUCT_LINE}-->
</table>

<table width="300" border="1" cellpadding="1px">
<!--{START:ORDER_FOOTER}-->
  <tr>
    <td colspan="3" >{LINEVAR:NAME}</td>
    <td style="text-align:right">{LINEVAR:VALUE}</td>
  </tr>
<!--{END:ORDER_FOOTER}-->
  <tr>
    <td>{TXT:ORDER_END_MESSAGE}
    </td>
  </tr>
</table>
</div>
<?php echo //"<pre>" .nl2br(print_r($data,true)). "</pre>"; ?>

