@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300|Dosis:400,300,700';

@base-body-font-family: 'Open Sans';
@base-heading-font-family: 'Dosis';
@base-heading-font-weight: 400;
@global-link-color: #2ecc71;
@global-link-hover-color: #25A259;
@theme_toolbar-link-color: #2ecc71;
@theme_toolbar-color: #7c7979;
@theme_toolbar-link-hover-color: #e82650;
@base-selection-background: #2ecc71;
@global-primary-background: #2ecc71;
@theme_header-background-color: #fff;
@theme_expanded_top-background-color: #fff;
@navbar-nav-color: #333;
@navbar-nav-hover-color: #000;
@navbar-nav-onclick-color: #000;
@navbar-nav-active-color: #000;
@theme_top_b-background-color: #ffffff;
@theme_top_b-color: #666666;
@theme_top_b-title-color: #444444;
@theme_features-background-color: #f2f2f2;
@theme_fullwidth_bottom-background-color: #f2f2f2;
@theme_top_d-color: #ffffff;
@theme_top_d-title-color: #eeeeee;

.cbp-l-caption-title {
    font-size: 20px;
}