<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined offset: 11 in C:\LocalDev\www\ValleyCraft\modules\mod_universal_ajaxlivesearch\themes\clear.css.php on line <i>19</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0004</td><td bgcolor='#eeeeec' align='right'>247896</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\LocalDev\www\ValleyCraft\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0787</td><td bgcolor='#eeeeec' align='right'>6097520</td><td bgcolor='#eeeeec'>Joomla\CMS\Application\CMSApplication->execute(  )</td><td title='C:\LocalDev\www\ValleyCraft\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>49</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.5543</td><td bgcolor='#eeeeec' align='right'>32097656</td><td bgcolor='#eeeeec'>Joomla\CMS\Application\SiteApplication->render(  )</td><td title='C:\LocalDev\www\ValleyCraft\libraries\src\Application\CMSApplication.php' bgcolor='#eeeeec'>...\CMSApplication.php<b>:</b>273</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.5545</td><td bgcolor='#eeeeec' align='right'>32098384</td><td bgcolor='#eeeeec'>Joomla\CMS\Application\CMSApplication->render(  )</td><td title='C:\LocalDev\www\ValleyCraft\libraries\src\Application\SiteApplication.php' bgcolor='#eeeeec'>...\SiteApplication.php<b>:</b>780</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.5546</td><td bgcolor='#eeeeec' align='right'>32098984</td><td bgcolor='#eeeeec'>Joomla\CMS\Document\HtmlDocument->parse(  )</td><td title='C:\LocalDev\www\ValleyCraft\libraries\src\Application\CMSApplication.php' bgcolor='#eeeeec'>...\CMSApplication.php<b>:</b>1103</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>0.5546</td><td bgcolor='#eeeeec' align='right'>32099288</td><td bgcolor='#eeeeec'>Joomla\CMS\Document\HtmlDocument->_fetchTemplate(  )</td><td title='C:\LocalDev\www\ValleyCraft\libraries\src\Document\HtmlDocument.php' bgcolor='#eeeeec'>...\HtmlDocument.php<b>:</b>535</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>0.5549</td><td bgcolor='#eeeeec' align='right'>32099608</td><td bgcolor='#eeeeec'>Joomla\CMS\Document\HtmlDocument->_loadTemplate(  )</td><td title='C:\LocalDev\www\ValleyCraft\libraries\src\Document\HtmlDocument.php' bgcolor='#eeeeec'>...\HtmlDocument.php<b>:</b>720</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>0.5552</td><td bgcolor='#eeeeec' align='right'>32119336</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\LocalDev\www\ValleyCraft\templates\kirion\index.php'</font> )</td><td title='C:\LocalDev\www\ValleyCraft\libraries\src\Document\HtmlDocument.php' bgcolor='#eeeeec'>...\HtmlDocument.php<b>:</b>658</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>0.5554</td><td bgcolor='#eeeeec' align='right'>32119552</td><td bgcolor='#eeeeec'>Warp\Helper\TemplateHelper->render(  )</td><td title='C:\LocalDev\www\ValleyCraft\templates\kirion\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>16</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>0.5564</td><td bgcolor='#eeeeec' align='right'>32251232</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\LocalDev\www\ValleyCraft\templates\kirion\layouts\theme.php'</font> )</td><td title='C:\LocalDev\www\ValleyCraft\templates\kirion\warp\src\Warp\Helper\TemplateHelper.php' bgcolor='#eeeeec'>...\TemplateHelper.php<b>:</b>49</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>0.5572</td><td bgcolor='#eeeeec' align='right'>32323080</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\LocalDev\www\ValleyCraft\templates\kirion\layouts\theme.config.php'</font> )</td><td title='C:\LocalDev\www\ValleyCraft\templates\kirion\layouts\theme.php' bgcolor='#eeeeec'>...\theme.php<b>:</b>9</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>0.5634</td><td bgcolor='#eeeeec' align='right'>32641984</td><td bgcolor='#eeeeec'>Warp\Joomla\Helper\WidgetsHelper->load(  )</td><td title='C:\LocalDev\www\ValleyCraft\templates\kirion\layouts\theme.config.php' bgcolor='#eeeeec'>...\theme.config.php<b>:</b>77</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>13</td><td bgcolor='#eeeeec' align='center'>0.6924</td><td bgcolor='#eeeeec' align='right'>33922104</td><td bgcolor='#eeeeec'>Joomla\CMS\Document\Renderer\Html\ModuleRenderer->render(  )</td><td title='C:\LocalDev\www\ValleyCraft\templates\kirion\warp\systems\joomla\src\Warp\Joomla\Helper\WidgetsHelper.php' bgcolor='#eeeeec'>...\WidgetsHelper.php<b>:</b>92</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>14</td><td bgcolor='#eeeeec' align='center'>0.6925</td><td bgcolor='#eeeeec' align='right'>33940632</td><td bgcolor='#eeeeec'>Joomla\CMS\Helper\ModuleHelper::renderModule(  )</td><td title='C:\LocalDev\www\ValleyCraft\libraries\src\Document\Renderer\Html\ModuleRenderer.php' bgcolor='#eeeeec'>...\ModuleRenderer.php<b>:</b>98</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>15</td><td bgcolor='#eeeeec' align='center'>0.6953</td><td bgcolor='#eeeeec' align='right'>34098584</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\LocalDev\www\ValleyCraft\modules\mod_universal_ajaxlivesearch\mod_universal_ajaxlivesearch.php'</font> )</td><td title='C:\LocalDev\www\ValleyCraft\libraries\src\Helper\ModuleHelper.php' bgcolor='#eeeeec'>...\ModuleHelper.php<b>:</b>201</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>16</td><td bgcolor='#eeeeec' align='center'>0.6995</td><td bgcolor='#eeeeec' align='right'>34599408</td><td bgcolor='#eeeeec'>OfflajnSearchThemeCache->generateCache(  )</td><td title='C:\LocalDev\www\ValleyCraft\modules\mod_universal_ajaxlivesearch\mod_universal_ajaxlivesearch.php' bgcolor='#eeeeec'>...\mod_universal_ajaxlivesearch.php<b>:</b>102</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>17</td><td bgcolor='#eeeeec' align='center'>0.6995</td><td bgcolor='#eeeeec' align='right'>34599664</td><td bgcolor='#eeeeec'>OfflajnSearchThemeCache->generateCSSCache(  )</td><td title='C:\LocalDev\www\ValleyCraft\modules\mod_universal_ajaxlivesearch\classes\cache.class.php' bgcolor='#eeeeec'>...\cache.class.php<b>:</b>79</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>18</td><td bgcolor='#eeeeec' align='center'>0.7211</td><td bgcolor='#eeeeec' align='right'>34688568</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\LocalDev\www\ValleyCraft\modules\mod_universal_ajaxlivesearch\themes\clear.css.php'</font> )</td><td title='C:\LocalDev\www\ValleyCraft\modules\mod_universal_ajaxlivesearch\classes\cache.class.php' bgcolor='#eeeeec'>...\cache.class.php<b>:</b>131</td></tr>
</table></font>
@import url("https://fonts.googleapis.com/css?family=Viga:400&subset=Latin");
    
#search-form296 input::-ms-clear{
  width: 0;
  height: 0;
}

#search-form296 input::focus {
  outline: none;
}#offlajn-ajax-search296{
  width: 100%;
  float: left;}

#offlajn-ajax-search296 .offlajn-ajax-search-container{
  background-color: #f2f2f2;
  padding: 0px;
  margin:0;
}

#offlajn-ajax-search296 .offlajn-ajax-search-container.active{
  background-color: #d2d2d2;
}

#search-form296 div{
  margin:0;
  padding:0;
}

#offlajn-ajax-search296 .offlajn-ajax-search-inner{
  width:100%;
}

#search-form296{
  margin:0;
  padding:0;
  position: relative;
}

#search-form296 input{
  padding-top:1px;
  /*font chooser*/
    color: #000111;
  font-family: 'Century Gothic';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
    text-shadow: none;
    text-decoration: none;
  text-transform: none;
  line-height: 20px;
  /*font chooser*/
}

.dj_ie #search-form296 input{
  padding-top:0px;
}

#search-form296 input:focus{
/*  background-color: #FFFFFF;*/
}

.dj_ie7 #search-form296{
  padding-bottom:0px;
}

#search-form296 .category-chooser{
  height: 17px;
  width: 23px;
  border-left: 1px #dadada solid;
/*  border-right: none;*/
  background-color: transparent;
  position: absolute;
  right: 1px;
  top:5px;
  z-index: 5;
}

#search-form296 .category-chooser:hover{
  -webkit-transition: background 200ms ease-out;
  -moz-transition: background 200ms ease-out;
  -o-transition: background 200ms ease-out;
  transition: background 200ms ease-out;
/*  background-color: #ffffff;*/
}

#search-form296 .category-chooser.opened{
  height:26px;
  border-bottom: none;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  background-color: #ffffff;
  top:1px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.15);
}

#search-form296 .category-chooser.opened .arrow{
  height: 26px;
}

#search-form296 .category-chooser .arrow{
  height: 17px;
  width: 23px;
  background: no-repeat center center;
  background-image: url('/modules/mod_universal_ajaxlivesearch/cache/296/d4d8cb5998ec3c261f65457cf6c89dcd.png');
}

input#search-area296{
  display: block;
  position: relative;
  height: 27px;
  padding: 0 30px 0 30px;
  width: 100%;
  box-sizing: border-box !important; /* css3 rec */
  -moz-box-sizing: border-box !important; /* ff2 */
  -ms-box-sizing: border-box !important; /* ie8 */
  -webkit-box-sizing: border-box !important; /* safari3 */
  -khtml-box-sizing: border-box !important; /* konqueror */
  background-color: transparent;

  border: 1px #bfbfbf solid;
/*  border:none;*/
  line-height: 27px;
  z-index:4;
  top:0px;
  float: left;
  margin: 0;

  /*if category chooser enabled*/

  }

.dj_ie #search-area296{
  line-height: 25px;
  border:none;
  top:1px;
}

.dj_ie7 #search-area296{
  height: 25px;
  line-height: 25px;
}

input#suggestion-area296{
  display: block;
  position: absolute;
  height: 27px;
  padding: 0 60px 0 30px;
  width: 100%;
  box-sizing: border-box !important; /* css3 rec */
  -moz-box-sizing: border-box !important; /* ff2 */
  -ms-box-sizing: border-box !important; /* ie8 */
  -webkit-box-sizing: border-box !important; /* safari3 */
  -khtml-box-sizing: border-box !important; /* konqueror */
  color:rgba(0, 0, 0, 0.25);

  border: 1px #bfbfbf solid;
  line-height: 27px;
  z-index:1;

  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.15);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.15);

  float: left;
  margin: 0;

  /*if category chooser enabled*/

    top:0px;
}

.dj_ie8 input#suggestion-area296{
  line-height: 25px;
}

.dj_ie7 input#suggestion-area296{
  height: 26px;
  line-height: 25px;
  float: right;
  left:1px;
  top:1px;
  border:none;
}

.search-caption-on{
  color: #aaa;
}

#search-form296 #search-area-close296.search-area-loading{
  background: url(/modules/mod_universal_ajaxlivesearch/themes/simple/images/loaders/fadinglines.gif) no-repeat center center;
}

#search-form296 #search-area-close296{
    background: url(/modules/mod_universal_ajaxlivesearch/themes/simple/images/close/x9.png) no-repeat center center;
  background-image: url('/modules/mod_universal_ajaxlivesearch/cache/296/975b2f5a36aec10862ec1e5deced54f0.png');
    height: 16px;
  width: 22px;
  top:50%;
  margin-top:-8px;
  right: 5px;
    position: absolute;
  cursor: pointer;
  visibility: hidden;
  z-index:5;
}

#ajax-search-button296{
  height: 27px;
  width: 30px;
  border-left: 1px #cecece solid;

  background: transparent;
  float: left;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index:5;
}

.dj_ie7 #ajax-search-button296{
  top: 1px;
  right: -1px;
}

.dj_opera #ajax-search-button296{
  border-radius: 0;
}

#ajax-search-button296 .magnifier{
    background: url(/modules/mod_universal_ajaxlivesearch/themes/simple/images/search_button/magnifier_strong_large.png) no-repeat center center;
    height: 27px;
  width: 30px;
  padding:0;
  margin:0;
}

#ajax-search-button296:hover{

}

#search-results296{
  position: absolute;
  top:0px;
  left:0px;
  margin-top: 2px;
  visibility: hidden;
  text-decoration: none;
  z-index:1000;
  font-size:12px;
  width: 100%px;
}

#search-results-moovable296{
  position: relative;
  overflow: hidden;
  height: 0px;
  background-color: #ffffff;
  border: 1px #cdcdcd solid;

}


#search-results-inner296{
  position: relative;
  width: 100%px; /**/
  overflow: hidden;
/*  padding-bottom: 10px;*/
}

.dj_ie #search-results-inner296{
  padding-bottom: 0px;
}

#search-results296 .plugin-title{
  line-height: 27px;
  font-size: 11px;
  text-transform: uppercase;
  /* Firefox */
  background-color: #f2f2f2;
  color: #;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
  text-align: left;
  border-top: 1px solid #cdcdcd;
  font-weight: bold;
  height: 100%;
  margin:0;
  padding:0;
}

#search-results296 .plugin-title.first{
  margin-top: -1px;
}

.dj_ie #search-results296 .plugin-title.first{
  margin-top: 0;
}

#search-results296 .ie-fix-plugin-title{
  border-top: 1px solid #B2BCC1;
  border-bottom: 1px solid #000000;
}


#search-results296 .plugin-title-inner{
/* -moz-box-shadow:0 1px 2px #B2BCC1 inset;*/
  -moz-user-select:none;
  padding-left:10px;
  padding-right:5px;
  float: left;
  cursor: default;

  /*font chooser*/
    color: #333333;
  font-family: 'Century Gothic';
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
    text-shadow: none;
    text-decoration: none;
  text-transform: none;
  line-height: 16px;
  text-align: center;
  /*font chooser*/
}

#search-results296 .pagination{
  margin: 8px;
  margin-left: 0px;
  float: right;
  width: auto;
  height: auto;
}

#search-results296 .pager{
  width: 10px;
  height: 11px;
  margin: 0px 0px 0px 5px;
    background: url(/modules/mod_universal_ajaxlivesearch/themes/simple/images/paginators/default/rect.png) no-repeat center center;
  
  float: left;
  padding:0;
}

#search-results296 .pager.active{

    background: url(/modules/mod_universal_ajaxlivesearch/themes/simple/images/paginators/selected/rect.png) no-repeat center center;
  
  cursor: default;
}


#search-results296 .page-container{
  position: relative;
  overflow: hidden;
  height: 195px; /* 65px num of elements */
  width: 100%px; /**/
}

#search-results296 .page-band{
  position: absolute;
  left: 0;
  width: 10000px;
}

#search-results296 .page-element{
  float: left;
  left: 0;
  cursor: hand;
}

#search-results296 #search-results-inner296 .result-element:hover,
#search-results296 #search-results-inner296 .selected-element{
  text-decoration: none;
/*  color: #737272;*/
  background-color: #f2f2f2;

/*  border-top: 1px solid #188dd9;*/
}


#search-results296 .result-element{
  display: block;
  width: 100%px; /**/
  height: 64px; /*height*/
  font-weight: bold;
  border-top: 1px solid #cdcdcd;
  overflow: hidden;
}

#search-results296 .result-element img{
  display: block;
  float: left;
  padding: 2px;
  padding-right:10px;
  border: 0;
}

.ajax-clear{
  clear: both;
}

#search-results296 .result-element span{
  display: block;
  float: left;
  width: 83px;   /*  margin:5+12 */
  margin-left:5px;
  margin-right:12px;
  line-height: 14px;
  text-align: left;
  cursor: pointer;
  margin-top: 5px;

  /*font chooser*/
    color: #0856a1;
  font-family: 'Century Gothic';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
    text-shadow: none;
    text-decoration: none;
  text-transform: none;
  line-height: left;
  /*font chooser*/

}

#search-results296 .result-element span.small-desc{
  margin-top : 2px;
  font-weight: normal;
  line-height: 13px;
  /*font chooser*/
    color: #737272;
  font-family: 'Century Gothic';
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
    text-shadow: #rgba(0,0,0,1) 0px 0px 0px;
    text-decoration: none;
  text-transform: none;
  line-height: 16px;
  /*font chooser*/
}

#search-results296 .result-element:hover span.small-desc,
#search-results296 .selected-element span.small-desc{
}

#search-results296 .result-products span{
/*  text-align: center;*/
  width: 11px;   /* padding and pictures: 10+2+60, margin:5+12  */
  margin-top: 5px;
}

#search-results296 .no-result{
  display: block;
  width: 100%px; /**/
  height: 30px; /*height*/
  font-weight: bold;
  border-top: 1px solid #cdcdcd;
  overflow: hidden;
  text-align: center;
  padding-top:10px;
}

#search-results296 .no-result-suggest {
  display: block;
  font-weight: bold;
  border-top: 1px solid #cdcdcd;
  overflow: hidden;
  text-align: center;
  padding-top:10px;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 5px;
}

#search-results296 .no-result-suggest a {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  padding-left: 4px;
}

#search-results296 .no-result-suggest,
#search-results296 .no-result-suggest a{
  /*font chooser*/
    color: #0856a1;
  font-family: 'Century Gothic';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
    text-shadow: none;
    text-decoration: none;
  text-transform: none;
  line-height: left;
  /*font chooser*/
}

#search-results296 .no-result-suggest a:hover {
  text-decoration: underline;
}

#search-results296 .no-result span{
  width: 83px;   /*  margin:5+12 */
  line-height: 20px;
  text-align: left;
  cursor: default;
  -moz-user-select:none;
}

#search-categories296{
  border: 1px #BFBFBF solid;
  border-top: none;
  background-color: #f2f2f2;
  position: absolute;
  top:0px;
  left:0px;
  visibility: hidden;
  text-decoration: none;
  z-index:1001;
  font-size:12px;
}

#search-categories296 .search-categories-inner div{
  padding:6px 30px 6px 15px;
  border-bottom: 1px #BFBFBF solid;
  cursor: default;
  /*font chooser*/
    color: #4E6170;
  font-family: "Viga",Arial, Helvetica;
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
    text-shadow: #ffffff 1px 1px 0px;
    text-decoration: none;
  text-transform: 27px;
  line-height: left;
  /*font chooser*/

  background: url(/modules/mod_universal_ajaxlivesearch/themes/simple/images/selections/unselected.png) no-repeat right center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#search-categories296 .search-categories-inner div.last{
  border:none;
}

#search-categories296 .search-categories-inner div.selected{
  background: url(/modules/mod_universal_ajaxlivesearch/themes/simple/images/selections/selected.png) no-repeat right center;
  background-color: #ffffff;
}






/*
#search-results-inner296.withoutseemore{
  padding-bottom: 10px;
}*/

#search-results296 .seemore{

  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-top: 1px solid #CDCDCD;
  background-color: #ffffff; /*f2f2f2*/
  text-align: center;
  padding-right: 10px;
}
#search-results296 .seemore:hover{
  background-color: #ffffff;
}

#search-results296 .seemore:hover span{
  /*font chooser*/
    color: #4e6170;
  font-family: 'Century Gothic';
  font-weight: bold;
  font-style: normal;
  font-size: 11px;
    text-shadow: none;
    text-decoration: none;
  text-transform: none;
  line-height: left;
  text-align: center;
  /*font chooser*/

}

#search-results296 .seemore span{
  /*font chooser*/
    color: #4e6170;
  font-family: 'Century Gothic';
  font-weight: bold;
  font-style: normal;
  font-size: 11px;
    text-shadow: #rgba(255,255,255,1) 1px 1px 0px;
    text-decoration: none;
  text-transform: none;
  line-height: left;
  text-align: center;
  /*font chooser*/

}