@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700';


@base-body-font-family: 'Roboto Slab';
@base-heading-font-family: 'Roboto Slab';
@base-heading-font-weight: 400;
@navbar-nav-font-family: 'Roboto Slab';
@base-heading-font-weight: 400;

@global-link-color: #FF6C2C;
@global-link-hover-color: #FF5A14;
@theme_toolbar-link-color: #FF6C2C;
@theme_toolbar-color: #7c7979;
@theme_toolbar-link-hover-color: #e82650;
@base-selection-background: #FF6C2C;
@global-primary-background: #FF6C2C;
@dropdown-navbar-margin:	0px;
@dropdown-navbar-background:	#fff;
@nav-navbar-color:           #666;
@nav-navbar-hover-color:     #000;
// top b
@theme_top_b-background-color: #fff;
@theme_top_b-color: #666;
@theme_top_b-title-color: #444;

@theme_top_d-background-color: #fff;
@theme_top_d-color: #666;
@theme_top_d-title-color: #444;

@theme_expanded_top-background-color: #f5f5f5;
@theme_expanded_top-color: #fff;
@theme_expanded_top-title-color: #fff;

@theme_expanded_bottom-background-color: #f5f5f5;
@theme_expanded_bottom-color: #666;
@theme_expanded_bottom-title-color: #444;

@theme_bottom_a-background-color: #FF6C2C;
@theme_bottom_a-color: #dfdfdf;
@theme_bottom_a-title-color: #fff;