/**
 * @package     pwebbox
 * @version 	2.0.0
 *
 * @copyright   Copyright (C) 2015 Perfect Web. All rights reserved. http://www.perfect-web.co
 * @license     GNU General Public Licence http://www.gnu.org/licenses/gpl-3.0.html
 */

/* Font face */
@font-face {
	/* source http://fontsforweb.com/font/show/?id=38559 */
    font-family: 'mnglwritingotf';
    src: url('../../images/fonts/mnglwritingotf.eot');
    src: local('mnglwritingotf'), url('../../images/fonts/mnglwritingotf.woff') format('woff'), url('../../images/fonts/mnglwritingotf.ttf') format('truetype');
}

/* Form background */
.pweb-theme-antique-letter.pwebbox-box .pwebbox-container,
.pweb-theme-antique-letter.ui-effects-transfer.pweb-genie {
    background-image: url('../../images/themes/antique-letter/paper.png');  /* source: http://www.freeimages.com/photo/1417411 */
    background-size: 100% 100%;
    box-shadow: none!important;
    background-color: transparent!important;
    padding: 30px 35px 5px!important;
}

.pweb-theme-antique-letter.pwebbox-box .pwebbox-container {
    border: none!important;
}

 /* Accordion Arrow */
.pweb-theme-antique-letter.pwebbox-box.pweb-accordion.pweb-accordion-boxed .pweb-arrow {
	display: none;
}

.pweb-theme-antique-letter.pwebbox-box label::first-letter {
	font-size: 160%!important;
}

/* Fields */
.pweb-theme-antique-letter.pwebbox-box .pwebbox-container form input, 
.pweb-theme-antique-letter.pwebbox-box .pwebbox-container form select, 
.pweb-theme-antique-letter.pwebbox-box .pwebbox-container form textarea {
	background: transparent;
	border: none;
	box-shadow: -1px -1px 22px rgba(0, 0, 0, 0.2) inset;
    outline: 1px dashed #917a4e;
    outline-offset: 1px;
}

/* Fields active */
.pweb-theme-antique-letter.pwebbox-box .pwebbox-container form input:focus, 
.pweb-theme-antique-letter.pwebbox-box .pwebbox-container form select:focus, 
.pweb-theme-antique-letter.pwebbox-box .pwebbox-container form textarea:focus {
	box-shadow: 0 0 5px #000, 0 1px 2px rgba(0,0,0,0.2) inset !important;
}

/* Toggler tab */
.pwebbox_toggler.pweb-theme-antique-letter,
.pwebbox_toggler.pweb-theme-antique-letter:hover,
.pwebbox_toggler.pweb-theme-antique-letter.pweb-opened {
    line-height: 35px;
    box-shadow: none;
    padding: 5px 15px;
    text-align: center;
    background-size: 100% 100%;
    background-color: transparent;
    background-image: url('../../images/themes/antique-letter/toggler.png')!important;  /* source: http://www.freeimages.com/photo/1441200  */
}

/* Little Fix for Bottom Bar */
.pweb-theme-antique-letter.pwebbox_bottombar_toggler {
    padding-right: 70px!important;
}


.pweb-horizontal.pweb-left .pwebbox_toggler.pweb-theme-antique-letter,
.pweb-horizontal.pweb-left .pwebbox_toggler.pweb-theme-antique-letter:hover {
    padding-left: 20px;
    margin-left: -15px;
}

.pweb-horizontal.pweb-right .pwebbox_toggler.pweb-theme-antique-letter,
.pweb-horizontal.pweb-right .pwebbox_toggler.pweb-theme-antique-letter:hover {
    padding-right: 20px;
    margin-right: -15px;
}


.pweb-vertical.pweb-left .pwebbox_toggler.pweb-theme-antique-letter,
.pweb-vertical.pweb-left .pwebbox_toggler.pweb-theme-antique-letter:hover,
.pweb-vertical.pweb-left .pwebbox_toggler.pweb-theme-antique-letter.pweb-opened {
    background-image: url('../../images/themes/antique-letter/toggler-vertical-left.png')!important;  /*  source: http://www.freeimages.com/photo/1441200  */
    padding: 20px 10px 15px 5px;
}
.pweb-vertical.pweb-left .pwebbox_toggler.pweb-theme-antique-letter.pweb-rotate {
    padding: 15px 10px 20px 5px;
}


.pweb-vertical.pweb-right .pwebbox_toggler.pweb-theme-antique-letter,
.pweb-vertical.pweb-right .pwebbox_toggler.pweb-theme-antique-letter:hover,
.pweb-vertical.pweb-right .pwebbox_toggler.pweb-theme-antique-letter.pweb-opened {
    background-image: url('../../images/themes/antique-letter/toggler-vertical-right.png')!important;  /*  source: http://www.freeimages.com/photo/1441200  */  
    padding: 20px 5px 15px 10px;
}
.pweb-vertical.pweb-right .pwebbox_toggler.pweb-theme-antique-letter.pweb-rotate {
    padding: 15px 5px 20px 10px;
}


.pweb-toggler-slide .pwebbox_toggler.pweb-theme-antique-letter {
    z-index: -1!important;
}

.pweb-vertical.pweb-left.pweb-slidebox.pweb-theme-antique-letter .pwebbox-container-outset {
    padding-left: 25px !important;
}

.pweb-vertical.pweb-right.pweb-slidebox.pweb-theme-antique-letter .pwebbox-container-outset {
    padding-right: 25px !important;
}

.pweb-horizontal.pweb-top.pweb-slidebox.pweb-theme-antique-letter .pwebbox-container-outset {
    padding-top: 25px !important;
}
.pweb-horizontal.pweb-bottom.pweb-slidebox.pweb-theme-antique-letter .pwebbox-container-outset {
    padding-bottom: 25px !important;
}

.pweb-vertical.pweb-left.pweb-toggler-slide .pwebbox_toggler.pweb-theme-antique-letter {
    top: 60px !important;
    right: -45px !important;
    padding-left: 25px !important;
}

.pweb-vertical.pweb-right.pweb-toggler-slide .pwebbox_toggler.pweb-theme-antique-letter {
    top: 30px !important;
    left: -45px !important;
    padding-right: 25px !important;
}


.pweb-top .pwebbox_toggler.pweb-theme-antique-letter,
.pweb-top .pwebbox_toggler.pweb-theme-antique-letter:hover,
.pweb-top .pwebbox_toggler.pweb-theme-antique-letter.pweb-opened {
    background-image: url('../../images/themes/antique-letter/toggler-top.png')!important;  /*  source: http://www.freeimages.com/photo/1441200  */
}


.pweb-top.pweb-toggler-slide .pwebbox_toggler.pweb-theme-antique-letter,
.pweb-top.pweb-toggler-slide .pwebbox_toggler.pweb-theme-antique-letter.pweb-opened {
    bottom: -40px !important;
    padding-top: 40px !important;
    padding-bottom: 10px !important;
}
.pweb-top.pweb-offset-left.pweb-toggler-slide .pwebbox_toggler.pweb-theme-antique-letter {
    left: 15%!important;
}
.pweb-horizontal.pweb-top.pweb-offset-right.pweb-toggler-slide .pwebbox_toggler.pweb-theme-antique-letter {
    right: 15%!important;
}


.pweb-bottom.pweb-toggler-slide .pwebbox_toggler.pweb-theme-antique-letter,
.pweb-bottom.pweb-toggler-slide .pwebbox_toggler.pweb-theme-antique-letter.pweb-opened {
    top: -40px !important;
    padding-bottom: 40px !important;
    padding-top: 10px !important;
}
.pweb-bottom.pweb-offset-left.pweb-toggler-slide .pwebbox_toggler.pweb-theme-antique-letter {
    left: 2% !important;
}
.pweb-bottom.pweb-offset-right.pweb-toggler-slide .pwebbox_toggler.pweb-theme-antique-letter {
    right: 15% !important;
}


.pweb-accordion.pweb-theme-antique-letter .pwebbox_toggler.pweb-theme-antique-letter,
.pweb-accordion.pweb-theme-antique-letter .pwebbox_toggler.pweb-theme-antique-letter:hover,
.pweb-accordion.pweb-theme-antique-letter .pwebbox_toggler.pweb-theme-antique-letter:active {
    width: 200px;
    margin: 0 auto;
}


/* Links */
.pweb-theme-antique-letter.pwebbox-box .pwebbox-container a,
.pweb-theme-antique-letter.pwebbox-box .pweb-button-close {
    color: #000;
	text-decoration: none;
	background: none;
}
.pweb-theme-antique-letter.pwebbox-box .pwebbox-container a:hover {
    text-decoration: underline;
}

/* Close button */
.pweb-theme-antique-letter.pwebbox-box .pweb-button-close {
    color: #000!important;
}

/* Send button */
.pweb-theme-antique-letter.pwebbox-box .pwebbox-container form button[type="submit"] {
    background-image: url('../../images/themes/antique-letter/stamp.png')!important;
    background-size: 90% 82%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: transparent!important;
    border: medium none !important;
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    height: 160px;
    float: right;
}
.pweb-rtl.pweb-theme-antique-letter.pwebbox-box .pwebbox-container form button[type="submit"] {
    background-position: left bottom;
    float: left;
}

.pweb-theme-antique-letter.pwebbox-box .pwebbox-container form button[type="submit"]:hover {
    background-position: right bottom;
    background-color: transparent !important;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.pweb-rtl.pweb-theme-antique-letter.pwebbox-box .pwebbox-container form button[type="submit"]:hover {
    background-position: left bottom;
}

.pweb-theme-antique-letter.pwebbox-box .pwebbox-container form button[type="submit"]:focus {
    outline: none;
}

.pweb-theme-antique-letter.pwebbox-box .pwebbox-container form button[type="submit"]:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}