/* MAIN STYLES */
.pweb-theme-beez3.pwebbox-box .pwebbox-container, .pweb-theme-beez3.ui-effects-transfer.pweb-genie {
    box-shadow: 0px 7px 10px #555555;
    background-color: #fff;
}

.pweb-theme-beez3.pwebbox-box.pweb-closed .pwebbox-container {
    box-shadow: none;
}

.pweb-theme-beez3.pwebbox-box .pwebbox-container {
    padding: 15px;
}

.pweb-theme-beez3.pwebbox-box .pweb-button-close {
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: #ddd !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee", endColorstr="#dddddd");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd)) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd)) !important;
    background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd) !important;
    background-image: -webkit-linear-gradient(#eeeeee, #dddddd) !important;
    background-image: linear-gradient(#eeeeee, #dddddd) !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
    border: 1px solid #e5e5e5 !important;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0;
    padding: 0 !important;
    color: #444;
    width: 32px !important;
    height: 32px !important;
    border-right: 1px solid #ddd;
    box-shadow: 1px 0px 0px #f5f5f5 !important;
    font-size: 24px !important;
    border-radius: 3px;
}

.pweb-theme-beez3.pwebbox-box .pweb-button-close:hover, .pweb-theme-beez3.pwebbox_toggler:hover {
    background-color: #095197 !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0087d1", endColorstr="#095197");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#0087d1), to(#095197)) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0087d1), color-stop(100%, #095197)) !important;
    background-image: -webkit-linear-gradient(top, #0087d1, #095197) !important;
    background-image: -webkit-linear-gradient(#0087d1, #095197) !important;
    background-image: linear-gradient(#0087d1, #095197) !important;
    border-color: #00456b #095197 hsl(201, 100%, 16%) !important;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
}

.pweb-theme-beez3.pwebbox_toggler {
    padding: 4px 35px 4px 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 31px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
    background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
    background-image: linear-gradient(#eeeeee, #dddddd);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
    font-weight: bold;
}

.pweb-theme-beez3.pwebbox_toggler > .pweb-text {
    white-space: nowrap;
}

/* POSITION/EFFECTS SPECIFIC */
.pweb-left .pweb-theme-beez3.pwebbox_toggler {
    border-radius: 0 3px 3px 0;
}

.pweb-right .pweb-theme-beez3.pwebbox_toggler {
    border-radius: 3px 0 0 3px;
}

.pweb-bottom .pweb-theme-beez3.pwebbox_toggler {
    border-radius: 3px 3px 0 0;
}

.pweb-top .pweb-theme-beez3.pwebbox_toggler {
    border-radius: 0 0 3px 3px;
}

.pweb-theme-beez3.pwebbox_toggler.pweb-icon .pweb-icon {
    top: 4px;
    right: 3px;
}

/* ACCORDION FIX */
.pweb-accordion.pweb-theme-beez3 .pwebbox-container{
    box-shadow:none;
}
.pweb-accordion.pweb-theme-beez3.pwebbox-box {
    box-shadow: 0px 7px 10px #555555;
}

.pweb-vertical.pweb-theme-beez3 .pwebbox_toggler{
    padding:35px 5px !important;
}
.pweb-vertical.pweb-theme-beez3 .pwebbox_toggler > .pweb-icon{
    right:7px;
    top:4px;
}