/**
 * @package     pwebbox
 * @version 	2.0.0
 *
 * @copyright   Copyright (C) 2015 Perfect Web. All rights reserved. http://www.perfect-web.co
 * @license     GNU General Public Licence http://www.gnu.org/licenses/gpl-3.0.html
 */

/* Form background */
.pweb-theme-easter .pwebbox-container,
.pweb-theme-easter.ui-effects-transfer.pweb-genie {
    
}
.pweb-theme-easter.pweb-slidebox .pwebbox-container,
.pweb-theme-easter.pweb-modal .pwebbox-container,
.pweb-theme-easter.pweb-accordion.pweb-accordion-boxed .pwebbox-container{

}
.pweb-theme-easter.pweb-accordion .pwebbox-container {
    
}
.pweb-theme-easter.pweb-static .pwebbox-container {
    
}

/* Little fix for Bottom Bar */
.pweb-bottombar.pweb-theme-easter .pwebbox-container {
    background-repeat: repeat-x;
}
.pweb-theme-easter.pwebbox_bottombar_toggler {
    padding-right: 50px !important;
}

/* Links */
.pweb-theme-easter.pwebbox-box .pwebbox-container form a,
.pweb-theme-easter.pwebbox-box .pweb-button-close {
    color: #0065ec;
	text-decoration: none;
}
.pweb-theme-easter.pwebbox-box .pwebbox-container form a:hover {
    text-decoration: underline;
}

/* Fields */
.pweb-theme-easter.pwebbox-box .pwebbox-container form input, 
.pweb-theme-easter.pwebbox-box .pwebbox-container form select, 
.pweb-theme-easter.pwebbox-box .pwebbox-container form textarea {
	background: #fff;
	color: #333;
	border: 1px solid #aaa;
    position: relative;
}
.pweb-theme-easter.pwebbox-box .pwebbox-container form input[type="text"]::after,
.pweb-theme-easter.pwebbox-box .pwebbox-container form input[type="password"]::after,
.pweb-theme-easter.pwebbox-box .pwebbox-container form input[type="email"]::after,
.pweb-theme-easter.pwebbox-box .pwebbox-container form select::after,
.pweb-theme-easter.pwebbox-box .pwebbox-container form textarea::after {
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    background: #ff0000;
    position: absolute;
    top: 0px;
    right: 0px;
}
.pweb-theme-easter.pwebbox-box .pwebbox-container form button[type="submit"]:after {
    content: ' ';
    display: block;
    position: absolute;
    background: transparent url(../../images/themes/easter/bunny1.png) center center !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    width: 45px;
    height: 50px;
    top: -22px;
    right: -25px;
    background-color: transparent;
    transform: rotate(20deg);
}
.pweb-theme-easter.pwebbox-box .pwebbox-container form button[type="submit"] {
    padding-right: 30px !important;
}
/* Fields active */
.pweb-theme-easter.pwebbox-box .pwebbox-container form input:focus, 
.pweb-theme-easter.pwebbox-box .pwebbox-container form select:focus, 
.pweb-theme-easter.pwebbox-box .pwebbox-container form textarea:focus {
	border-color: #002991 !important;
	-webkit-box-shadow: 0 1px 2px #0048ff inset !important;
	-moz-box-shadow: 0 1px 2px #0048ff inset !important;
	box-shadow: 0 1px 2px #0048ff inset !important;
}

/* Buttons */
.pweb-theme-easter.pwebbox-box .pwebbox-container form button,
.pweb-theme-easter.pwebbox-box .pwebbox-container form .btn {
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #d02718 !important;
    padding:4px 8px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% )  !important;
    background:-ms-linear-gradient( top, #f24537 5%, #c62d1f 100% )  !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f')  !important;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f24537), color-stop(100%, #c62d1f) )  !important;
    background-color:#f24537  !important;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px 1px 0px #810e05  !important;
    -webkit-box-shadow:inset 1px 1px 0px 0px #f5978e;
    -moz-box-shadow:inset 1px 1px 0px 0px #f5978e;
    box-shadow:inset 1px 1px 0px 0px #f5978e;
    position: relative;
}

/* Buttons gradient */
.pweb-theme-easter.pweb-gradient .pwebbox-container form button,
.pweb-theme-easter.pweb-gradient .pwebbox-container form .btn {
	background-image: -moz-linear-gradient(top,#08c,#0044cc);
	background-image: -ms-linear-gradient(top,#08c, #0044cc);
	background-image: -webkit-linear-gradient(top,#08c,#0044cc);
	background-image: -o-linear-gradient(top,#08c,#0044cc);
	background-image: linear-gradient(to bottom,#08c,#0044cc);
	background-repeat: repeat-x;
}

/* Buttons on mouse over */
.pweb-theme-easter.pwebbox-box .pwebbox-container form button:hover,
.pweb-theme-easter.pwebbox-box .pwebbox-container form .btn:hover {
	background-color: #0044cc;
	background-position: 0 -30px;
}

/* Toggler tab */
.pwebbox_toggler.pweb-theme-easter {
	color: #fff;
    text-shadow: none !important;
	border: 1px solid;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	
	background-color: #0044cc;

    background: url("../../images/themes/easter/background.png") !important;
    background-size: 175% !important;
    border: none !important;

    padding-right: 35px;
    font-weight: bold;
}
.pwebbox .pwebbox_toggler.pweb-theme-easter .pweb-icon:after {
    content: ' ';
    display: block;
    position: absolute;
    background: transparent url(../../images/themes/easter/bunny2.png) center center !important;
    background-size: 50% !important;
    background-repeat: no-repeat !important;
    width: 89px;
    height: 100px;
    top: -35px;
    right: -20px;
    background-color: transparent;
    transform: rotate(20deg);
}
.pwebbox.pweb-vertical .pwebbox_toggler.pweb-theme-easter {
    padding-bottom: 30px;
}
.pwebbox.pweb-vertical .pwebbox_toggler.pweb-theme-easter .pweb-icon:after {
    content: ' ';
    display: block;
    position: absolute;
    background: transparent url(../../images/themes/easter/bunny2.png) center center !important;
    background-size: 50% !important;
    background-repeat: no-repeat !important;
    width: 89px;
    height: 100px;
    top: auto;
    bottom: -35px;
    right: -35px;
    background-color: transparent;
    transform: rotate(120deg);
}
.pwebbox.pweb-vertical .pwebbox_toggler.pweb-theme-easter.pweb-rotate {
    padding-bottom: 10px !important;
    padding-top: 30px;
}
.pwebbox.pweb-vertical .pwebbox_toggler.pweb-theme-easter.pweb-rotate .pweb-icon:after {
    content: ' ';
    display: block;
    position: absolute;
    background: transparent url(../../images/themes/easter/bunny2.png) center center !important;
    background-size: 50% !important;
    background-repeat: no-repeat !important;
    width: 89px;
    height: 100px;
    top: -40px;
    bottom: auto;
    right: -15px;
    background-color: transparent;
    transform: rotate(-60deg);
}
.pweb-theme-easter.pwebbox-box .pwebbox-container-inset:after {
    content: ' ';
    display: block;
    width: 50px;
    height: 41px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 20000;
    background: transparent url(../../images/themes/easter/small_egg1.png) center center !important;
}
/* Toggler tab border */
.pweb-top .pwebbox_toggler.pweb-theme-easter {
	border-color: #002a80 #0044cc #0044cc;
	border-color: rgba(0,0,0,0.25) rgba(0,0,0,0.1) rgba(0,0,0,0.1);
}
.pweb-vertical.pweb-left .pwebbox_toggler.pweb-theme-easter {
	border-color: #0044cc #0044cc #0044cc #002a80;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.pweb-vertical.pweb-right .pwebbox_toggler.pweb-theme-easter {
	border-color: #0044cc #002a80 #0044cc #0044cc;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.25) rgba(0,0,0,0.1) rgba(0,0,0,0.1);
}
.pwebbox-box.pweb-theme-easter:not(.pweb-modal) .pwebbox-container-outset {
    background-image: url("../../images/themes/easter/background.png");
    background-repeat: repeat;
}
.pwebbox-box.pweb-theme-easter.pweb-modal .pwebbox-container:before {
    content: ' ';
    display: block;
    background-image: url("../../images/themes/easter/background.png");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/* Toggler tab gradient */
.pwebbox_toggler.pweb-theme-easter.pweb-gradient {
	background-image: -moz-linear-gradient(top,#08c,#0044cc);
	background-image: -ms-linear-gradient(top,#08c, #0044cc);
	background-image: -webkit-linear-gradient(top,#08c,#0044cc);
	background-image: -o-linear-gradient(top,#08c,#0044cc);
	background-image: linear-gradient(to bottom,#08c,#0044cc);
}
.pweb-top .pwebbox_toggler.pweb-theme-easter.pweb-gradient {
	background-image: -moz-linear-gradient(bottom,#08c,#0044cc);
	background-image: -ms-linear-gradient(bottom,#08c, #0044cc);
	background-image: -webkit-linear-gradient(bottom,#08c,#0044cc);
	background-image: -o-linear-gradient(bottom,#08c,#0044cc);
	background-image: linear-gradient(to top,#08c,#0044cc);
}
.pweb-vertical.pweb-left .pwebbox_toggler.pweb-theme-easter.pweb-gradient {
	background-image: -moz-linear-gradient(right,#08c,#0044cc);
	background-image: -ms-linear-gradient(right,#08c, #0044cc);
	background-image: -webkit-linear-gradient(right,#08c,#0044cc);
	background-image: -o-linear-gradient(right,#08c,#0044cc);
	background-image: linear-gradient(to left,#08c,#0044cc);
}
.pweb-vertical.pweb-right .pwebbox_toggler.pweb-theme-easter.pweb-gradient {
	background-image: -moz-linear-gradient(left,#08c,#0044cc);
	background-image: -ms-linear-gradient(left,#08c, #0044cc);
	background-image: -webkit-linear-gradient(left,#08c,#0044cc);
	background-image: -o-linear-gradient(left,#08c,#0044cc);
	background-image: linear-gradient(to right,#08c,#0044cc);
}

/* Toggler tab icon */
.pwebbox_toggler.pweb-theme-easter .pweb-icon {
	font-size: 16px;
}
.pwebbox_toggler.pweb-theme-easter.pweb-shadow {
    
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
