/* MAIN STYLES */

.pweb-theme-elastica.pwebbox-box .pwebbox-container {
    padding: 15px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}

.pweb-theme-elastica.pwebbox-box .pweb-button-close {
    position: absolute;
    cursor: pointer;
    top: -8px;
    right: 21px;

    height: 32px !important;
    width: 40px !important;

    background: #ec534d !important;

    font-size: 24px !important;
    line-height: 34px !important;
    font-weight: bold;
    padding: 0 !important;
}

.pweb-theme-elastica.pwebbox-box button.pweb-button-close {
    color: #fff !important;
}

.pweb-theme-elastica.pweb-modal .pwebbox-container-inset:before, .pweb-accordion.pweb-theme-elastica.pwebbox-box:before {
    content: "";
    color: #fff;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent #ad3d39 transparent;
    position: absolute;
    right: 61px;
    top: -8px;
}

.pweb-theme-elastica.pweb-modal .pwebbox-container-inset:after, .pweb-accordion.pweb-theme-elastica.pwebbox-box:after {
    content: "";
    position: absolute;
    display: block;
    top: 24px;
    right: 21px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 20px 0 20px;
    border-color: #ec534d transparent transparent transparent;
}

.pweb-theme-elastica.pwebbox_toggler {
    font-family: Helvetica, sans-serif;
    background: #ec534d;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* POSITION/EFFECT SPECIFIC */

.pweb-accordion.pweb-theme-elastica .pweb-button-close {
    height: 40px !important;
    width: 32px !important;
    top: 10px;
    right: -8px;
}

.pweb-accordion.pweb-theme-elastica.pwebbox-box:before {
    border-width: 8px 8px 0 0;
    border-color: #ad3d39 transparent transparent transparent;
    right: -8px;
    top: 50px;
}

.pweb-accordion.pweb-theme-elastica.pwebbox-box:after {
    border-width: 20px 11px 20px 0;
    border-color: transparent #ec534d transparent transparent;
    top: 10px;
    right: 24px;
}

.pweb-accordion.pweb-theme-elastica .pwebbox-container{
    background:transparent;
    box-shadow:none;
}

.pweb-accordion.pweb-theme-elastica.pwebbox-box{
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}

.pweb-right .pweb-theme-elastica.pwebbox_toggler {
    border-left: 3px solid #E04F49;
    padding:0 15px 0 35px !important;
}

.pweb-left .pweb-theme-elastica.pwebbox_toggler {
    border-right: 3px solid #E04F49;
    padding:0 35px 0 15px !important;
}

.pweb-top .pweb-theme-elastica.pwebbox_toggler {
    border-bottom: 3px solid #E04F49;
}

.pweb-bottom .pweb-theme-elastica.pwebbox_toggler {
    border-top: 3px solid #E04F49;
}

.pweb-theme-elastica.pwebbox_toggler:hover {
    background-color: #E04F49 !important;
    border-color: #ec534d !important;
}

.pweb-vertical.pweb-theme-elastica .pwebbox_toggler{
    padding:35px 5px !important;
}
.pweb-vertical.pweb-theme-elastica .pwebbox_toggler > .pweb-icon{
    right:7px;
    top:4px;
}