/* FONTS */
/* latin-ext */
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen'), local('Oxygen-Regular'), url(//fonts.gstatic.com/s/oxygen/v5/IIPDrwV5KNJo5-LaFlLy2fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen'), local('Oxygen-Regular'), url(//fonts.gstatic.com/s/oxygen/v5/78wGxsHfFBzG7bRkpfRnCQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* MAIN STYLES */
.pweb-theme-gavickmusic.pwebbox-box .pwebbox-container, .pweb-theme-gavickmusic.ui-effects-transfer.pweb-genie {
    background-color: #fff;
    border: 1px solid #ddd;
    clear: both;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding:15px;
}

.pweb-theme-gavickmusic.pwebbox-box .pweb-button-close {
    background: #222 !important;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 20px !important;
    font-weight: bold;
    height: 32px !important;
    line-height: 32px !important;
    padding: 0 !important;
    text-align: center;
    -webkit-transition: background-color 0.12s ease-out;
    transition: background-color 0.12s ease-out;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 32px !important;
}

.pweb-theme-gavickmusic.pwebbox-box .pweb-button-close:hover,
.pweb-theme-gavickmusic.pwebbox_toggler:hover {
    background: #7cadde !important;
}
.pweb-theme-gavickmusic.pwebbox_toggler {
    background: #222;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    text-align: center;
    -webkit-transition: background-color 0.12s ease-out;
    transition: background-color 0.12s ease-out;
    font-family: 'Oxygen', Arial, sans-serif;
    text-transform: uppercase;
}

.pweb-theme-gavickmusic.pwebbox_toggler.pweb-icon .pweb-icon {
    top:1px;
    right:1px;
}

.pweb-left .pweb-theme-gavickmusic.pwebbox_toggler {
    border-radius: 0 2px 2px 0;
    padding:0 35px 0 15px !important;
}

.pweb-right .pweb-theme-gavickmusic.pwebbox_toggler {
    border-radius: 2px 0 0 2px;
    padding:0 15px 0 35px !important;
}

.pweb-bottom .pweb-theme-gavickmusic.pwebbox_toggler {
    border-radius: 2px 2px 0 0;
}

.pweb-top .pweb-theme-gavickmusic.pwebbox_toggler {
    border-radius: 0 0 2px 2px;
    position:absolute;
    top:0;
}

.pweb-vertical.pweb-theme-gavickmusic .pwebbox_toggler{
    padding:35px 5px !important;
}
.pweb-vertical.pweb-theme-gavickmusic .pwebbox_toggler > .pweb-icon{
    right:7px;
    top:4px;
}