.pweb-theme-googlematerial.pwebbox-box .pwebbox-container, .pweb-theme-googlematerial.ui-effects-transfer.pweb-genie {
    background: #FFF;
    border-bottom: 3px solid #1abc9c;
    border-radius: 4px 4px 8px 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding:15px;
}

.pweb-theme-googlematerial.pweb-modal .pweb-button-close {
    background: #1abc9c !important;
    border-radius: 0 0 0 3px;
    color: #fff;
    font-size: 24px !important;
    font-weight: bold;
    height: 32px !important;
    line-height: 32px !important;
    position:absolute;
    top:0;
    right:0;
    width: 32px !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-shadow:1px 1px 0 #15997F;
    padding:0 !important;
}

.pweb-theme-googlematerial.pweb-modal .pweb-button-close:hover{
    width:48px !important;
}
.pweb-theme-googlematerial.pwebbox_toggler:hover {
    background:#19B394 !important;
}
.pweb-theme-googlematerial.pwebbox_toggler {
    font-family:Helvetica, sans-serif;
    cursor:pointer;
    background: #1abc9c;
    padding:0 15px;
    height:40px;
    line-height:40px;
    color:#fff;
    text-transform: uppercase;
    font-size:12px;
    text-shadow:1px 1px 0 #15997F;
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
    display:block;
}

.pweb-theme-googlematerial.pwebbox_toggler > .pweb-text{
    white-space: nowrap;
}

.pweb-theme-googlematerial.pwebbox_toggler.pweb-icon .pweb-icon {
    top:5px;
    right:3px;
}

.pweb-left .pweb-theme-googlematerial.pwebbox_toggler{
    border-radius:0 4px 4px 0;
    padding:0 35px 0 15px !important;
}

.pweb-right .pweb-theme-googlematerial.pwebbox_toggler{
    border-radius:4px 0 0 4px;
    padding:0 15px 0 35px !important;
}

.pweb-top .pweb-theme-googlematerial.pwebbox_toggler{
    border-radius: 0 0 4px 4px;
}

.pweb-bottom .pweb-theme-googlematerial.pwebbox_toggler{
    border-radius: 4px 4px 0 0;
}

.pweb-accordion.pweb-theme-googlematerial .pwebbox_toggler{
    padding:0 40px 0 15px;
}

.pweb-accordion.pweb-accordion-boxed.pweb-theme-googlematerial .pweb-arrow{
    border-bottom-color:#1abc9c;
}
.pweb-accordion.pweb-accordion-boxed.pweb-theme-googlematerial .pwebbox-container{
    box-shadow: inset 0 0 15px rgba(0,0,0, 0.1);
    border:none;
}

.pweb-accordion.pweb-accordion-boxed.pweb-theme-googlematerial .pweb-arrow{
    left:5%;
}
.pweb-accordion.pweb-theme-googlematerial .pwebbox-box{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px 4px 8px 8px;
}
.pweb-accordion.pweb-theme-googlematerial .pwebbox-container{
    box-shadow:none;
}
.pweb-vertical.pweb-theme-googlematerial .pwebbox_toggler{
    padding:35px 5px !important;
}
.pweb-vertical.pweb-theme-googlematerial .pwebbox_toggler > .pweb-icon{
    right:6px;
}