.pweb-theme-magazine.pwebbox-box .pwebbox-container, .pweb-theme-magazine.ui-effects-transfer.pweb-genie {
    background-color:#F6F7F9;
    border:1px solid #e5e5e5;
    padding:15px;
}

.pweb-theme-magazine.pwebbox-box .pweb-button-close {
    background: #4d90fe !important;
    color: #fff;
    display: block;
    height: 32px !important;
    width: 32px !important;
    position:absolute;
    top:-16px;
    right:-16px;
    border-radius:16px;
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
    padding:0 !important;
}

.pweb-theme-magazine.pwebbox-box .pweb-button-close:hover{
    background:#353535 !important;
}
.pweb-theme-magazine.pwebbox_toggler:hover {
    background:#4d90fe !important;
}
.pweb-theme-magazine.pwebbox_toggler {
    padding: 7px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    background:#353535;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.pweb-theme-magazine.pwebbox_toggler.pweb-icon .pweb-icon {
    top:8px;
    right:3px;
}

.pweb-accordion.pweb-theme-magazine .pweb-button-close{
    top:5px;
    right:5px;
}

.pweb-left.pweb-theme-magazine .pwebbox_toggler{
    padding:7px 35px 7px 15px !important;
}

.pweb-right.pweb-theme-magazine .pwebbox_toggler{
    padding:7px 15px 7px 35px !important;
}

.pweb-vertical.pweb-theme-magazine .pwebbox_toggler{
    padding:35px 5px !important;
}
.pweb-vertical.pweb-theme-magazine .pwebbox_toggler > .pweb-icon{
    right:6px;
    top:4px;
}