.pweb-theme-notebook.pwebbox-box .pwebbox-container:before, .pweb-theme-notebook.ui-effects-transfer.pweb-genie:before {
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    left: 35%;
    width: 30%;
    height: 35px;
    background-color: #fff;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 0px #cccccc;
    -webkit-transform: rotate(-1deg) skew(0, 0) translate(0%, -5px);
    -ms-transform: rotate(-1deg) skew(0, 0) translate(0%, -5px);
    transform: rotate(-1deg) skew(0, 0) translate(0%, -5px);
}

.pwebbox-box.pweb-theme-notebook.pwebbox-box .pwebbox-container, .pweb-theme-notebook.ui-effects-transfer.pweb-genie {
    padding: 10px 16px 10px 30px;
    background-image: url('../../images/themes/notebook/bg.png');
    background-repeat: repeat;
    position: relative;
    box-shadow: 0 10px 20px -9px rgba(0, 0, 0, 0.5);
}

/* Little fix for Bottom Bar */
.pweb-bottombar.pweb-theme-notebook .pwebbox-container {
    position: fixed!important;
}

.pweb-theme-notebook.pwebbox-box .pwebbox-container-inset:before {
    content: "";
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    background: #DD0000;
}

.pweb-theme-notebook.pwebbox-box .pwebbox-container-inset:after {
    content: "";
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    background: #DD0000;
}

.pweb-theme-notebook.pweb-modal.pwebbox-box .pweb-button-close {
    color: #DD0000;
    position: absolute;
    top: -8px;
    right: -10px;
    background: #fff !important;
    opacity: 0.8;
    filter: alpha(opacity=60);
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 0px #cccccc;
    -webkit-transform: rotate(12deg) skew(0, 0) translate(0%, -5px);
    -ms-transform: rotate(12deg) skew(0, 0) translate(0%, -5px);
    transform: rotate(12deg) skew(0, 0) translate(0%, -5px);
    padding: 0 !important;
    width: 60px !important;
    height: 30px !important;
}

.pweb-theme-notebook.pwebbox_toggler {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    background-image: url('../../images/themes/notebook/bg.png');
    -webkit-transition: all .3s ease;;
    transition: all .3s ease;
    border-bottom: 1px solid transparent;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.pweb-theme-notebook.pwebbox_toggler > .pweb-text {
    white-space: nowrap;
}

.pweb-theme-notebook.pwebbox_toggler:hover {
    border-bottom: 2px solid #DD0000;
}

.pweb-bottom .pweb-theme-notebook.pwebbox_toggler:hover {
    border-top: 2px solid #DD0000;
    border-bottom: none;
}

.pweb-top .pweb-closed + .pweb-theme-notebook.pwebbox-box {
    margin-top: -45px;
}

.pweb-top .pweb-opened + .pweb-theme-notebook.pwebbox-box {
    margin-top: 45px;
}

.pweb-accordion.pweb-theme-notebook .pweb-arrow {
    display: none;
}

.pweb-accordion.pweb-theme-notebook .pwebbox-container {
    box-shadow: none;
    border: none;
}

.pweb-accordion.pweb-theme-notebook.pwebbox-box {
    margin-top: 30px;
}

.pweb-left.pweb-theme-notebook .pwebbox_toggler {
    padding: 7px 35px 7px 15px !important;
}

.pweb-right.pweb-theme-notebook .pwebbox_toggler {
    padding: 7px 15px 7px 35px !important;
}

.pweb-vertical.pweb-theme-notebook .pwebbox_toggler{
    padding:35px 5px !important;
}
.pweb-vertical.pweb-theme-notebook .pwebbox_toggler > .pweb-icon{
    right:6px;
}