.pweb-theme-protostar.pwebbox-box .pwebbox-container, .pweb-theme-protostar.ui-effects-transfer.pweb-genie {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    padding:15px;
}

.pweb-theme-protostar.pwebbox-box .pweb-button-close {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    height: 32px !important;
    width: 40px !important;

    color: #333;
    font-size: 24px !important;
    line-height: 30px !important;
    font-weight: bold;
    padding:0 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background: transparent !important;
    background-color: #f5f5f5 !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6)) !important;
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6) !important;
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6) !important;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 1)', endColorstr='rgba(255, 229, 229, 0.89804)', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf !important;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
    border: 1px solid #bbb !important;
    border-bottom-color: #a2a2a2 !important;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05) !important;
}

.pweb-theme-protostar.pwebbox-box .pweb-button-close:hover, .pweb-theme-protostar.pwebbox_toggler:hover {
    color: #333;
    text-decoration: none;
    background-color: #e6e6e6 !important;
    background-position: 0 -15px !important;
    -webkit-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.pweb-theme-protostar.pwebbox_toggler {
    padding: 4px 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;

    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 1)', endColorstr='rgba(255, 229, 229, 0.89804)', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #bbb;
    border-bottom-color: #a2a2a2;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}
.pweb-theme-protostar.pwebbox_toggler > .pweb-text{
    white-space:nowrap;
}
.pweb-theme-protostar.pwebbox_toggler.pweb-icon .pweb-icon {
    top: 4px;
    right: 3px;
}

.pweb-left .pweb-theme-protostar.pwebbox_toggler {
    border-radius: 0 4px 4px 0;
    padding:5px 35px 5px 15px !important;
    border-left:none;
}

.pweb-right .pweb-theme-protostar.pwebbox_toggler {
    border-radius: 4px 0 0 4px;
    padding:5px 15px 5px 35px !important;
    border-right:none;
}

.pweb-top .pweb-theme-protostar.pwebbox_toggler {
    border-radius: 0 0 4px 4px;
    border-top:none;
}

.pweb-bottom .pweb-theme-protostar.pwebbox_toggler{
    border-radius:4px 4px 0 0;
    border-bottom:none;
}

.pweb-accordion.pweb-theme-protostar .pwebbox_toggler{
    border-radius:4px;
}

.pweb-accordion.pweb-theme-protostar .pweb-arrow{
    border-bottom-color: rgba(0,0,0, 0.1);
}
.pweb-vertical.pweb-theme-protostar .pwebbox_toggler{
    padding:35px 5px !important;
}
.pweb-vertical.pweb-theme-protostar .pwebbox_toggler > .pweb-icon{
    right:6px;
}