@import 'https://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300|Quicksand:400,700,300';


@base-body-font-family: 'Open Sans';
@base-heading-font-family: 'Quicksand';
@base-heading-font-weight: 400;

@global-link-color: #ff4081;
@global-link-hover-color: #f50057;
@base-selection-background: #ff4081;
@global-primary-background: #ff4081;

// top b
@theme_top_b-background-color: #fff;
@theme_top_b-color: #666;
@theme_top_b-title-color: #444;

@theme_bottom_a-background-color: #ff4081;
@theme_bottom_a-color: #efefef;
@theme_bottom_a-title-color: #fff;