.isl_container{border:5px solid #EEE;background-color:#EEE}

/* List locations */
.isl-list-container{overflow-x:auto}
.loc-directions-details{clear:left}
#isl-listings .isl-hideInList{display:none}
#isl-listings .list-image img{max-width:98%}
#isl-listings{background-color:#EEE;display:block;clear:left;float:left;width:100%;list-style:none;margin:0;padding:0}
#isl-listings li{display:block;clear:left;float:left;margin:1% 0;cursor:pointer;width:100%;border:1px solid #fff;list-style-type:none}
#isl-listings li.list-focus{border:1px solid rgba(48,143,223,0.4);-moz-box-shadow:0 0 8px rgba(48,143,223,0.4);-webkit-box-shadow:0 0 8px rgba(48,143,223,0.4);box-shadow:0 0 8px rgba(48,143,223,0.4);transition:border 0.2s linear 0s, box-shadow 0.2s linear 0s}
#isl-listings li .list-label{float:left;margin-right:4px;max-width:35px}
#isl-listings li .list-details{float:left;margin-left:6px;width:80%}
#isl-listings li .loc-name,.gm-style-iw .loc-name{color:#18C;font-weight:bold}
#isl-listings .btn-group{margin:0 auto 1px auto;display:table}
.loc-dist{float:right;margin-right:5px}
address.loc-addr{margin-bottom:0}
address.loc-addr .loc-address{display:block}

/* Social links */
a.loc-webpage:hover{color:#FB0}
a.loc-facebook:hover{color:#3b5998}
a.loc-skype:hover{color:#aad450}
a.loc-twitter:hover{color:#00a0d1}
a.loc-linkedin:hover{color:#0073b2}
a.loc-google_plus:hover{color:#dd4b39}

/* Directions */
#isl-directions-panel-container{background:#FFF}
.isl_map_canvas{}

/* Infowindow (balloon) CSS rules*/
.gm-style-iw div{overflow:hidden;line-height:1.35;white-space:nowrap} /* Fix scrollbars*/
.gm-style-iw .loc-name{font-size:120%}
.gm-style-iw .isl-hideInMap{display:none}
.gm-style-iw .list-image img{max-width:310px}
.isl_map_canvas img{max-width:none !important} /* in order to fix incompatibilities with some templates */


/* Search bar */
.isl-search-bar{margin-top:5px;border-radius:2px 0 0 2px;box-sizing:border-box;-moz-box-sizing:border-box;outline:none;box-shadow:0 2px 6px rgba(0, 0, 0, 0.5)}
input.isl-location-search{width:153px;display:inline}
.isl-maxdistance{width:110px;display:inline}
.isl-search-bar .input-group-addon{width:auto !important} /* compatibility with Boostrap v3 */
.isl-search-bar .btn{border-radius:0} /* In order to avoid problems with Bootstrap v3*/

#isl-search-result{font-weight:700;font-size:110%}
.isl-search-bar button,.isl-search-bar .input-group-addon,.isl-search-bar input,.isl-search-bar select{padding:11px 9px;font-size:16px} /* ;height:45px */
.isl-search-bar select,.isl-search-bar input{max-height:42px;height:100%}
.isl-search-bar select{min-height:40px}

/* Filter */
.isl-box-shadow{
-moz-box-shadow: 0px 2px 4px #999;
-webkit-box-shadow: 0px 2px 4px #999;
box-shadow: 0px 2px 4px #999;
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
-khtml-border-radius: 8px;
background: #fff;
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eaeaea));
background: -moz-linear-gradient(top, #fff, #eaeaea);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea)";
opacity: 0.8;
filter: alpha(opacity=80);
}
#isl-filter_tags{min-width:130px}
#isl-filter_tags legend{margin-bottom:6px}
.isl-box-shadow:hover{opacity:1;filter:alpha(opacity=100)}
#isl-filter_tags label{display:block}

#isl-listings li.isl-hidden{display:none}
 
@media all and (min-width: 1280px){
    input.isl-location-search{width:250px}
}
@media all and (max-width: 1024px){
	/* shift down the MapControl on smaller screens */
    .gmnoprint{margin-top:35px !important}
}
@media screen and (max-width: 414px){ /* small screens up to iPhone 6+ portrait */
	.isl_container{width:90%} /* This way we have a scrollable area on the right of the map */
	.isl-search-bar .input-group-addon{display:none}
}
@media screen and (max-width: 375px){ /* small screens up to iPhone 6+ portrait */
	input.isl-location-search{width:90px}
}
@media screen and (max-width: 640px){ /* Small devices in Landscape position */
	/* Hide Find My address label, but shows icons */
	.isl-geolocate-btn span{display:none}
	.isl_container{width:90%}
	.gm-style-iw .loc-dist{float:none}
}
/* In order to avoid problems with some templates */
.gm-style img{max-width:none !important}